<div class="col-xxl-3 col-xl-4 col-md-4">
  <div class="ph-blog-sidebar">
    <div class="ph-search-bar">
      <input type="search" name="search" placeholder="Search title...">
      <a href="javascript:;" class="ph-search-icon"><i
        class="fa-solid fa-magnifying-glass"></i></a>
      </div>
      <div class="ph-side-widget">
        <h6 class="ph-title-widget">Categories</h6>
        <ul>
          <li>
            <span>Mobile Development</span>
            <span class="ml-auto">33</span>
          </li>
          <li>
            <span>Web Development</span>
            <span class="ml-auto">05</span>
          </li>
          <li>
            <span>UI/UX Designer</span>
            <span class="ml-auto">28</span>
          </li>
          <li>
            <span>Cloud Solutions</span>
            <span class="ml-auto">17</span>
          </li>
        </ul>
      </div>
      <div class="ph-newletter-blog">
        <h6 class="ph-newLatter-heading">Newsletter</h6>
        <div class="ph-newsLatter-content">
          <p>Subscribe to Weekly - Get five biggest headlines in blockchain straight to your
          inbox</p>
          <div class="ph-search-bar">
            <%= bootstrap_form_for Newsletter.new, url: newsletters_path, remote: true do |f| %>
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <%= f.email_field :email, append: f.primary("<i class='fa-solid fa-paper-plane'></i>".html_safe, render_as_button: true, class: "ph-search-icon"), hide_label: true, class: 'clear_field', required: true, wrapper: {class: 'ph-newslatter-blogs'}, placeholder: "Enter Email Id" %>
            <% end %>
          </div>
          <span class="newsletter_response_message"></span>
        </div>
      </div>
      <div class="ph-socialmedia-blog">
        <ul>
          <li>
            <a href="https://www.facebook.com/protonshub" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
            <p>2k</p>
            <h6>Likes</h6>
          </li>
          <li>
            <a href="https://twitter.com/protonshub" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <p>2k</p>
            <h6>Likes</h6>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/protonshub-technologies" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            <p>7k</p>
            <h6>Likes</h6>
          </li>
        </ul>
      </div>
      <div class="ph-trending-blog">
        <h5>Trending Blog <i class="fa-solid fa-arrow-trend-up"></i></h5>
        <div class="ph-thumbnail-box">
          <div class="ph-thumbnail-img">
           <%= image_tag "blog10-inspiring-web-dev-trends.webp" %>
         </div>
         <div class="ph-thumbnail-content">
          <h6>Jan 20, 2023</h6>
          <p>10 Inspiring Web Development Trends Of 2023 Every CTO Should Be Aware Of</p>
        </div>
      </div>
      <div class="ph-thumbnail-box">
        <div class="ph-thumbnail-img">
         <%= image_tag "blog-remote-dev.webp" %>
       </div>
       <div class="ph-thumbnail-content">
         <h6>Jan 17, 2023</h6>
         <p>Why You Should Hire A Dedicated Remote Developer In 2023</p>
       </div>
     </div>
     <div class="ph-thumbnail-box">
      <div class="ph-thumbnail-img">
        <%= image_tag "blog-mvp.webp" %>
      </div>
      <div class="ph-thumbnail-content">
        <h6>Jan 11, 2023</h6>
        <p>How To Find The Right MVP Developer For Your Startup Idea</p>
      </div>
    </div>
    <div class="ph-explore-more mb-3">
      <!-- <a href="javascript:;">Explore More <i class="fa-solid fa-arrow-right ms-2"></i></a> -->
    </div>
  </div>
</div>
</div>