<footer class="ph-footer-main">
  <div class="ph-footer-all">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4 col-xl-5">
          <div class="ph-footer-logo">
            <a href="javascript:;">
              <%= image_tag 'logo-protonshub-white.svg' %>
            </a>
          </div>
          <div class="ph-footer-content">
            <p>
              <span>
                <%= image_tag 'India.svg' %>
              </span>
              <span> 
                606-607, Princes Business Skypark, AB RD, LIG Colony, Indore, Madhya Pradesh, India.
              </span>
            </p>
            <p>
              <span>
                <%= image_tag 'call.svg' %>
              </span>
              <span>+91 93020 96166</span>
            </p>
            <p>
              <span>
                <%= image_tag 'us.svg' %>
              </span>
              <span>
                800 W El Camino Real Suite 180, Mountain View, CA 94040, United States
              </span>
            </p>
            <p>
              <span>
                <%= image_tag 'call.svg' %>
              </span>
              <span>
                +1 (650) 275-5033
              </span>
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-xl-3">
          <div class="ph-footer-list">
            <h4>Services</h4>
            <ul>
              <li>
                <%= link_to "Web Development", web_development_path %>
              </li>
              <li>
                <%= link_to "Mobile App Development", mobile_app_development_path %>
              </li>
              <li>
                <%= link_to "Dedicated Developers", dedicated_developers_path %>
              </li>
              <li>
                <%= link_to "UI/UX", ui_ux_development_path %></a>
              </li>
              <li>
                <%= link_to "MVP Development", mobile_app_development_path %>
              </li>
              <li>
                <%= link_to "Product Development", product_development_path %>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-2 col-xl-2">
          <div class="ph-footer-list">
            <h4>Important</h4>
            <ul>
              <li>
                <%= link_to "Careers", careers_path %>
              </li>
              <li>
                <%= link_to "Contact Us", contact_us_path %>
              </li>
              <li>
                <%= link_to "Terms & Policy", terms_policy_path %>
              </li>
              <li>
                <%= link_to "Sitemap", sitemap_path %>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-xl-2">
          <div class="ph-footer-list">
            <h4>Technologies</h4>
            <ul>
              <li>
                <%= link_to "Reactjs", react_js_path %>
              </li>
              <li>
                <%= link_to "React Native", react_native_path %>
              </li>
              <li>
                <%= link_to "Ruby On Rails", ror_path %>
              </li>
              <li>
                <%= link_to "Python", python_path %>
              </li>
              <li>
                <%= link_to "Node Js", node_js_path %>
              </li>
              <li>
                <%= link_to "MEAN Stack", mean_stack_path %>
              </li>
              <li>
                <%= link_to "MERN Stack", mern_stack_path %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ph-copy-right">
    <p>
      © All Rights Reserved - Protonshub Technologies
    </p>
  </div>
</footer>