<header>
  <div class="ph-main-header fixed-top">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-6">
          <div class="ph-logo">
            <a href="index.html">
              <img src="assets/logo-protonshub.svg" alt="logo">
            </a>
          </div>
        </div>
        <div class="col-xl-9 col-6">
          <div class="ph-navbar">
            <div class="ph-main-menu">
              <ul>
                <li class="ph-has-more-menu">
                  <a href="javascript:;">About Us</a>
                  <ul class="ph-submenu">
                    <li>
                      <%= link_to "Who we are", who_we_are_path %>
                    </li>
                    <li>
                      <%= link_to "Careers", careers_path %>
                    </li>
                    <li>
                      <a href="javascript:;">Award & Assciations</a>
                    </li>
                  </ul>
                </li>

                <li class="ph-has-more-menu">
                  <a href="javascript:;">Services</a>
                  <ul class="ph-submenu">
                    <li>
                      <%= link_to "Web Development", web_development_path %>
                    </li>
                    <li>
                      <%= link_to "Mobile App Development", mobile_app_development_path %>
                    </li>
                    <li>
                      <%= link_to "MVP Development", mobile_app_development_path %>
                    </li>
                    <li>
                      <%= link_to "UI/UX Development", ui_ux_development_path %>
                    </li>
                    <li>
                      <%= link_to "Product Management", product_management_path %>
                    </li>
                    <li>
                      <%= link_to "Dedicated Developers", dedicated_developers_path %>
                    </li>
                  </ul>
                </li>
                <li class="ph-has-more-menu">
                  <a href="javascript:;">Industry</a>
                  <ul class="ph-submenu">
                    <li>
                      <a href="healthcare-industry.html">Healthcare</a>
                      <!-- <ul class="ph-submenu">
                        <li class="ph-has-more-menu">
                          <a href="javascript:;">Native</a>
                          <ul class="ph-submenu">
                            <li>
                              <a href="javascript:;">Android</a>
                            </li>
                            <li>
                              <a href="javascript:;">Ios</a>
                            </li>
                            <li>
                              <a href="javascript:;">Titanium</a>
                            </li>
                            <li>
                              <a href="javascript:;">Kotline</a>
                            </li>
                          </ul>
                        </li>
                        <li class="ph-has-more-menu">
                          <a href="javascript:;">Hybrid</a>
                          <ul class="ph-submenu">
                            <li>
                              <a href="javascript:;">Xamarin</a>
                            </li>
                            <li>
                              <a href="javascript:;">React Native</a>
                            </li>
                            <li>
                              <a href="javascript:;">Flutter</a>
                            </li>
                            <li>
                              <a href="javascript:;">Ionic</a>
                            </li>
                          </ul>
                        </li>
                      </ul> -->
                    </li>
                    <li>
                      <%= link_to "Edtech", edtech_path %>
                    </li>
                    <li>
                      <%= link_to "Food", food_path %>
                    </li>
                    <li>
                      <%= link_to "Logistics & Travel", logistics_and_travel_path %>
                    </li>
                    <li>
                      <%= link_to "Fintech", fintech_path %>
                    </li>
                    <li>
                      <%= link_to "Entertainment", entertainment_path %>
                    </li>
                    <li>
                      <%= link_to "Agritech", agritech_path %>
                    </li>
                  </ul>
                </li>

                <li class="ph-has-more-menu">
                  <a href="javascript:;">Resources</a>
                  <ul class="ph-submenu">
                    <li>
                      <%= link_to "Blog", blog_path %>
                    </li>
                    <li>
                      <%= link_to "Case Studies", case_studies_path %>
                    </li>
                    <li>
                      <%= link_to "Portfolio", portfolio_path %>
                    </li>
                    <li>
                      <%= link_to "Webainrs/Podcast", webainrs_podcast_path %>
                    </li>
                    <li>
                      <%= link_to "Events", events_path %>
                    </li>
                    <li>
                      <%= link_to "Videos", videos_path %>
                    </li>
                    <li>
                      <%= link_to "Press Release", press_release_path %>
                    </li>
                    <li>
                      <%= link_to "Gallery", gallery_path %>
                    </li>
                  </ul>
                </li>

                <li>
                  <%= link_to "Contact Us", contact_us_path %>
                </li>
                <li class="ph-header-btn">
                  <a data-bs-toggle="modal" href="#ph-hire-developer" class="ph-btn">Hire
                  Developers</a>
                </li>
              </ul>
            </div>
            <div class="ph-menu-toggle">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>