<div class="modal ph-modal-blur fade" id="ph-hire-developer" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button type="button" class="btn-close ph-close-btn" data-bs-dismiss="modal"
      aria-label="Close"></button>
      <div class="ph-contact-field ph-hire-form">
        <div class="ph-modal-heading">
          <h4>Hire Developer</h4>
          <p>Create Stunning App & websites for your online business.</p>
        </div>
        <%= bootstrap_form_for Developer.new, url: developers_path, html: {class: 'ph-protons-form'}, remote: true do |f| %>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <div class="row">
            <div class="col-md-12">
              <%= f.text_field_without_bootstrap :full_name, placeholder: 'Full Name', hide_label: true %>
              <span class="inline-error dev-error-full_name" style=""></span>
            </div>
            <div class="col-md-12">
              <%= f.email_field_without_bootstrap :email, placeholder: 'Email', hide_label: true %>
              <span class="inline-error dev-error-email" style=""></span>
            </div>
            <div class="col-md-12">
              <%= f.phone_field_without_bootstrap :contact_number, placeholder: 'Contact Number', hide_label: true %>
              <span class="inline-error dev-error-contact_number" style=""></span>
            </div>
            <div class="col-md-12">
              <%= f.collection_select :technology_id, Technology.activated, :id, :name, {include_blank: ("Select Technology"), hide_label: true , wrapper: {class: ''}} %>
              <span class="inline-error dev-error-technology" style=""></span>
            </div>
            <div class="col-md-12">
              <div class="ph-contact-msg mt-0">
                <%= f.text_area_without_bootstrap :description, placeholder: 'Brief About The Project', hide_label: true %>
                <span class="inline-error dev-error-description" style=""></span>
              </div>
            </div>
            <div class="col-md-12 text-center d-block">
              <%= f.submit "Submit", class: "ph-btn ph-contact-btn" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>