<div class="ph-main-wrapper">
  <!-- Header start -->
  <%= render partial: 'header' %>
  <!-- Header end -->

  <!-- Middle Content Start -->
  <!-- Dedicated Development  start -->
  <section class="ph-app-develop-sec ph-agritech-bg">
    <div class="container">
      <div class="ph-OurTeam-content">
        <div class="row align-items-center">
          <div class="col-xxl-6 col-xl-6 col-lg-12 col-md-12 col-sm-12">
            <div class="ph-heading-title">
              <!-- <h6 class="ph-banner-tiltle">#Hire The Top Dedicated Developer </h6> -->
              <h1>
                Top-Notch AgriTech App Development Company
              </h1>
              <p>Get Agri-tech mobile solutions tailored to your needs and specifications from the top provider of
                agricultural application development.</p>
              <div class="ph-banner-btn mt-4">
                <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn remove-errors">Start a Project<i class="fa-solid fa-arrow-right ms-2"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Dedicated Development End -->
  ​
  <!-- experience start -->
  <section class="ph-experience-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-9 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Get Highly Skilled & Experienced AgriTech Developers <span>ON THE GO!</span>
            </h1>
          </div>
        </div>
      </div>
      <div class="ph-hireExp-sec">
        <div class="row align-items-center">
          <div class="col-md-6 col-sm-6">
            <div class="ph-mobileApp-img">
              <%= image_tag "agritech-about.webp", class: "ph-app-top-" %>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="ph-app-content">
              <h3>Finest AgriTech Development Services</h3>
              <p>Protonshub Agritech app development company is the top provider of agriculture software, assisting
                agricultural industries to conduct farming in a contemporary manner. Our Agritech app developers create
                highly innovative agriculture software that enables farmers to operate their businesses more profitably
                by allowing them to make data-driven decisions.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- experience end -->
  ​
  <!-- core value start -->
  <section class="ph-corevalue-sec ph-bg-color">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xxl-6 col-lg-6 col-md-6">
          <div class="ph-about-content ps-0">
            <div class="text-start">
              <h1>Protonshub High-Tech AgriTechSolutions</h1>
            </div>
            <div class="my-3">
              <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn remove-errors">Start a Project<i class="fa-solid fa-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xxl-6 col-lg-6 col-md-6">
          <div class="row">
            <div class="ph-scroll-content">
              <div class="ph-corevalue-box text-start">
                <div class="ph-content-box-value">
                  <h5>Weather Monitoring & Predictions</h5>
                  <p>
                    At Protonshub, we offer agricultural technology software solutions that forecast weather based on
                    information gathered by satellites, Internet of Things sensors, and historical datasets.
                  </p>
                </div>
              </div>
            
              <div class="ph-corevalue-box text-start">
                <div class="ph-content-box-value">
                  <h5>Drone Field Analysis Solutions</h5>
                  <p>
                    In order to create highly tailored agriculture drone software that enables UAV drones to easily
                    spray pesticides, herbicides, and fertilizer, our Agritech software development firm has skilled
                    experts who can use machine learning software tools.
                  </p>
                </div>
              </div>
              
              <div class="ph-corevalue-box text-start">
                <div class="ph-content-box-value">
                  <h5>Smart Farming Solution</h5>
                  <p>
                    With the use of robotic process automation technologies, GPS mapping, and cellular connectivity,
                    Protonshub's professionals create smart farming system solutions that incorporate automated
                    equipment and agricultural IoT devices.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- core value end -->
  ​
  <!--About Start -->
  <section class="ph-about-sec ph-agritech-sec">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-7">
          <div class="ph-about-content ps-0">
            <div class="text-start">
              <h1>Challenges We Solve</h1>
            </div>
            <p>
              We provide solutions that help the agriculture sector overcome challenges like:
            </p>
            <div class="ph-hireprice-box">
              <ul>
                <li>Supply chain management</li>
                <li>Yield efficiency</li>
                <li>Analyses of market demand</li>
                <li>Forecasting prices</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-5">
          <div class="ph-health-img">
            <%= image_tag "agritech-thumb.webp", class: "img-fluid" %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--About end -->
  <!-- Hire Dedicated start-->
  <section class="ph-download-sec ph-spacer-top ph-spacer-bottom">
    <div class="container">
      <div class="ph-health-bg">
        <div class="row">
          <div class="col-md-12">
            <div class="ph-heading-title ph-hire-title mb-0">
              <h4>Your A-Z guide to AgriTech App Development with business model and a detailed feature list is
                here.</h4>
              <div class="ph-banner-btn mt-4">
                <a href="javascript:;" class="ph-btn">Download the WhitePaper</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Hire Dedicated end -->
  <section class="ph-challenges-sec ph-agritech-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xxl-8 col-xl-8 mx-auto">
          <div class="ph-heading-title">
            <h1>Advantages Of Our Agritech Management Solution</h1>
          </div>
        </div>
        <div class="col-xxl-9 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <div class="ph-case-shadow">
            <div class="row">
              <div class="col-md-6">
                <div class="ph-challeges-point ph-logistics-point">
                  <ul>
                    <li><span>Easy Traceability-</span> Consumers today pay more attention to the places and processes
                      where products were made than they did in the past. With Protonshub agriculture app development,
                      you can easily access rich digital documentation and information about the product's history as
                      well as the methods utilized to grow it.
                    </li>
                    <li><span>Cost Effective -</span> Protonshub believes in providing solutions that are affordable and
                      quality rich. By providing vast and creative solutions, Protonshub keeps in mind the current
                      demands and needs of the agriculture industry and builds solutions that meet their demand at a
                      reasonable price.
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="ph-challeges-point ph-logistics-point">
                  <ul>
                    <li><span>High-Quality Return -</span> Agricultural product production and processing nowadays are
                      intimately related to innovation. Protonshub assesses and provides real-time recommendations for
                      the best course of action. It provides the best results which increase agriculture productivity.
                    </li>
                    <li><span>Sustainable Production -</span> In order to guarantee more sustainable production
                      practices that conserve water, have a smaller negative impact on the environment and the climate,
                      and lower production costs, Protonshub provides solutions that are effective and increases the
                      quality of production.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Get Connect sec -->
  <section class="ph-getconnect-sec">
    <div class="container">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12
                  mx-auto">
        <div class="row align-items-center">
          <div class="col-md-8 col-sm-6">
            <div class="ph-getconnect-content">
              <h1>Want to know How we can Transform your Business and Increase Revenues ?
              </h1>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="ph-getconnect-btn">
              <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn remove-errors ph-btn-white">Start a Project<i class="fa-solid fa-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Get Connect sec -->
  <!-- Middle Content End -->

  <!-- footer Sec start -->
  <%= render partial: 'footer' %>
  <!-- footer sec end -->
</div>

<!-- Modal -->
<%= render partial: 'hire_developer' %>
<%= render partial: 'have_a_project' %>