<title>Protonshub | Awards</title>
<div class="ph-main-wrapper">
  <!-- Header start -->
  <%= render partial: 'header' %>
  <!-- Header end -->

  <!-- Middle Content Start -->
  <section class="ph-casestudy-banner ph-casestudy-sec">
    <div class="container">
      <div class="ph-OurTeam-content">
        <div class="row align-items-center">
          <div class="col-xxl-6 col-xl-8 col-md-10 col-sm-12 mx-auto">
            <div class="ph-heading-title text-center">
              <h1>Awards & <span>Associations</span></h1>
              <p>
                We are honored to be recognized for our accomplishments as a global leader, a great employer and a responsible company.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="Ph-form-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-8 col-xl-10 col-md-12 mx-auto">
          <div class="text-center">
            <h1>In the Winner’s Circle
            </h1>
            <p>
              As a rapidly growing software development company, Radixweb excels at developing bespoke software in a diverse marketplace. Our achievements have been consistently recognized by global partners
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ph-bg-color">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="ph-cmmi-five">
            <h1>CMMI Level 5 Certified </h1>
            <h6>Where You Deserve the Positive Outcomes!</h6>
            <p>
              Positivity, Purpose, and Perseverance are what make the Protonshub the most sought-after and a leading name in Custom Software Development across the globe. We specialize in Advisory Services, Application Development & Maintenance, Business Process Outsourcing, Enterprise Consulting, End-to-End Technology Services, and Digital Strategy to help make the business world exceptional. 
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="ph-cmmi-img d-flex justify-content-center">
            <%= image_tag 'cmmi-five.webp' %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ph-isocertified-sec">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="ph-iso-img">
            <%= image_tag 'iso-27001.svg' %>
            <%= image_tag 'iso-9001.svg' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="ph-hireprice-box">
            <h1>ISO Certified  </h1>
            <p>Recognition as a committed leader for Quality and Assurance in services and Data Security
            </p>
            <ul>
              <li>ISO 9001-2015</li>
              <li>ISO 27001-2013</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ph-topapp-sec">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="ph-topapp-form">
            <h1 class="ph-heading-title text-start">Top App Development Company</h1>
            <p>
              When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="ph-topapp-futura justify-content-center d-flex">
            <%= image_tag 'appfutura-topapp.webp' %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ph-award-sec">
    <div class="container">
      <div class="ph-award-inner">
        <div class="row">
          <div class="col-md-3">
            <div class="ph-award-startup">
              <%= image_tag 'startups-indore.png' %>
              <p>
                Super startup 75 in Indore
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="ph-award-startup">
              <%= image_tag 'startup-india.png' %>
              <p>
                Recognized by Start Up India Mission
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="ph-award-startup">
              <%= image_tag 'forbes-business.png' %>
              <p>
                Featured in Forbes Business Council list of Global Techprenueres.
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="ph-award-startup">
              <%= image_tag 'entrepreneur.png' %>
              <p>
                Best Entrepreneurship in town
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ph-topdevloper-sec">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="ph-topDevloper-img d-flex justify-content-center">
            <%= image_tag 'topdevelopers.png' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="ph-topdevloper-content">
            <h1 class="ph-heading-title text-start">TOP Developers The Genuine Quality - 2020</h1>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Ipsum has been the industry's standard dummy text ever since text of the printing and typesetting industry. Ipsum has been the industry's standard dummy text ever since
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="ph-greatplace-inner">
            <h1>Great Place to Work</h1>
            <h6>Sept 2022 - Sept 2023</h6>
            <p>
              As a talent-led organization, we aim to be an employer of choice for the world’s most innovative people. We are honored to be recognized by some of the world’s most forward-thinking organizations.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="ph-greatplace-img d-flex justify-content-center">
            <%= image_tag 'great-place-logo.png' %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="ph-greatplace-box">
            <%= image_tag 'goodfirms.svg' %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="ph-greatplace-box">
            <%= image_tag 'glassdoor-cab.svg' %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="ph-greatplace-box">
            <%= image_tag 'google-firm.svg' %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="ph-greatplace-box">
            <%= image_tag 'clutch.svg' %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Get Connect sec -->
  <%= render partial: 'connect_sec'%>
  <!-- Get Connect sec -->
  <!-- Middle Content End -->

  <!-- footer Sec start -->
  <%= render partial: 'footer' %>
  <!-- footer sec end -->
</div>

<!-- Modal -->
<%= render partial: 'hire_developer' %>
<%= render partial: 'have_a_project' %>