<div class="ph-main-wrapper">
  <!-- Header start -->
  <%= render partial: 'header' %>
  <!-- Header end -->

  <!-- Middle Content Start -->
  <!-- Top ourTeam Banner start -->
  <section class="ph-ourTeam-banner ph-contact-banner">
    <div class="container">
      <div class="ph-OurTeam-content">
        <div class="row align-items-center">
          <div class="col-xxl-8 col-xl-8 col-md-10 col-sm-12 mx-auto">
            <div class="ph-heading-title text-center">
              <h1><span>Let’s hear</span> what’s on your mind</h1>
              <p>
                Drop your query, and we are here to give you the necessary assistance. Our solid industry expertise in a variety of fields, sectors, and regions serves as the foundation for the world-class solutions we provide to meet your demands.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- OurTeam Banner End -->

  <!-- Team Sec Start -->
  <section class="Ph-form-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-8 col-xl-10 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Connect With Our Team Now!</h1>
            <p>Your information is safe with us; just fill out the form with your inquiry, and we'll get back to you. We will assess your needs and proceed in accordance with those findings.</p>
          </div>
        </div>
        <div class="col-xxl-9 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <ul class="nav ph-allcontact-form nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <a href="javascript:;" class="nav-link active" id="project-detail-tab" data-bs-toggle="pill" data-bs-target="#project-detail" role="tab" aria-controls="project-detail" aria-selected="true">
                <span><i class="fa-solid fa-user-tie"></i></span> Have a project
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a href="javascript:;" class="nav-link" id="partner-detail-tab" data-bs-toggle="pill" data-bs-target="#partner-detail" role="tab" aria-controls="partner-detail" aria-selected="false">
                <span><i class="fa-solid fa-handshake-simple"></i></span> Become Partner
              </a>
            </li>
           <!--  <li class="nav-item" role="presentation">
              <a href="javascript:;" class="nav-link" id="feedback-detail-tab" data-bs-toggle="pill" data-bs-target="#feedback-detail" role="tab" aria-controls="pills-contact" aria-selected="false">
                <span><i class="fa-sharp fa-solid fa-comments"></i></span> Feedback
              </a>
            </li> -->
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="project-detail" role="tabpanel" aria-labelledby="project-detail-tab" tabindex="0">
              <div class="ph-contact-form">
                <div class="ph-contact-highlight">
                  <h5>Growth and Success are Just a Step Away</h5>
                  <p>Please complete the following form and help us improve our customer experience.</p>
                </div>
                <div class="ph-contact-field">
                  <%= bootstrap_form_for Project.new, url: projects_path, html: {class: 'ph-protons-form'}, remote: true do |f| %>
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                    <div class="row">
                      <ul>
                        <li>
                          <%= f.text_field_without_bootstrap :full_name, placeholder: 'Full Name', hide_label: true %>
                          <span class="inline-error project-error-full_name"></span>
                        </li>
                        <li>
                          <%= f.email_field_without_bootstrap :email, placeholder: 'Email', hide_label: true %>
                          <span class="inline-error project-error-email" style=""></span>
                        </li>
                        <li>
                          <%= f.phone_field_without_bootstrap :contact_number, placeholder: 'Contact Number', hide_label: true %>
                          <span class="inline-error project-error-contact_number" style=""></span>
                        </li>
                      </ul>
                    </div>
                    <div class="ph-contact-msg">
                      <%= f.text_area_without_bootstrap :description, placeholder: 'Project Description', hide_label: true %>
                      <span class="inline-error project-error-description" style=""></span>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <%= f.collection_select :service_id, Service.activated, :id, :name, {include_blank: ("Select a Service"), hide_label: true, wrapper: {class: ''}} %>
                        <span class="inline-error project-error-service" style=""></span>
                      </div>
                      <div class="col-md-6">
                        <%= f.file_field_without_bootstrap :file, hide_label: true, class: 'ph-attach-file' %>
                        <span class="ph-upload-images"></span>
                        <span class="inline-error project-error-file" style=""></span>
                      </div>
                      <div class="col-md-6">
                        <div class="ph-check-box mt-2 ">
                          <%= f.check_box :to_send_nd, as: :boolean, label: "Please send me a Non Disclosure Agreement<span class='ph-check-small-text'>Your idea is 100% protected by our non disclosure agreement.</span>".html_safe %>
                        </div>
                      </div>
                      <div class="col-md-12 mt-5 text-center d-block">
                        <%= f.submit "Contact Now", class: "ph-btn ph-contact-btn" %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="partner-detail" role="tabpanel" aria-labelledby="partner-detail-tab" tabindex="0">
              <div class="ph-contact-form">
                <div class="ph-contact-highlight">
                  <h5>Thank you for your interest in becoming a partner.</h5>
                  <p>Please fill out this form to begin your journey to becoming a protonshub partner.</p>
                </div>
                <div class="ph-contact-field">
                  <%= bootstrap_form_for Partner.new, url: partners_path, html: {class: 'ph-protons-form'}, remote: true do |f| %>
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                    <div class="row">
                      <ul>
                        <li>
                          <%= f.text_field_without_bootstrap :company_name, placeholder: 'Company Name', hide_label: true %>
                          <span class="inline-error partner-error-company_name" style=""></span>
                        </li>
                        <li>
                          <%= f.text_field_without_bootstrap :website_url, placeholder: 'Website Url', hide_label: true %>
                          <span class="inline-error partner-error-website_url" style=""></span>
                        </li>
                        <li>
                          <%= f.email_field_without_bootstrap :official_email_id, placeholder: 'Offical Email Id', hide_label: true %>
                          <span class="inline-error partner-error-official_email_id" style=""></span>
                        </li>
                        <li>
                          <%= f.text_field_without_bootstrap :contact_person_name, placeholder: 'Contact Person Name', hide_label: true %>
                          <span class="inline-error partner-error-contact_person_name" style=""></span>
                        </li>
                        <li>
                          <%= f.email_field_without_bootstrap :email, placeholder: 'Email Id', hide_label: true %>
                          <span class="inline-error partner-error-email" style=""></span>
                        </li>
                        <li>
                          <%= f.phone_field_without_bootstrap :contact_number, placeholder: 'Mobile Number', hide_label: true %>
                          <span class="inline-error partner-error-contact_number" style=""></span>
                        </li>
                        <li>
                          <%= f.file_field_without_bootstrap :file, class: 'ph-attach-file', hide_label: true %>
                          <span class="inline-error partner-error-file" style=""></span>
                        </li>
                      </ul>
                    </div>
                    <div class="row">
                      <div class="col-md-12 mt-5 text-center d-block">
                        <%= f.submit "Contact Now", class: "ph-btn ph-contact-btn" %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <!-- <div class="tab-pane fade" id="feedback-detail" role="tabpanel" aria-labelledby="feedback-detail-tab" tabindex="0">
              <div class="ph-contact-form">
                <div class="ph-contact-highlight">
                  <h5>We value your feedback.</h5>
                  <p>Please complete the following form and help us improve our customer experience.</p>
                </div>
                <div class="ph-contact-field">
                  <form method="post" class="ph-protons-form" action="">
                    <div class="row">
                      <ul>
                        <li>
                          <input type="text" name="name" placeholder="Jhon Due" required />
                        </li>
                        <li>
                          <input type="email" name="email" placeholder="Email Id/Skype Id" required />
                        </li>
                        <li>
                          <input type="number" name="number" placeholder="Mobile Number" required />
                        </li>
                      </ul>
                    </div>
                    <div class="ph-contact-msg">
                      <textarea name="message" placeholder="Project Description" required></textarea>
                    </div>
                    <div class="row">
                      <div class="col-md-6 ph-job-apply-form">
                        <label for="file-upload" class="ph-file-upload"> <i class="fa-solid fa-paperclip me-1"></i> Attach file </label>
                        <input id="file-upload" type="file" name="file" required />
                        <span class="ph-attech-text">less than MB</span>
                      </div>
                      <div class="col-md-6">
                        <div class="ph-check-box">
                          <input type="checkbox" id="ph-agreement" name="ph-agreement" value="Agreement" />
                          <label for="ph-agreement">Please send me a Non Disclosure Agreement</label>
                          <span class="ph-check-small-text">Your idea is 100% protected by our non disclosure agreement. </span>
                        </div>
                      </div>
                      <div class="col-md-12 mt-5 text-center d-block">
                        <a href="javascript:;" class="ph-btn ph-contact-btn">Contact Now</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- banner Sec Start -->

  <!-- contact map start -->
  <section class="p-0">
    <div class="container">
      <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
          <div class="ph-map-address">
            <ul>
              <li class="ph-contact-india">
                <div class="ph-contact-indore">
                  <h5>India</h5>
                  <p>606-607, Princes Business Skypark, AB RD, LIG Colony, Indore, Madhya Pradesh, India.</p>
                  <p>Tel.: +91 93020 96166</p>
                  <p>Email: info@protonshub.com</p>
                </div>
              </li>
              <li class="ph-contact-map">
                <div class="ph-contact-map">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14718.104231290386!2d75.8930609!3d22.7458507!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcd25e355bbd82b8!2sProtonshub%20Technologies!5e0!3m2!1sen!2sin!4v1677056050474!5m2!1sen!2sin" style="border:0; width: -webkit-fill-available;" height="360" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  <%#= image_tag "contact-map.jpg" %>
                </div>
              </li>
              <li class="ph-contact-usa">
                <div class="ph-contact-camino">
                  <h5>United States</h5>
                  <p>800 W El Camino Real Suite 180, Mountain View, CA 94040, United States.</p>
                  <p>Tel.: +1 (650) 275-5033</p>
                  <p>Email: info@protonshub.com</p>
                </div>
              </li>
              <li class="ph-contact-map">
                <div class="ph-contact-map">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3170.138173791219!2d-122.08636478426976!3d37.38656447983204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb0cd56690b4d%3A0x5d8ab0dac4118d3!2s800%20W%20El%20Camino%20Real%20Suite%20180%20A%2C%20Mountain%20View%2C%20CA%2094040!5e0!3m2!1sen!2sus!4v1677603112777!5m2!1sen!2sus" height="360" style="border:0; width: -webkit-fill-available;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- contact map end -->

  <section class="ph-top-logo-sec ph-spacer-top">
    <div class="container">
      <div class="row">
        <div class="col-xxl-10 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <div class="ph-social-icon">
            <ul>
              <li>
                <span class="ph-fb-color"><i class="fa-brands fa-facebook-f"></i></span>
                <h1 class="pb-0 mb-0">145k</h1>
                <h6>Likes</h6>
              </li>
              <li>
                <span class="ph-insta-color"><i class="fa-brands fa-instagram"></i></span>
                <h1 class="pb-0 mb-0">55k</h1>
                <h6>Followers</h6>
              </li>
              <li>
                <span class="ph-linkedin-color"><i class="fa-brands fa-linkedin-in"></i></span>
                <h1 class="pb-0 mb-0">205k</h1>
                <h6>Connection</h6>
              </li>
              <li>
                <span class="ph-twitter-color"><i class="fa-brands fa-twitter"></i></span>
                <h1 class="pb-0 mb-0">1145k</h1>
                <h6>Posts</h6>
              </li>
            </ul>
            <div class="ph-shadow-back">
              <%= image_tag "ph-qoute-shadow.svg" %>
            </div>
          </div>
        </div>
        <div class="col-xxl-8 col-xl-8 col-lg-10 col-md-10 mx-auto">
          <div class="ph-awardHome-slide">
            <div class="swiper ph-mySwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <%= image_tag "topdeveloper.svg" %>
                </div>
                <div class="swiper-slide">
                  <%= image_tag "appfutura.svg" %>
                </div>
                <div class="swiper-slide">
                  <%= image_tag "iso.svg" %>
                </div>
                <div class="swiper-slide">
                  <%= image_tag "clutch.svg" %>
                </div>
                <div class="swiper-slide">
                  <%= image_tag "glassdoor.svg" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Get Connect sec -->
  <%= render partial: 'connect_sec' %>
  <!-- Get Connect sec -->
  <!-- Middle Content End -->

  <!-- footer Sec start -->
  <%= render partial: 'footer' %>
  <!-- footer sec end -->
</div>

<!-- Modal -->
<%= render partial: 'hire_developer' %>
<%= render partial: 'have_a_project' %>