<div class="ph-main-wrapper">
  <!-- Header start -->
  <%= render partial: 'header' %>
  <!-- Header end -->

  <!-- Middle Content Start -->
  <!-- Dedicated Development  start -->
  <section class="ph-app-develop-sec ph-dedicated-develop-sec">
    <div class="container">
      <div class="ph-OurTeam-content">
        <div class="row align-items-center">
          <div class="col-md-6 col-sm-6">
            <div class="ph-heading-title">
              <h6 class="ph-banner-tiltle">#Hire The Top Dedicated Developer </h6>
              <h1>Hire Top Dedicated Developers</h1>
              <p>We are here for what you are looking for. Convert your requirements into reality with
              Protonshub.</p>
              <div class="ph-banner-btn mt-4">
                <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn remove-errors">Consult Us<i class="fa-solid fa-arrow-right ms-2"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="ph-dedicated-develop">
              <%= image_tag "dedicated-develop.png" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Dedicated Development End -->

  <!-- client slider start-->
  <section class="ph-our-client-sec ph-spacer-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xxl-8 col-xl-9 col-lg-12 col-md-12 col-sm-12 mx-auto">
          <div class="ph-boxlogo-shadow">
            <div class="ph-ourClient-logo ph-ourClient-dedicated mt-0">
              <div class="swiper ph-mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <%= image_tag "colgate.svg" %>
                  </div>
                  <div class="swiper-slide">
                    <%= image_tag "g2-org.svg" %>
                  </div>
                  <div class="swiper-slide">
                    <%= image_tag "henkel-org.svg" %>
                  </div>
                  <div class="swiper-slide">
                    <%= image_tag "stage.svg" %>
                  </div>
                  <div class="swiper-slide">
                    <%= image_tag "mahindra-org.svg" %>
                  </div>
                  <div class="swiper-slide">
                    <%= image_tag "manyvaar.svg" %>
                  </div>
                  <div class="swiper-slide">
                    <%= image_tag "honey.svg" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="ph-client-shadow">
              <%= image_tag "ph-qoute-shadow.svg" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- client slider end -->

  <!-- experience start -->
  <section class="ph-experience-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-10 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Hire Top-Notch Dedicated Web And Mobile App Developers</h1>
            <p>Well-known custom software development firm, Protonshub has been offering the top <span> <a href="javascript:;">IT staff augmentation</a></span> for years. With us, you receive everything, including expertise, experience, and accuracy. We keep in mind your requirements and deliver what you are looking for.
            </p>
            <p><span> <a href="javascript:;">Hire dedicated developers</a></span> as our developers are available for your project and are able to take on challenging tasks and finish them in a condensed amount of time without interfering with any of your key tasks. Our in-house teams use cutting-edge technology to offer your project a fresh design and increase its marketability.
            </p>
          </div>
        </div>
        <div class="col-xxl-10 col-xl-12 col-lg-12 col-md-12  mx-auto">
          <div class="ph-dedicated-content">
            <div class="text-center">
              <h3>Why Hire Dedicated Developers From Protonshub?</h3>
              <p>Although there are numerous core advantages, Protonshub continually considers how it
                may provide more. <span><a href="javascript:;">Hire dedicated remote developers</a></span> as we always have more to offer when
                taking your needs into account. We strive to offer what we can.
              </p>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="ph-dedicated-inner-content">
                  <ul>
                    <li>
                      <h6>Experienced Team</h6>
                      <p>With great domain expertise, you get one of the best-in-class
                        dedicated developers for your project. With high experience, you get
                        your project to reach a new height with consistent expertise
                        addition in your project.
                      </p>
                    </li>
                    <li>
                      <h6>On-time Delivery</h6>
                      <p>We provide you with the assurance that your work will be a top
                        priority. Our developers have a record to deliver all their assigned
                        projects on and many times before time. You don’t have to worry
                      about the timing if we are providing you with the service.</p>
                    </li>
                    <li>
                      <h6>Easy Communication</h6>
                      <p>Protonshub offers multiple means to communicate securely anytime and
                        from anywhere. Whether it be via Skype, Email, or Phone, we are here
                        to connect with you anytime you need us. We make the communication
                        process more flexible and user-friendly so that you face no issues.
                      </p>
                    </li>
                    <li>
                      <h6>Hassle-free Backup</h6>
                      <p>You don’t need to worry about your data. We have a special code and
                        backup management feature to retain documents and data if lost. We
                        let our developers focus on core tasks and help them in getting data
                      in a few clicks. </p>
                    </li>
                    <li>
                      <h6>Flexible Pricing</h6>
                      <p>With Protonshub, you get the finest resources at an affordable price.
                        We have flexible pricing models which can fit your needs and budget.
                        We provide you with scalability by offering the best services at a
                        reasonable price.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="ph-dedicated-inner-content">
                  <ul>
                    <li>
                      <h6>Cost-effective</h6>
                      <p>You can hire dedicated developers and can directly cut your costs of
                        training and retaining. Timely completion of your project, high
                        dedication, more accuracy, and a lot more is achieved with our
                      developers.</p>
                    </li>
                    <li>
                      <h6>Timely Reporting</h6>
                      <p>Our dedicated developer's team is always ready to provide you with
                        all updates, even from great distances. We keep you updated
                        regarding the whole project and work status so that the coordination
                        remains smooth till the end.
                      </p>
                    </li>
                    <li>
                      <h6>Dedicated Lead</h6>
                      <p>We assign a separate dedicated lead for the developer's team so that
                        there is only one point of contact eliminating hassles and
                        miscommunication. We help our developers to increase their
                      productivity by helping them in managing their time. </p>
                    </li>
                    <li>
                      <h6>Proper Tracking</h6>
                      <p>Your project is something you might think of all the time. With us,
                        you can track every step of your project using an advanced project
                      management system. </p>
                    </li>
                    <li>
                      <h6>Data Security</h6>
                      <p>Protonshub provides you with a space where you can share information
                        securely. Your data is safe with us throughout your whole journey.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="ph-circle-top"></div>
            <div class="ph-circle-bottom"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- experience end -->
  <!-- Hire Dedicated start-->
  <section class="ph-dedicated-dp-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-8 col-xl-10 col-md-12 col-lg-12 col-sm-12 mx-auto">
          <div class="ph-heading-title ph-hire-title">
            <h1>Hire On-Demand Skilled Developers</h1>
            <p>At Protonshub, we work hard to give our clients the chance to work with remote
              programmers that are knowledgeable about the newest technological trends. Hire remote
              developers as we let our clients focus on running their businesses while spending less
              on infrastructure, training, and other costs.
            </p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6">
          <div class="ph-hire-box">
            <h4>Blockchain Developer</h4>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6">
          <div class="ph-hire-box">
            <h4>Flutter App Developers</h4>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6">
          <div class="ph-hire-box">
            <%= link_to '<h4>Mean Stack Developer</h4>'.html_safe, mean_stack_path %>
            <!-- <h4>Mean Stack Developer</h4> -->
          </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6">
          <div class="ph-hire-box">
            <%= link_to '<h4>Mern Stack Developer</h4>'.html_safe, mern_stack_path %>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6">
          <div class="ph-hire-box">
            <%= link_to '<h4>Ruby On Rails Developer</h4>'.html_safe, ror_path %>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6">
          <div class="ph-hire-box">
            <%= link_to '<h4>ReactJS Developer</h4>'.html_safe, react_js_path %>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6">
          <div class="ph-hire-box">
            <%= link_to '<h4>React-native Developer</h4>'.html_safe, react_native_path %>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6">
          <div class="ph-hire-box">
            <h4>Java Developer</h4>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6">
          <div class="ph-hire-box">
            <%= link_to '<h4>NodeJs Developer</h4>'.html_safe, node_js_path %>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6">
          <div class="ph-hire-box">
            <%= link_to '<h4>Python Developer</h4>'.html_safe, python_path %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Hire Dedicated end -->
  <!-- Our Innovative start -->
  <section class="ph-our-innovative-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-8 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Discover Our Hiring Roadmap</h1>
            <p>Hiring remote developers is now made more seamless. Explore, and get the best developers
              for your project. Gain experience, high-end expertise, and quality results from our
              dedicated developers.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xx-10 col-xl-12 col-lg-12 col-md-12 mx-auto">
          <div class="ph-process-sec">
            <div class="ph-process-in ph-dedicated-process">
              <div class="ph-process-inner">
                <div class="ph-outer-in">
                  <div class="ph-picon-box">
                    <h1>1</h1>
                  </div>
                </div>
                <h6>Mark Your Requirements</h6>
              </div>
              <div class="ph-process-inner">

                <div class="ph-outer-in border-color1">
                  <div class="ph-picon-box icon-bg1">
                    <h1>2</h1>
                  </div>
                </div>
                <h6>Clarify Project Feasibility</h6>
              </div>
              <div class="ph-process-inner">
                <div class="ph-outer-in border-color2">
                  <div class="ph-picon-box icon-bg2">
                    <h1>3</h1>
                  </div>
                </div>
                <h6>Define Skillset</h6>
              </div>
              <div class="ph-process-inner">
                <div class="ph-outer-in border-color3">
                  <div class="ph-picon-box icon-bg3">
                    <h1>4</h1>
                  </div>
                </div>
                <h6>Choose Resources</h6>
              </div>
              <div class="ph-process-inner">

                <div class="ph-outer-in border-color4">
                  <div class="ph-picon-box icon-bg4">
                    <h1>5</h1>
                  </div>
                </div>
                <h6>Get Started</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Our Innovative End -->
  <!-- hire price start -->
  <section class="ph-hirePrice-sec ph-bg-color ">
    <div class="container">
      <div class="row">
        <div class="col-xxl-6 col-xl-6 col-lg-12 col-md-12 col-sm-12">
          <div class="ph-hireprice-box">
            <h1 class="mb-3">Right PRICE, Best OUTCOMES</h1>
            <p>Hire a dedicated developer at the most affordable price and get the chance to scale up
              your business with the most experienced team. With 1200+ plus projects completed, and
            90+ satisfied clients, get the best service from a trusted source. </p>
            <ul>
              <li>Transparent Pricing</li>
              <li>High-Tech Security</li>
              <li>Seamless Exit Policy</li>
              <li>Fully Signed NDA</li>
            </ul>
          </div>
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-12 col-md-12 col-sm-12">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="ph-prices-box">
                <h5>Hire Frontend Developers</h5>
                <div class="ph-price-btn">
                  <h5>$20</h5>
                  <p>Hourly (USD)</p>
                </div>
                <p class="ph-small-text">8 hrs/day and 160hrs/mo.</p>
                <div class="ph-circle-top"></div>
                <div class="ph-circle-bottom"></div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="ph-prices-box ph-price-color ph-plan-box-white">
                <h5>Hire Backend Developers</h5>
                <div class="ph-price-btn">
                  <h5>$20 to $23</h5>
                  <p>Hourly (USD)</p>
                </div>
                <p class="ph-small-text">8 hrs/day and 160hrs/mo.</p>
                <div class="ph-circle-top"></div>
                <div class="ph-circle-bottom"></div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="ph-prices-box ph-price-color ph-plan-box-white">
                <h5>Hire Dedicated Development Team</h5>
                <p class="ph-small-text">1 PM, Team of 5 Developers</p>
                <div class="ph-price-btn">
                  <h5>$14000</h5>
                  <p>Monthly (USD)</p>
                </div>
                <div class="ph-circle-top"></div>
                <div class="ph-circle-bottom"></div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="ph-prices-box">
                <span><i class="fa-solid fa-question"></i></span>
                <h5>Not Sure? Get Advice</h5>
                <div class="ph-banner-btn mt-4">
                  <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn remove-errors">Book a Call</a>
                </div>
                <div class="ph-circle-top"></div>
                <div class="ph-circle-bottom"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- hire price end -->
  <!-- Accordion start -->
  <section class="ph-accordion-sec ">
    <div class="container">
      <div class="row">
        <div class="col-xxl-6 col-xl-10 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Frequently Asked Questions</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-10 col-xl-12 col-lg-12 col-md-12 mx-auto">
          <div class="ph-accordion-box">
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Who is a dedicated developer?
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">As the name only suggests, DEDICATED means a person
                    who is devoted to a single client in meeting the project requirements. The
                    developer works under the client and focuses on delivering quality output as
                    per what the client wants and requires.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    What’s the major difference between a freelancer and a dedicated developer?
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">All the technology and tools needed to create apps are available to dedicated developers, or they may even have those tools outsourced to the company they are working with. While independent freelancers work at their own pace.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    What are the required skills needed for a dedicated developer?
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Choosing the finest dedicated developer can be tedious, but with the right approach, you can find the best one for your project. A good developer may have skills like good communication, multi-task management, problem-solving ability, risk management, complex tasks management, and many more. Hire a dedicated developer and make your journey more successful.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    Are there any benefits of hiring a remote developer in 2023?
                  </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Hire remote software developers and add many benefits to your project's success. It can help you in the timely completion of work, cost efficiency, output accuracy, expertise inclusion, and a lot more. Getting the finest advantages from a remote developer can make your target more achievable and accurate. </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
                    Is it expensive to hire a remote developer?
                  </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Different developers charge different pricing. For example, the pricing of the front-end developers will be different from the backend developer.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingSix">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseThree">
                    What is the process of hiring a dedicated developer?
                  </button>
                </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body"><span> <a href="javascript:;">Hiring a dedicated web developer</a></span> or any other can be difficult, but with a clear method, you can make it simple for yourself. Start by determining your needs, then look for a reliable platform to employ a dedicated developer. Next, look at the subject's expertise, communication, and problem-solving skills. Don't forget about security and last look at pricing models.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Accordion end -->

  <!-- Get Connect sec -->
  <section class="ph-getconnect-sec">
    <div class="container">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 mx-auto">
        <div class="row align-items-center">
          <div class="col-md-8 col-sm-6">
            <div class="ph-getconnect-content">
              
              <h1>Take a step and join us TODAY</h1>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="ph-getconnect-btn">
              <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn remove-errors  ph-btn-white">Connect Now <i class="fa-solid fa-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Get Connect sec -->
  <!-- Middle Content End -->

  <!-- footer Sec start -->
  <%= render partial: 'footer' %>
  <!-- footer sec end -->
</div>

<!-- Modal -->
<%= render partial: 'hire_developer' %>
<%= render partial: 'have_a_project' %>