<title>Protonshub | Edtech</title>
<div class="ph-main-wrapper">
  <!-- Header start -->
  <%= render partial: 'header' %>
  <!-- Header end -->

  <!-- Middle Content Start -->
  <!-- Dedicated Development  start -->
  <section class="ph-edtech-sec">
    <div class="container">
      <div class="ph-OurTeam-content">
        <div class="row align-items-center">
          <div class="col-xxl-8 col-xl-8 col-lg-12 col-md-12 col-sm-12">
            <div class="ph-heading-title">
              <!-- <h6 class="ph-banner-tiltle">#Hire The Top Dedicated Developer </h6> -->
              <h1>
                India’s Most Innovative <span>Custom Ed-Tech</span> Software Development Company
              </h1>
              <p>World's leading Ed-tech Software development Company, revolutionizing <span> <a
                href="javascript:">500000 Plus Learners and Academicians.</a></span>
              </p>
              <div class="ph-banner-btn mt-4">
                <a href="javascript:;" class="ph-btn">
                  Start a Project<i class="fa-solid fa-arrow-right ms-2"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Dedicated Development End -->

  <!-- experience start -->
  <section class="ph-experience-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-9 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Customized Ed-Tech Software Development Services</h1>
            <p>
              Protonshub’s Edtech Software development Services provides interoperability and
              integrated education monitoring system through our innovative and unique solution
              ideology to achieve unmatched excellence in knowledge delivery and management..
            </p>
          </div>
        </div>
      </div>
      <div class="ph-hireExp-sec">
        <div class="row">
          <div class="col-md-6">
            <div class="ph-mobileApp-img">
              <%= image_tag "edtech-left-img.webp"%>
            </div>
          </div>
          <div class="col-md-6">
            <div class="ph-app-content">
              <h3>Scalable & Secure Learning Management System Development</h3>
              <p>
                As a leading Edtech custom software development company we have a prime focus on
                developing a need based Learning management system to effectively manage and track
                all kinds of learning and development activities.
              </p>
              <div class="ph-hireprice-box">
                <h3>Our LMS Development Suit includes:-</h3>
                <ul>
                  <li>Singular Interface Communication system</li>
                  <li>Gamification for interactive learning</li>
                  <li>Assessment and Examination Portal</li>
                  <li>Feedback and Improvement management system</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- experience end -->

  <!-- core value start -->
  <section class="ph-corevalue-sec ph-bg-color">
    <div class="container">
      <div class="row">
        <div class="col-xxl-9 col-xl-10 col-lg-12 col-md-12 col-sm-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Our LMS Development Capabilities</h1>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-4 col-md-6 ">
          <div class="ph-corevalue-box">
            <div class="ph-content-box-value">
              <h5>LMS Integrations</h5>
              <p>
                We are highly skilled and expertised in responsive design features and Integration with various LMS softwares such as Canva, Moodle and Gravity. We have been extremely productive and user friendly by using custom integrations to third-party APIs.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="ph-corevalue-box">
            <div class="ph-content-box-value">
              <h5>LMS Data Migrations</h5>
              <p>
                We perform high speed legacy systems data  migration from cloud to cloud and on premises  to cloud  large-scale data migrations using third-party platforms, like MuleSoft and SoftChalk, and add single sign-on functionality using Clever SSO.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="ph-corevalue-box">
            <div class="ph-content-box-value">
              <h5>LMS Mobile Application 
              Development</h5>
              <p>
                We are proud developers of  web-based Learning management systems platforms with native mobile apps using the devices’ inherent hardware to generate uniquely unified user experiences across iOS & Android systems.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="ph-corevalue-box">
            <div class="ph-content-box-value">

              <h5>LMS Cloud-Based Software Solutions</h5>
              <p>
                We develop  cloud-based LMS solutions that offer unlimited features such as  file uploads, Assignments, Presentations, live classes, assessments with unlimited storage capacity allowing users to store online videos, presentations, graphics for an interactive and fun based learning .

              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="ph-corevalue-box">
            <div class="ph-content-box-value">
              <h5>LMS Role-Based Access Control (RBAC)</h5>
              <p> We incorporate RBAC modules to provide specific access levels to anyone within the organization for managing subscriptions, billing, universal reports, scheduling, and more.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="ph-corevalue-box d-flex align-items-center justify-content-center">
            <div class="ph-content-box-value">
              <h5>Connect with us to Engineer your Next Idea and Fuel Your Success.</h5>
              <div class="ph-banner-btn mt-4">
                <a href="javascript:;" class="ph-btn">Hire LMS Developers<i class="fa-solid fa-arrow-right ms-2"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- core value end -->

  <!--About Start -->
  <section class="ph-about-sec ph-student-sec">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xxl-6 col-xl-6 col-md-6">
          <div class="ph-about-content ps-0">
            <div class="text-start">
              <h1>Customized Student Information System Development</h1>
            </div>
            <p>
              We develop the future in the World Education Landscape with Customized SIS
            </p>
            <div class="mt-4">
              <a href="javascript:;" class="ph-btn">Ring a Bell to Us!<i
                class="fa-solid fa-arrow-right ms-2"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xxl-6 col-xl-6 col-md-6">
          <div class="ph-health-img">
            <%= image_tag "happy-student.webp", class: "img-fluid"%>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--About end -->

  <!-- ui ux wireframe start  -->
  <section class="uiux-wireframe-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-7 col-xl-8 col-lg-10 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Salient Features of our <span>Student information</span> System</h1>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
            <div class="ph-wirframe-box">
              <div class="ph-wireframe-inner">
                <h6>Campaign Management</h6>
                <p>
                  Users can seamlessly sign up/log in and create an account with social logins or
                  email id
                </p>
              </div>
              <div class="ph-wireframe-inner">
                <h6>Enquiry and Admissions Management</h6>
                <p>
                  Users can add, update and edit their personal details
                </p>
              </div>
              <div class="ph-wireframe-inner">
                <h6>Students Management</h6>
                <p>
                  earch nearby restaurants, cuisines with intelligent filters and sort options
                </p>
              </div>
              <div class="ph-wireframe-inner">
                <h6>Course/Classes Management</h6>
                <p>
                  Users can order food for themselves or their family and friend
                </p>
              </div>
              <div class="ph-wireframe-inner">
                <h6>Time-Table/Attendance management</h6>
                <p>
                  Select the pickup and drop-off location of the order within the app
                </p>
              </div>
              <div class="ph-wireframe-inner">
                <h6>Fees Management</h6>
                <p>
                  Select the pickup and drop-off location of the order within the app
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="ph-wireframe-img text-center">
              <%= image_tag "edtech-app.webp"%>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="ph-wirframe-box">
              <div class="ph-wireframe-inner">
                <h6>Examination Management </h6>
                <p>
                  Stay notified about the order status by tracking the order
                </p>
              </div>
              <div class="ph-wireframe-inner">
                <h6>
                  Security Gate Management
                </h6>
                <p>
                  Make order payments via card, cash & wallet
                </p>
              </div>
              <div class="ph-wireframe-inner">
                <h6>
                  Certifications management
                </h6>
                <p>
                  Give feedback on the food ordering and delivery experience
                </p>
              </div>
              <div class="ph-wireframe-inner">
                <h6>
                  Transport Management
                </h6>
                <p>
                  Notifies new deals and promo codes for discounts at checkout
                </p>
              </div>
              <div class="ph-wireframe-inner">
                <h6>
                  Placement Management
                </h6>
                <p>
                  Quickly order something from the order history with a few taps
                </p>
              </div>
              <div class="ph-wireframe-inner">
                <h6>
                  Hostel/Alumni Management
                </h6>
                <p>
                  Quickly order something from the order history with a few taps
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ui ux wireframe end -->

  <section class="ph-choose-sec">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="ph-hireprice-box">
            <h1>Why Do You Need an SIS ?</h1>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Ipsum has been the industry's standard dummy text ever since
            </p>
            <div class="row">
              <div class="col-md-6">
                <ul>
                  <li>Personalized Communication</li>
                  <li>Real time tracking</li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul>
                  <li>Boost strategic excellence</li>
                  <li>Enhanced data security</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="ph-choose-img text-end">
            <%= image_tag "sis-edtech-img.webp" %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Hire Dedicated start-->
  <section class="ph-download-sec ph-spacer-top">
    <div class="container">
      <div class="ph-health-bg">
        <div class="row">
          <div class="col-md-12">
            <div class="ph-heading-title ph-hire-title mb-0">
              <h4>Want to Own an Insightful Business Guide to Ed-Tech App Development?</h4>
              <div class="ph-banner-btn mt-4">
                <a href="javascript:;" class="ph-btn">Download the WhitePaper</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Hire Dedicated end -->

  <!-- experience start -->
  <section class="ph-uiux-company ph-bg-color">
    <div class="container">
      <div class="row">
        <div class="col-xxl-10 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Exclusive Solutions for Schools, Colleges & Universities</h1>
            <p>Protonshub specializes in healthcare application development for small and medium-sized
              healthcare
              organizations attempting to develop highly efficient and secure software solutions to
            improve quality of healthcare.</p>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="ph-uiux-box">
            <div class="ph-uiux-icon">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="49" height="49" viewBox="0 0 49 49" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.61253 7.41227H27.779V11.9233C27.779 12.9246 28.5928 13.7384 29.5941 13.7384H34.1052V25.2849H32.4482L31.9302 28.5225C31.7554 28.5883 31.583 28.66 31.4126 28.7373L28.757 26.8142L26.0803 29.4909H10.0007C9.65117 29.4909 9.36767 29.7744 9.36767 30.1239C9.36767 30.4735 9.65117 30.757 10.0007 30.757H25.3716L27.0599 33.089C26.9829 33.2594 26.9115 33.4315 26.8451 33.6066L23.6075 34.1253V34.7737H9.99982C9.65027 34.7737 9.36677 35.0572 9.36677 35.4067C9.36677 35.7563 9.65027 36.0398 9.99982 36.0398H23.6075V39.2434L26.8451 39.7614C26.8825 39.8601 26.9212 39.9581 26.9622 40.0552L10.0006 40.0549C9.65105 40.0549 9.36754 40.3384 9.36754 40.6879C9.36754 41.0375 9.65105 41.321 10.0006 41.321H26.3048L25.1367 42.9343L28.7559 46.5535L31.4115 44.6304C31.5819 44.7074 31.754 44.7788 31.9292 44.8452L32.22 46.6633H4.61178C4.17585 46.6633 3.82031 46.3077 3.82031 45.8718V8.20444C3.82031 7.76851 4.17553 7.41297 4.61178 7.41297L4.61253 7.41227ZM33.9464 2.73244V7.17473C33.9464 7.39286 34.1241 7.5703 34.3419 7.5703H38.7842C38.7459 7.48625 38.6915 7.40887 38.6208 7.33883L34.1778 2.89585C34.1078 2.82548 34.0304 2.77078 33.9463 2.73242L33.9464 2.73244ZM9.3599 2.66406C8.92397 2.66406 8.56843 3.01961 8.56843 3.45553V5.99342H28.8703C29.4646 5.99342 30.0133 6.22055 30.4333 6.6408L34.8766 11.0838C35.2968 11.504 35.524 12.0527 35.524 12.6467V25.2853H37.5662L38.0842 28.523C38.2589 28.5887 38.4314 28.6604 38.6018 28.7377L38.853 28.556V8.99013H34.3419C33.3406 8.99013 32.5268 8.17631 32.5268 7.17502V2.66468L9.3599 2.66406ZM29.1981 7.48094V11.9232C29.1981 12.1414 29.3759 12.3188 29.5937 12.3188H34.036C33.9976 12.2348 33.9433 12.1574 33.8726 12.0873L29.4296 7.64436C29.3595 7.57365 29.2822 7.51929 29.1981 7.48092L29.1981 7.48094ZM10.0003 20.1921H27.925C28.2746 20.1921 28.5581 19.9086 28.5581 19.5591C28.5581 19.2095 28.2746 18.926 27.925 18.926H10.0003C9.65074 18.926 9.36724 19.2095 9.36724 19.5591C9.36724 19.9086 9.65074 20.1921 10.0003 20.1921V20.1921ZM10.0003 14.91H22.8669C23.2164 14.91 23.4999 14.6265 23.4999 14.2769C23.4999 13.9274 23.2164 13.6439 22.8669 13.6439H10.0003C9.65074 13.6439 9.36724 13.9274 9.36724 14.2769C9.36724 14.6265 9.65074 14.91 10.0003 14.91V14.91ZM10.0003 25.4746H27.925C28.2746 25.4746 28.5581 25.1911 28.5581 24.8415C28.5581 24.492 28.2746 24.2085 27.925 24.2085H10.0003C9.65074 24.2085 9.36724 24.492 9.36724 24.8415C9.36724 25.1911 9.65074 25.4746 10.0003 25.4746V25.4746ZM36.8204 29.6098L36.3551 26.7044H33.6571L33.1919 29.6098C32.5141 29.7832 31.874 30.0517 31.287 30.3996L28.9026 28.6732L26.9951 30.5807L28.7215 32.9651C28.3733 33.5518 28.1054 34.1918 27.932 34.87L25.0263 35.3352V38.0332L27.932 38.4985C28.1054 39.1762 28.3739 39.8163 28.7218 40.4033L26.9954 42.7878L28.9029 44.6953L31.2874 42.9689C31.874 43.3171 32.5141 43.5856 33.1922 43.7587L33.6575 46.6641H36.3554L36.8207 43.7583C37.4985 43.5849 38.1386 43.3164 38.7256 42.9685L41.11 44.6949L43.0175 42.7874L41.2911 40.403C41.6393 39.8163 41.9078 39.1763 42.0809 38.4981L44.9863 38.0329V35.3349L42.0806 34.8696C41.9071 34.1919 41.6386 33.5518 41.2908 32.9648L43.0172 30.5803L41.1097 28.6728L38.7252 30.3992C38.1379 30.0514 37.4985 29.7829 36.8204 29.6098L36.8204 29.6098ZM35.0067 32.6973C32.805 32.6973 31.0206 34.482 31.0206 36.6834C31.0206 38.885 32.8053 40.6694 35.0067 40.6694C37.2083 40.6694 38.9933 38.8847 38.9933 36.6834C38.993 34.4821 37.208 32.6973 35.0067 32.6973V32.6973Z" fill="#505050"/>
                </svg>
              </span>
            </div>
            <h4>Configurability</h4>
            <p>
              Configuration and reconfiguration of various path defining elements without any
              structural in the software
            </p>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="ph-uiux-box">
            <div class="ph-uiux-icon">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="49" viewBox="0 0 48 49" fill="none">
                  <path d="M13.4785 26.5781H17.3048V30.4044H13.4785V26.5781Z" fill="#505050"/>
                  <path d="M32.608 7.44531V11.2715H15.3904V7.44531H7.73828V46.6628H40.2598V7.44531H32.608ZM19.2168 41.8804C19.2168 42.1341 19.1159 42.3775 18.9366 42.5568C18.7572 42.7362 18.5138 42.8371 18.2602 42.8371H12.521C11.9929 42.8371 11.5643 42.4085 11.5643 41.8804V36.1412C11.5643 35.6131 11.9929 35.1846 12.521 35.1846H18.2602C18.5138 35.1846 18.7572 35.2855 18.9366 35.4648C19.1159 35.6442 19.2168 35.8876 19.2168 36.1412V41.8804ZM19.2168 31.3589C19.2168 31.6125 19.1159 31.8556 18.9366 32.0353C18.7572 32.2146 18.5138 32.3152 18.2602 32.3152H12.521C11.9929 32.3152 11.5643 31.887 11.5643 31.3589V25.6197C11.5643 25.0912 11.9929 24.663 12.521 24.663H18.2602C18.5138 24.663 18.7572 24.7639 18.9366 24.9433C19.1159 25.1226 19.2168 25.366 19.2168 25.6197V31.3589ZM18.9395 16.7338C13.7265 21.9372 14.9509 21.746 11.8421 18.6467H11.8417C11.4667 18.2717 11.4667 17.6635 11.8417 17.2885C12.2171 16.9135 12.8249 16.9135 13.2003 17.2885L14.434 18.5318L17.5809 15.3752C17.9563 15.0002 18.5641 15.0002 18.9395 15.3752C19.3145 15.7506 19.3145 16.3584 18.9395 16.7338H18.9395ZM35.4773 41.8804H23.0422C22.514 41.8804 22.0859 41.4522 22.0859 40.9238C22.0859 40.3957 22.5141 39.9675 23.0422 39.9675H35.4773C36.0055 39.9675 36.434 40.3957 36.434 40.9238C36.434 41.4522 36.0055 41.8804 35.4773 41.8804ZM35.4773 38.0542H23.0422C22.514 38.0542 22.0859 37.626 22.0859 37.0979C22.0859 36.5694 22.5141 36.1412 23.0422 36.1412H35.4773C36.0055 36.1412 36.434 36.5694 36.434 37.0979C36.434 37.626 36.0055 38.0542 35.4773 38.0542ZM35.4773 31.3584L23.0422 31.3587C22.514 31.3587 22.0859 30.9302 22.0859 30.402C22.0859 29.8739 22.5141 29.4454 23.0422 29.4454H35.4773C36.0055 29.4454 36.434 29.8739 36.434 30.402C36.434 30.9302 36.0055 31.3587 35.4773 31.3587V31.3584ZM35.4773 27.5321L23.0422 27.5325C22.514 27.5325 22.0859 27.1043 22.0859 26.5758C22.0859 26.0477 22.5141 25.6195 23.0422 25.6195H35.4773C36.0055 25.6195 36.434 26.0477 36.434 26.5758C36.434 27.1043 36.0055 27.5325 35.4773 27.5325V27.5321ZM35.4773 20.8363L23.0422 20.8366C22.514 20.8366 22.0859 20.4084 22.0859 19.8803C22.0859 19.3519 22.5141 18.9237 23.0422 18.9237H35.4773C36.0055 18.9237 36.434 19.3519 36.434 19.8803C36.434 20.4084 36.0055 20.8366 35.4773 20.8366V20.8363ZM35.4773 17.0101L23.0422 17.0107C22.514 17.0107 22.0859 16.5822 22.0859 16.0541C22.0859 15.526 22.5141 15.0974 23.0422 15.0974H35.4773C36.0055 15.0974 36.434 15.526 36.434 16.0541C36.434 16.5822 36.0055 17.0107 35.4773 17.0107V17.0101Z" fill="#505050"/>
                  <path d="M13.4785 37.0977H17.3048V40.9239H13.4785V37.0977Z" fill="#505050"/>
                  <path d="M30.6944 5.53361H26.8682C26.8682 4.50843 26.3211 3.56106 25.4334 3.04838C24.5456 2.53596 23.4515 2.53596 22.5638 3.04838C21.676 3.56113 21.129 4.50851 21.129 5.53361H17.3027V9.35952H30.6947L30.6944 5.53361Z" fill="#505050"/>
                </svg>
              </span>
            </div>
            <h4>Analytics & Reports</h4>
            <p>Configuration of reports on various parameters such as Student performances, Financial
              Analysis, Attendance reports, Subject wise result analysis, resource planning and many
              more.
            </p>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="ph-uiux-box">
            <div class="ph-uiux-icon">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="49" height="49" viewBox="0 0 49 49" fill="none">
                  <path d="M5.35542 5.40363L28.409 5.43105H36.8996V5.40363C36.8996 3.90251 35.6739 2.68359 34.1727 2.68359H5.32128C3.82048 2.68359 2.60156 3.90243 2.60156 5.40363V26.3977C2.60156 27.8989 3.8204 29.1175 5.3216 29.1175H18.9138V24.4283L5.3208 24.4287L5.35542 5.40363Z" fill="#505050"/>
                  <path d="M13.0256 31.5978C12.4884 32.307 12.399 33.2504 12.7984 34.0492C13.1979 34.8481 14.0036 35.3438 14.9056 35.3438H18.913V30.4961H13.845L13.0256 31.5978Z" fill="#505050"/>
                  <path d="M7.50018 13.5628H18.9165V9.52075C18.9165 9.03189 18.9991 8.57046 19.1436 8.13672H7.5L7.50018 13.5628Z" fill="#505050"/>
                  <path d="M6.81641 15.4023H18.9147V16.7795H6.81641V15.4023Z" fill="#505050"/>
                  <path d="M6.81641 18.4336H18.9147V19.8108H6.81641V18.4336Z" fill="#505050"/>
                  <path d="M6.81641 21.4688H18.9147V22.8459H6.81641V21.4688Z" fill="#505050"/>
                  <path d="M44.1353 6.80859H22.7623C21.4023 6.80859 20.2891 8.02871 20.2891 9.52209V43.929C20.2891 45.4223 21.4023 46.6425 22.7623 46.6425H44.1353C45.4953 46.6425 46.602 45.4223 46.602 43.929V9.52209C46.602 8.02871 45.4953 6.80891 44.1353 6.80891V6.80859ZM31.3152 9.15503H35.5818C35.9619 9.15503 36.275 9.46162 36.275 9.84173C36.275 10.2218 35.9616 10.5284 35.5818 10.5284H31.3152C30.9351 10.5284 30.6285 10.2218 30.6285 9.84173C30.6285 9.46193 30.9351 9.15503 31.3152 9.15503ZM35.5818 44.2949H31.3152C30.9351 44.2949 30.6285 43.9815 30.6285 43.6017C30.6285 43.2216 30.9351 42.915 31.3152 42.915H35.5818C35.9619 42.915 36.275 43.2216 36.275 43.6017C36.275 43.9818 35.9616 44.2949 35.5818 44.2949ZM42.2619 40.5682H24.6353V12.8813H42.2619V40.5682Z" fill="#505050"/>
                  <path d="M26.1758 14.043H40.7227V24.4232H26.1758V14.043Z" fill="#505050"/>
                  <path d="M26.0781 26.2617H32.3398V27.5949H26.0781V26.2617Z" fill="#505050"/>
                  <path d="M34.5508 26.2617H40.813V27.5949H34.5508V26.2617Z" fill="#505050"/>
                  <path d="M26.0781 29.9062H32.3398V31.2395H26.0781V29.9062Z" fill="#505050"/>
                  <path d="M34.5508 29.9062H40.813V31.2395H34.5508V29.9062Z" fill="#505050"/>
                  <path d="M26.082 33.5469H32.3437V34.8801H26.082V33.5469Z" fill="#505050"/>
                  <path d="M34.5508 33.5469H40.813V34.8801H34.5508V33.5469Z" fill="#505050"/>
                  <path d="M26.0781 37.1875H32.3398V38.5207H26.0781V37.1875Z" fill="#505050"/>
                  <path d="M34.5508 37.1875H40.813V38.5207H34.5508V37.1875Z" fill="#505050"/>
                </svg>
              </span>
            </div>
            <h4>Web Portals & Mobile App</h4>
            <p>Delivering unforgettable user experiences for all major stakeholders in an education
              ecosystem with easy to use web and mobile versions for students, teachers, Parents and
            Administrators.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- experience end -->

  <!-- transform start -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-xxl-9 col-xl-9 col-lg-10 col-md-12 mx-auto">
          <h1 class="ph-heading-title">Transform your Education System Digitally with Customized Learning Experience</h1>
          <div class="ph-whyIcon-box">
            <div class="row">
              <div class="col-md-6">
                <div class="ph-inner-icon">
                  <div class="ph-skill-team ph-bg-bluelight">
                    <i class="fa-solid fa-people-group"></i>
                  </div>
                  <div>
                    <p>Content Management System (Online courses and Training) </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="ph-inner-icon">
                  <div class="ph-skill-team ph-bg-darkyellow">
                    <i class="fa-solid fa-people-group"></i>
                  </div>
                  <div>
                    <p>Student Information System</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mx-auto">
                  <div class="ph-inner-icon">
                    <div class="ph-skill-team ph-bg-darkgreen">
                      <i class="fa-solid fa-people-group"></i>
                    </div>
                    <div>
                      <p>Web Based and mobile based live classes</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="ph-inner-icon">
                  <div class="ph-skill-team ph-bg-skylight">
                    <i class="fa-solid fa-people-group"></i>
                  </div>
                  <div>
                    <p>Online Proctoring</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="ph-inner-icon">
                  <div class="ph-skill-team ph-bg-darkbraun">
                    <i class="fa-solid fa-people-group"></i>
                  </div>
                  <div>
                    <p>Online Assessment</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- transform  end -->

  <!-- Get Connect sec -->
  <section class="ph-getconnect-sec">
    <div class="container">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 mx-auto">
        <div class="row align-items-center">
          <div class="col-xxl-9 col-xl-9 col-md-8 col-sm-6">
            <div class="ph-getconnect-content">
              <h5>Make a call From</h5>
              <h1>To Learn More About Our Custom Edtech Software Development
              </h1>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-md-4 col-sm-6">
            <div class="ph-getconnect-btn">
              <a href="javascript:;" class="ph-btn ph-btn-white">
                Schedule a call <i class="fa-solid fa-arrow-right ms-2"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Get Connect sec -->
  <!-- Middle Content End -->

  <!-- footer Sec start -->
  <%= render partial: 'footer' %>
  <!-- footer sec end -->
</div>

<!-- Modal -->
<%= render partial: 'hire_developer' %>