<div class="ph-main-wrapper">
  <!-- Header start -->
  <%= render partial: 'header' %>
  <!-- Header end -->

  <!-- Middle Content Start -->

  <!-- Top ourTeam Banner start -->
  <section class="ph-event-banner">
    <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <div class="ph-eventBanner-content">
            <h1 class="ph-heading-title">
              <span>Protonshub</span>Technologies
            </h1>
            <h6>Exhibiting in</h6>
            <%= image_tag "indiasoftlogo.png" %>
            <h6 class="mt-2">23rd Edition</h6>
            <h4>27 to 29 March 2023, New Delhi</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- OurTeam Banner End -->
  <!-- about project start -->
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="ph-ap-content">
            <h1>Exhibiting - IndiaSoft</h1>
            <ul>
              <li>
                <p>Date</p>
                <h5>27 to 29 March, 2023</h5>
              </li>
              <li>
                <p>Booth No</p>
                <h5>5.515</h5>
              </li>
              <li>
                <p>Venue</p>
                <h5>Pragati Maidan, New Delhi-110001</h5>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="ph-ap-content">
            <h4>What to expect from Protonshub at the event?</h4>
            <p>
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
            </p>
            <p>
              Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
            </p>
            <div class="">
              <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn  ph-btn-white">Contact Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about project end -->
  <!-- business problem start -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="ph-heading-title">
            <h1>IndiaSoft – India IT Show</h1>
            <p>The Electronics and Computer Software Export Promotion Council (ESC) organizes IndiaSoft – India IT Show in India.</p>
            <p>IndiaSoft is a B2B IT exposition that aims to provide innovative products and solutions for enterprises from the best IT vendors in the country. More than 400 Foreign IT buyers from 75+ countries converge with 150 Indian IT companies under one roof for the event.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="ph-business-img">
            <%= image_tag "event.png" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="ph-business-content">
            <!-- <h1>Business Problem</h1> -->
            <p>
              IndiaSoft focuses on sectors that demand
              software and IT services, such as finance,
              logistics, distribution, travel, transport,
              energy, etc. It is a worldwide IT networking
              event to promote collaboration and joint
              ventures between Indian enterprises and
              overseas customers.
            </p>
            <p>
              Since we offer top-notch IT and software
              development services for global markets,
              IndiaSoft is a fantastic opportunity for us
              to network with new clients, build brand
              recognition, and present our technology and
              IT strength to all foreign clients.
            </p>
            <p>
              To continue expanding in the cutthroat
              market, Protonshub is constantly looking for
              new prospects. We want to connect with new
              potential clients, learn about their needs,
              and figure out how we can best complement
              one another.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- business problem end -->
  <section class="ph-dedicated-dp-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-12 mx-auto col-sm-12">
        <div class="ph-heading-title ph-hire-title mb-0">
          <p>Let’s Meet</p>
          <h1>
            Build A <span>Partnership</span>
          </h1>
          <p>Connect, Collaborate, and Succeed</p>
          <p>Visit IndiaSoft 2023, New Delhi, to meet our
            management team and to create an exciting
            beginning for prosperity, productivity, and
            performance. We are actively participating
            in IndiaSoft 2023, New Delhi, with a
            determination to create a culture of
            communication, collaboration, and
            coordination for all parties to succeed and
            grow.
          </p>
          <div class="mt-4">
            <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn  ph-btn-white">Schedule a Meeting <i class="fa-solid fa-arrow-right ms-2"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xxl-10 col-xl-12 mx-auto">
        <div class="ph-heading-title mb-4">
          <h1>Why Protonshub?</h1>
          <p>
            Protonshub is a <span>CMMI Level 5 custom
              software
            development company</span> that has
            competent staff
            members who can provide cutting-edge custom
            software development and web application
            development services depending on a variety
            of industries, including healthcare,
            education, finance, food, and more.
          </p>
        </div>
      </div>
      <div class="col-xl-8 mx-auto">
        <div class="row">
          <div class="col-md-3">
            <div class="ph-eventplacelogo-icon">
              <%= image_tag "cmmi-five.webp" %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="ph-eventplacelogo-icon">
              <%= image_tag "appfutura-topapp.webp" %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="ph-eventplacelogo-icon">
              <%= image_tag "topdevelopers.png" %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="ph-eventplacelogo-icon">
              <%= image_tag "great-place.png" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Portfolio details -->
<section class="ph-careers-video-sec">
  <div class="container">
    <div class="row">
      <div class="col-xxl-10 col-xl-12 mx-auto">
        <div class="ph-heading-title mb-4">
          <h1>Protonshub Supports Its Partners To Unleash
            The Success
          </h1>
        </div>
        <div class="my-4 text-center">
          <p>
            Protonshub is a <span>CMMI Level-5 and
            Great Place to Work organization</span>
            that works side by side with top-tier
            businesses in India including ICICI
            Bank, 1 Mg, Stage, Axis Bank, and many
            more in their digital journey. Whether
            it be an Individual, Startup, or
            Enterprise looking for an exciting
            association to manifest your revenues,
            Protonshub is the right destination to
            achieve the same.
          </p>
        </div>
      </div>
      <div class="col-xxl-10 col-xl-12 col-lg-12 col-md-12
      mx-auto">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="ph-box-work">
            <div class="ph-icon-work">
              <i class="fa-sharp fa-solid
              fa-ranking-star"></i>
            </div>
            <div class="ph-content-work">
              <h5>Technology Training</h5>
              <p>
                Get new technology training
                while enhancing your
                technological knowledge.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ph-box-work">
            <div class="ph-icon-work">
              <i class="fa-sharp fa-solid
              fa-ranking-star"></i>
            </div>
            <div class="ph-content-work">
              <h5>Tools Training</h5>
              <p>
                Learn how to execute the
                latest tools in one go and
                stay updated about them.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ph-box-work">
            <div class="ph-icon-work">
              <i class="fa-sharp fa-solid
              fa-ranking-star"></i>
            </div>
            <div class="ph-content-work">
              <h5>Marketing Support</h5>
              <p>Enhance your revenue
                naturally with top-quality
                marketing assistance.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ph-box-work">
            <div class="ph-icon-work">
              <i class="fa-sharp fa-solid
              fa-ranking-star"></i>
            </div>
            <div class="ph-content-work">
              <h5>Domain Expertise</h5>
              <p>
                Experience, expertise, and
                excellence is what you
                achieve.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ph-box-work">
            <div class="ph-icon-work">
              <i class="fa-sharp fa-solid
              fa-ranking-star"></i>
            </div>
            <div class="ph-content-work">
              <h5>Exclusivity</h5>
              <p>
                Experience the best
                work-life balance, the best
                service, and a truly
                memorable experience.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- Get Connect sec -->
<section class="ph-getconnect-sec">
  <div class="container">
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12
    mx-auto">
    <div class="row align-items-center">
      <div class="col-md-8 col-sm-6">
        <div class="ph-getconnect-content">
          <h5>Let’s Meet</h5>
          <h1>
            Build A Partnership that defines
            the future of Modern-day Business.
          </h1>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="ph-getconnect-btn">
          <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn  ph-btn-white">Schedule a Meeting <i class="fa-solid fa-arrow-right ms-2"></i></a>
      </div>
    </div>
  </div>
</div>
</div>
</section>
<!-- Get Connect sec -->

<!-- Middle Content End -->

<!-- footer Sec start -->
<%= render partial: 'footer' %>
<!-- footer sec end -->
</div>

<!-- Modal -->
<%= render partial: 'hire_developer' %>
<%= render partial: 'have_a_project' %>