<div class="ph-main-wrapper">
  <!-- Header start -->
  <%= render partial: 'header' %>
  <!-- Header end -->

  <!-- Middle Content Start -->
  <!-- Dedicated Development  start -->
  <section class="ph-edtech-sec ph-fintech-sec">
    <div class="container">
      <div class="ph-OurTeam-content">
        <div class="row align-items-center">
          <div class="col-xxl-8 col-xl-8 col-lg-12 col-md-12 col-sm-12">
            <div class="ph-heading-title">
              <!-- <h6 class="ph-banner-tiltle">#Hire The Top Dedicated Developer </h6> -->
              <h1>
                Get your <span>Next Financial Application</span> or Software Developed by Innovators
              </h1>
              <p>Schedule a Free Consultation Call TODAY!</p>

              <div class="ph-banner-btn mt-4">
                <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn remove-errors">Book Now!<i class="fa-solid fa-arrow-right ms-2"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Dedicated Development End -->

  <!-- experience start -->
  <section class="ph-experience-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-9 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <div class="ph-heading-title mb-0">
            <h1>Accelerating Transformation and Innovation in Custom Financial Software Development
            Services</h1>
            <p class="mb-0">We at protonshub are redefining the way people will Buy, Sell, Invest, pay and Purchase
            in next 5 years, with our Custom Finaicial software development services.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- experience end -->

  <!-- core value start -->
  <section class="ph-corevalue-sec ph-bg-color">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xxl-6 col-lg-6 col-md-6">
          <div class="ph-about-content ps-0">
            <div class="text-start">
              <h1>Our Galaxy of Fintech Software Solutions</h1>
            </div>

            <div class="mt-4">
              <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn remove-errors">
                Hire our Developers Today!<i class="fa-solid fa-arrow-right ms-2"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xxl-6 col-lg-6 col-md-6">
          <div class="row">
            <div class="ph-scroll-content">
              <div class="ph-corevalue-box text-start">
                <div class="ph-content-box-value">
                  <h5>We make Investments Easy</h5>
                  <p> At protonshub our expert Fintech Software Developers processes more than 100 person years of experience in developing Software solutions for investment industry and create compelling solutions that are user friendly, Highly interactive and Provide the best view on their their portfolio performance, the summary of investments, insights into their holdings, etc. </p>
                </div>
              </div>

              <div class="ph-corevalue-box text-start">
                <div class="ph-content-box-value">
                  <h5>KYC Management Solutions</h5>
                  <p>Knowing your customer is a critical parameter in Financial industry and we at Protonshub have a very strong hold in developing a robust and easy to use Know Your Customer (KYC)- integrated technology platforms that effectively manages all the KYC regulatory compliances, Audits and policy requirements.
                  </p>
                </div>
              </div>
              <div class="ph-corevalue-box text-start">
                <div class="ph-content-box-value">
                  <h5>Fraud Prevention Solution-
                  </h5>
                  <p>Data and Fraud Protection today is one of the most sensitive challenges in Banking and Financial service Industry and Understanding the importance of it we develop high class military grade secured Fraud and Data security solutions that revolves around Preventing and Protecting all sorts of Fraudulent practices, ensuring all unusual differences in user profiles and transactions by monitoring and mitigating risks in real-time.</p>
                </div>
              </div>
              <div class="ph-corevalue-box text-start">
                <div class="ph-content-box-value">
                  <h5>Digital Wallets and Payment Solutions -
                  </h5>
                  <p>Digitization of payment systems and Introduction of Digital payments has been a trend for a while now. Our digital wallet applications are Highly Secured and Encrypted with all latest transactional compliances and are used by millions of users worldwide to transfer and receive money to individuals and banks from and within the application through cards, mobile numbers, QR Codes, and NFC.
                  </p>
                </div>
              </div>
              <div class="ph-corevalue-box text-start">
                <div class="ph-content-box-value">
                  <h5>One stop banking Solution-
                  </h5>
                  <p>The Finance & Mobile banking solutions developed by Protonshub is highly adapt for both retail and corporate banks across the globe. With us, banks get a high class secured application with all banking and Financial security pre defined for Military grade security, High performance-based microservice architecture, and a product that is a result of user-driven lean methodology.
                  </p>
                </div>
              </div>
              <div class="ph-corevalue-box text-start">
                <div class="ph-content-box-value">
                  <h5>Accounting Software Solutions-
                  </h5>
                  <p>We Build the most Comprehensive cloud-based accounting platform that takes care of your business finance. From core accounting, stock tracking, bank reconciliation, and managing projects, to automating workflows, and keeping your business GST compliant, our accounting Software does it all and more.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- core value end -->

  <section>
    <div class="container">
      <div class="row">
        <div class="col-xxl-8 col-xl-8 col-lg-10 col-md-10 mx-auto">
          <div class="ph-heading-title">
            <h1>We Develop FinTech Apps that Surges Your Business Growth Strongly through All Challenges
            </h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <div class="ph-fintech-point">
            <div class="ph-hireprice-box">
              <h5>Strong Regulatory Compliances</h5>
              <ul>
                <li>PCI-DSS</li>
                <li>PII</li>
                <li>AES 120 But Encrypted</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <div class="ph-fintech-point">
            <div class="ph-hireprice-box">
              <h5>End-to-END Data And Information Security</h5>
              <ul>
                <li>HIDS (Host Intrusion Detection System)</li>
                <li>SIEM (Security Incident Event Managenment)</li>
                <li>UTM (Unified Threat Management)</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <div class="ph-fintech-point">
            <div class="ph-hireprice-box">
              <h5>Borderless Business</h5>
              <ul>
                <li>Global Payment System</li>
                <li>Inter-regional Business Framework</li>
                <li>Cross Sector Open Banking Model</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--About Start -->
  <section class="ph-about-sec ph-fintech-inner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xxl-5 col-xl-6 col-md-6 col-sm-7">
          <div class="ph-about-content ps-0">
            <div class="text-start">
              <h1>Get! Set! Go! For your Dream Project with PROTONSHUB!</h1>
            </div>
            <p>
              We are more than ready to Transform your Financial Business, Are you Up for it?
            </p>
          </div>
        </div>
        <div class="col-xxl-7 col-xl-6 col-md-6 col-sm-5">
          <div class="ph-health-img">
            <%= image_tag "fintect-payment.webp", class: "img-fluid" %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--About end -->

  <section class="uiux-wireframe-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-7 col-xl-8 col-lg-10 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Features of our <span>Banking</span> and <span>Fintech</span> Solutions</h1>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
            <div class="ph-wirframe-box">
              <div class="ph-wireframe-inner">
                <h6>Multi-Factor Authentication</h6>
                <p>
                  Providing more than 2 factor authentication for the information access to ensure utmost data security.
                </p>
              </div>
              <div class="ph-wireframe-inner">
                <h6>Payment Gateway Integration</h6>
                <p>
                  Development of modern tools to help merchants send and receive payments online.
                </p>
              </div>
              <div class="ph-wireframe-inner">
                <h6>Multi Account Management</h6>
                <p>
                Allows multiple allocation methods, flexible commission calculation. High execution speed, one execution price for all sub-accounts.
                </p>
              </div>
              <div class="ph-wireframe-inner">
                <h6>Cross region and Sector Compatibility</h6>
                <p>
                Ensuring all the business compliance and features required to to do business in multiple geo-location in varied business domains.
                </p>
              </div>
              <div class="ph-wireframe-inner">
                <h6>Reporting and Analytics </h6>
                <p>
                  Providing high quality data reporting, data sorting , intuitive dashboard and analytics for efficient and quick decision making.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
            <div class="ph-wireframe-img text-center">
              <%= image_tag "fintech-app.webp" %>
            </div>
          </div>
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
            <div class="ph-wirframe-box">
              <div class="ph-wireframe-inner">
                <h6>Customer Data Management</h6>
                <p>
                Streamline Acquiring, organizing and using customer data for better customer understanding leading to increased conversation and inflated conversions.
                </p>
              </div>
              <div class="ph-wireframe-inner">
                <h6>
                  Compliance Ready
                </h6>
                <p>
                Preloaded regulatory and statutory compliances required for smooth and seamless business operations.
                </p>
              </div>
              <div class="ph-wireframe-inner">
                <h6>
                Secure, Robust and Scalable
                </h6>
                <p>
                Highly secured, and scalable on demand solution with state-of-the-art infrastructure designed to comfort your business.
                </p>
              </div>
              <div class="ph-wireframe-inner">
                <h6>
                Multiple Transaction Model
                </h6>
                <p>
                Supports multiple transaction models including online payments, UPI payments, Wallets and SWIFT based payments. 
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Get Connect sec -->
  <section class="ph-getconnect-sec">
    <div class="container">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 mx-auto">
        <div class="row align-items-center">
          <div class="col-xxl-9 col-xl-9 col-md-8 col-sm-6">
            <div class="ph-getconnect-content">
              <h1>We are more than ready to Transform your Financial Business,</h1>
              <h5>Are you Up for it?</h5>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-md-4 col-sm-6">
            <div class="ph-getconnect-btn">
              <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn remove-errors ph-btn-white">
                Get Connect <i class="fa-solid fa-arrow-right ms-2"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Get Connect sec -->
  <!-- Middle Content End -->

  <!-- footer Sec start -->
  <%= render partial: 'footer' %>
  <!-- footer sec end -->
</div>

<!-- Modal -->
<%= render partial: 'hire_developer' %>
<%= render partial: 'have_a_project' %>