<title>Protonshub | Food Industry</title>
<div class="ph-main-wrapper">
  <!-- Header start -->
  <%= render partial: 'header' %>
  <!-- Header end -->

  <!-- Middle Content Start -->

  <!-- Dedicated Development  start -->
  <section class="ph-app-develop-sec ph-food-sec">
    <div class="container">
      <div class="ph-OurTeam-content">
        <div class="row align-items-center">
          <div class="col-xxl-6 col-xl-6 col-lg-8 col-md-8 col-sm-8">
            <div class="ph-heading-title">
              <!-- <h6 class="ph-banner-tiltle">#Hire The Top Dedicated Developer </h6> -->
              <h1>Leading Food Delivery App Development Company</h1>
              <p>Get the industry-leading <span><a href="javascript:;">food delivery app development</a></span> comparable to Zomato and Uber Eats. Utilize automation to boost revenue and productivity.</p>
              <div class="ph-banner-btn mt-4">
                <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn remove-errors">
                  Start a Project <i class="fa-solid fa-arrow-right ms-2"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-xxl-6 col-lg-4 col-md-4 col-sm-4">
            <div class="ph-mobile-app ph-food-box">
              <%= image_tag "food-app.png"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Dedicated Development End -->

  <!-- experience start -->
  <section class="ph-experience-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-10 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Advanced Food Ordering App Development Solutions</h1>
            <p>In order to serve the hotel, restaurant, and small- and medium-sized FMC industries,
              Protonshub a <span><a href="javascript:;">food delivery app developer in
              India</a></span> focuses on creating food tech software. We create incredibly
              efficient and secure solutions to digitalize business processes across the entire food
              and beverage industry.
            </p>
          </div>
        </div>
      </div>
      <div class="ph-hireExp-sec">
        <div class="row">
          <div class="col-md-6">
            <div class="ph-mobileApp-img">
              <%= image_tag "food-industry-big.jpg", class: "ph-app-top"%>
              <div class="ph-appimg-inner">
                <%= image_tag "food-industry-small.jpg", class: "ph-app-bottom"%>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="ph-app-content">
              <h3>Why Choose Us?</h3>
              <p>Developing your product from scratch and making it reach the highest level of quality
                is what we deliver to our customers. Analyzing your product idea is the foremost
                step we consider and we make the solution as per your requirements.
              </p>
              <div class="ph-app-inner-content">
                <h6>
                  <span>
                    <%= image_tag "web-develop-icon.svg"%>
                  </span> Food Delivery Startups
                </h6>
                <p>Earn profit, grow professionally, and create an impact today, by using a
                full-fledged online food delivery app. </p>
                <h6><span><i class="fa-solid fa-circle-check"></i> </span>Fast Casual/QSR</h6>
                <p>Give your food business a smooth flow and move to a smart approach with the help
                  of a well-featured app.
                </p>
                <h6><span><i class="fa-solid fa-circle-check"></i></span> Restaurant Chain Owners
                </h6>
                <p>Manage your chain of restaurants with a single and quality-rich food delivery
                solution. </p>
                <h6><span><i class="fa-sharp fa-solid fa-ranking-star"></i> </span> Restaurant
                Aggregators</h6>
                <p>Customize your app and make it as good as Uber Eats and GrubHub and increase your
                revenue organically.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- experience end -->

  <!-- ui ux wireframe start  -->
  <section class="uiux-wireframe-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Avail of World-Class Features In Your Food Ordering App</h1>
            <p>Get the updated and industry-specific features and have a secure platform to continue your food business. With Protonshub <span><a href="javascript:;">food delivery app development company,</a></span> get instant orders and maintain a record of all in a single app.
            </p>
          </div>
        </div>
        <div class="ph-foodNav-tab">
          <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="CustomerApp-tab" data-bs-toggle="pill" data-bs-target="#CustomerApp" type="button" role="tab" aria-controls="Customer-app" aria-selected="true">Customer App</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="restaurant-tab" data-bs-toggle="pill" data-bs-target="#restaurantApp" type="button" role="tab" aria-controls="restaurant-app" aria-selected="false">Restaurant App</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="driverApp-tab" data-bs-toggle="pill" data-bs-target="#driverApp" type="button" role="tab" aria-controls="driverApp" aria-selected="false">Driver App</button>
            </li>
          </ul>
        </div>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="CustomerApp" role="tabpanel" aria-labelledby="CustomerApp-tab" tabindex="0">
            <div class="row align-items-center">
              <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                <div class="ph-wirframe-box">
                  <div class="ph-wireframe-inner">
                    <h6>User Authentication</h6>
                    <p>Easily lets users log in by creating an account with the help of email and a password.
                    </p>
                  </div>
                  <div class="ph-wireframe-inner">
                    <h6>Profile Creation and Profile Management</h6>
                    <p>Anytime users can edit and add their personal details.</p>
                  </div>
                  <div class="ph-wireframe-inner">
                    <h6>Smart Search</h6>
                    <p>Filter the options and make the search results simplified and accurate.
                    </p>
                  </div>
                  <div class="ph-wireframe-inner">
                    <h6>Order Food</h6>
                    <p>Users can hassle-free order food for themselves and even for their family
                      and friends.
                    </p>
                  </div>
                  <div class="ph-wireframe-inner">
                    <h6>Pick up & Drop</h6>
                    <p>Get your orders to the right place by selecting the pickup and drop
                    location. </p>
                  </div>
                </div>
              </div>
              <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                <div class="ph-wireframe-img d-flex justify-content-center">
                  <%= image_tag "food-app.png"%>
                </div>
              </div>
              <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                <div class="ph-wirframe-box">
                  <div class="ph-wireframe-inner">
                    <h6>Order Tracking
                    </h6>
                    <p>Track the order and stay updated about every second. </p>
                  </div>
                  <div class="ph-wireframe-inner">
                    <h6>
                      Multiple Payment Options
                    </h6>
                    <p>Avail multiple payment options, including card, wallet, and cash.
                    </p>
                  </div>
                  <div class="ph-wireframe-inner">
                    <h6>
                      Rate and Review
                    </h6>
                    <p>Share your experience and give feedback and review the food delivery app solution
                      instantly.
                    </p>
                  </div>
                  <div class="ph-wireframe-inner">
                    <h6>
                      Promos & Offers
                    </h6>
                    <p>Get notified about new deals and amazing offers.
                    </p>
                  </div>
                  <div class="ph-wireframe-inner">
                    <h6>
                      Re-Order
                    </h6>
                    <p>Order again from the history and save your time.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="restaurantApp" role="tabpanel" aria-labelledby="restaurant-tab" tabindex="0">
            <div class="row align-items-center">
              <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                <div class="ph-wirframe-box">
                  <div class="ph-wireframe-inner">
                    <h6>Order Tracking
                    </h6>
                    <p>Keep track of your order and stay up-to-date.
                    </p>
                  </div>
                  <div class="ph-wireframe-inner">
                    <h6>
                      Billing
                    </h6>
                    <p>Don't hassle between orders and the billing process, easily generate
                      bills automatically.
                    </p>
                  </div>
                  <div class="ph-wireframe-inner">
                    <h6>
                      Menu Management
                    </h6>
                    <p>Update new data and let your users have a single view of the whole menu.
                    </p>
                  </div>
                  <div class="ph-wireframe-inner">
                    <h6>
                      Location-based Delivery
                    </h6>
                    <p>Get your orders at the defined location without any hassle.
                    </p>
                  </div>
                  <div class="ph-wireframe-inner">
                    <h6>
                      Customer Review Portal
                    </h6>
                    <p>Be updated about your customer experience and view feedback instantly.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                <div class="ph-wireframe-img d-flex justify-content-center">
                  <%= image_tag "food-app.png"%>
                </div>
              </div>
              <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                <div class="ph-wirframe-box">
                  <div class="ph-wireframe-inner">
                    <h6>ChatBot</h6>
                    <p>Get assistance and resolve queries within the app.</p>
                  </div>
                  <div class="ph-wireframe-inner">
                    <h6>
                      Offer/Price Portal
                    </h6>
                    <p>Be updated about new prices and offers with a click.
                    </p>
                  </div>
                  <div class="ph-wireframe-inner">
                    <h6>
                      Loyalty Bonus
                    </h6>
                    <p>Reward loyal customers in multiple ways and make them feel special.
                    </p>
                  </div>
                  <div class="ph-wireframe-inner">
                    <h6>
                      Reservations
                    </h6>
                    <p>Book your table beforehand and never let any hassle come your way.
                    </p>
                  </div>
                  <div class="ph-wireframe-inner">
                    <h6>
                      Marketing
                    </h6>
                    <p>
                      Gain an edge over others, from social media, and WhatsApp to SMS.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="driverApp" role="tabpanel" aria-labelledby="driverApp-tab" tabindex="0">
            <div class="row align-items-center">
              <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                <div class="ph-wirframe-box">
                  <div class="ph-wireframe-inner">
                    <h6>Location Assistance </h6>
                    <p>Get updated location details and smoothly deliver items in a single go.
                    </p>
                  </div>
                  <div class="ph-wireframe-inner">
                    <h6>Payment Portals </h6>
                    <p>Avail multiple payment options, including card, wallet, and cash.
                    </p>
                  </div>
                  <div class="ph-wireframe-inner">
                    <h6>Real-Time Order Assignment</h6>
                    <p>Place, receive, and smoothly go about with the order process flexibly.
                    </p>
                  </div>
                  <div class="ph-wireframe-inner">
                    <h6>Customer Details </h6>
                    <p>Make order processing one of the finest by giving a complete customer
                      detail form.
                    </p>
                  </div>
                  <div class="ph-wireframe-inner">
                    <h6>Last-Mile Delivery</h6>
                    <p>The last leg of transportation enables the delivery to be seamless.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                <div class="ph-wireframe-img d-flex justify-content-center">
                  <%= image_tag "food-app.png"%>
                </div>
              </div>
              <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
                <div class="ph-wirframe-box">
                  <div class="ph-wireframe-inner">
                    <h6>Feedback and Ratings
                    </h6>
                    <p>Share your experience and give feedback and review the delivery
                      instantly.
                    </p>
                  </div>
                  <div class="ph-wireframe-inner">
                    <h6>
                      Delivery Proof Portals
                    </h6>
                    <p>Get complete delivery-proof data and manage orders hassle-free.
                    </p>
                  </div>
                  <div class="ph-wireframe-inner">
                    <h6>
                      Tip Summary
                    </h6>
                    <p>
                      Get full-fledged data of tips and manage every aspect professionally.
                    </p>
                  </div>
                  <div class="ph-wireframe-inner">
                    <h6>
                      Accept And Reject Offers
                    </h6>
                    <p>Make use of all offers, and select the best one for you.
                    </p>
                  </div>
                  <div class="ph-wireframe-inner">
                    <h6>
                      Real-Time Order Packing
                    </h6>
                    <p>Get all the orders packed and delivered within minutes.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ui ux wireframe end -->

  <!--About Start -->
  <section class="ph-about-sec ph-foodindustry-sec">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xxl-6 col-xl-6 col-md-6">
          <div class="ph-about-content ps-0">
            <div class="text-start">
              <h1>Discover A Powerful Food Ordering & Delivery Software And Make Your Business Touch The Next Level
              </h1>
              <p>
                We make it easy for you to manage your multiple food ventures and restaurant chains
                through a digital platform. Our magnificent food delivery software is packed with
                many elements like a customer app, global dashboard, restaurant app, and so on.
              </p>
            </div>
            <div class="mt-4">
              <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn remove-errors">
                Get Connect<i class="fa-solid fa-arrow-right ms-2"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xxl-6 col-xl-6 col-md-6">
          <div class="ph-health-img">
            <%= image_tag "food-online.webp"%>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--About end -->

  <!-- Hire Dedicated start-->
  <section class="ph-download-sec ph-spacer-top ph-spacer-bottom">
    <div class="container">
      <div class="ph-health-bg">
        <div class="row">
          <div class="col-md-12">
            <div class="ph-heading-title ph-hire-title mb-0">
              <h4>Looking for a robust food delivery app for your restaurant?
              </h4>
              <div class="ph-banner-btn mt-4">
                <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn remove-errors">Contact Us </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Hire Dedicated end -->

  <!-- industries start -->
  <section class="ph-industry-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-8 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Industries We Serve</h1>
            <p>By simplifying digital transformation, we make it easier for you. Among the top custom
              software development firms, Protonshub offers a wide range of services that cover
            multiple industries.</p>
          </div>
        </div>
        <div class="col-xxl-10 col-xl-10 col-md-12 mx-auto">
          <div class="row justify-content-center">
            <div class="col-xl-3">
              <div class="ph-Industries-box">
                <%= image_tag "video-icon.svg"%>
                <p>Video On Demand (VOD)</p>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="ph-Industries-box">
                <%= image_tag "ott-icon.svg"%>
                <p>OTT</p>

              </div>
            </div>
            <div class="col-xl-3">
              <div class="ph-Industries-box">
                <%= image_tag "like-icon.svg"%>
                <p>Social Media with Video / Live
                Streaming</p>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="ph-Industries-box">
                <%= image_tag "e-c-icon.svg"%>
                <p>E-commerce with Live Shopping</p>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="ph-Industries-box">
                <%= image_tag "fitness-icon.svg"%>
                <p>Fitness / GYM</p>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="ph-Industries-box">
                <%= image_tag "logistic-icon.svg"%>
                <p>Logistic</p>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="ph-Industries-box">
                <%= image_tag "healthcare-icon.svg"%>
                <p>Healthcare</p>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="ph-Industries-box">
                <%= image_tag "travel-icon.svg"%>
                <p>Travel</p>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="ph-Industries-box">
                <%= image_tag "restaurant-icon.svg"%>
                <p>Restaurant</p>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="ph-Industries-box">
                <%= image_tag "education-icon.svg"%>
                <p>E-Learning</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- industries end -->

  <!--  Start ph-testimonials -->
  <section class="ph-testimonials slider-thumbs">
    <div class="container">
      <div class="ph-swiper-slide">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="ph-heading-title">
              <h6>Our testimonials</h6>
              <h1>Our Client's</h1>
            </div>
          </div>
          <div class="col-xxl-8 col-xl-9 col-lg-9 col-md-12 col-sm-12">
            <div class="ph-tesmonial-slider">
              <div class="swiper-container gallery-thumbs">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="img">
                      <div class="circle">
                        <%= image_tag "amine-belkhiria.png" %>
                      </div>
                      <span class="gr-purple-red-bg"></span>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="img">
                      <div class="circle">
                        <%= image_tag "lex-lightning.png" %>
                      </div>
                      <span class="gr-purple-red-bg"></span>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="img">
                      <div class="circle">
                        <%= image_tag "mate-andrasi.png" %>
                      </div>
                      <span class="gr-purple-red-bg"></span>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="img">
                      <div class="circle">
                        <%= image_tag "aleksandar-mishachkovski.png" %>
                      </div>
                      <span class="gr-purple-red-bg"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-container gallery-top">
                <div class="swiper-wrapper text-center">
                  <div class="swiper-slide">
                    <div class="item">
                      <div>
                        <p>Professional Web Development services! We have been working with Protonshub for many years now. They provided reliable solutions for complex web development problems! We love their services and we will continue our cooperation for further product development projects</p>
                      </div>
                      <div class="ph-client-detail">
                        <h4>Amine Belkhiria</h4>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="item">
                      <div>
                        <p>Protonshub built me a great app, as promised, on time and on budget. The team was very responsive to my needs, able to communicate the technical details of the job easily so that a rookie like me could easily understand the process, and they contributed good ideas and creativity to the final product.
                        </p>
                      </div>
                      <div class="ph-client-detail">
                        <h4>Lex Lightning</h4>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="item">
                      <div>
                        <p>I have been working
                          on various different
                          projects with
                          professionals from
                          Protonshub. They are
                          not only very
                          reliable,
                          intelligent and get
                          the job done, but
                          for Agile
                          professionals like
                          me they
                          are a Godsend: I
                          hardly need to open
                          them up or bridge
                          cultural
                          gaps - there aren't
                          any! The
                          moment I stated I
                          encourage people to
                          speak up.
                        </p>
                      </div>
                      <div class="ph-client-detail">
                        <h4>Máté Andrási</h4>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="item">
                      <div>
                        <p>We have used
                          Protonshub on few
                          small project in the
                          past related
                          to SW services for
                          mobile development.
                          I'm happy to say
                          that i was quite
                          satisfied with the
                          quick
                          responses from their
                          side
                          on any and all
                          Question we had
                          related to scope,
                          timeframe and
                          quality of the code.
                        </p>
                      </div>
                      <div class="ph-client-detail">
                        <h4>Aleksandar
                        Mishachkovski</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="controls-rf">
              <!-- Add Arrows -->
              <div class="swiper-button-next ctrl-circle">
                <span class="icon pe-7s-angle-right"></span>
              </div>
              <div class="swiper-button-prev ctrl-circle">
                <span class="icon pe-7s-angle-left"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End ph-testimonials -->

  <!-- Accordion start -->
  <section class="ph-accordion-sec ">
    <div class="container">
      <div class="row">
        <div class="col-xxl-6 col-xl-8 col-md-8 mx-auto">
          <div class="ph-heading-title">
            <h1>Frequently Asked Questions</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-10 col-xl-12 col-lg-12 col-md-12 mx-auto">
          <div class="ph-accordion-box">
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    What is a food delivery app?
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Online food delivery app is a software that makes it
                    simple for stores, eateries, and cloud kitchens to take online orders.
                    Additionally, it makes it easier for customers to place orders and choose
                    locations. Customers are able to pay online using a variety of payment
                    options. Customers can track their orders from anywhere, and restaurants are
                    alerted to new orders.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Why is there a need to have a food delivery app?
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <p>Digitalization is helping the food industry shift towards a smart
                      approach. It enables seamless workflow, easy order placing, multiple
                    payment options, complete history, customer details, and so on.</p>
                    <p>Manual approaches were tedious and used to take a lot of time. With food
                      delivery apps, cloud kitchens, restaurants, and other similar industries
                      were able to meet their customer's needs on time.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Why choose Protonshub food delivery app development services?
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    The food industry can benefit from Protonshub's cutting-edge solutions,
                    which include effective operations in production management, supply chain
                    management, transportation, and inventory management for useful items that
                    will increase a company's growth and profitability.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    How are restaurants getting benefits from an automated food delivery
                    application?
                  </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    In order to give customers a better experience, Protonshub restaurant app
                    development company provide mobile apps for restaurants, hotels, and cloud
                    kitchens that offer menu information, wholesome food, payment alternatives,
                    and a lot more.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
                    Is it possible to have a customized food delivery app?
                  </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    In all areas of the food industry, including production, food costing,
                    distribution, delivery, inventory management, payment, and customer reviews,
                    Protonshub creates bespoke software. Our top priorities are boosting sales,
                    profitability, and delivery efficiency.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Accordion end -->

  <!-- Get Connect sec -->
  <section class="ph-getconnect-sec">
    <div class="container">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 mx-auto">
        <div class="row align-items-center">
          <div class="col-md-8 col-sm-6">
            <div class="ph-getconnect-content">
              <h5>Make a call From</h5>
              <h1>Increase Your Food Business Revenue Today</h1>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="ph-getconnect-btn">
              <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn remove-errors ph-btn-white">Connect Now <i class="fa-solid fa-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Get Connect sec -->

  <!-- Middle Content End -->

  <!-- footer Sec start -->
  <%= render partial: 'footer' %>
  <!-- footer sec end -->
</div>

<!-- Modal -->
<%= render partial: 'hire_developer' %>
<%= render partial: 'have_a_project' %>