<div class="ph-main-wrapper">
  <!-- Header start -->
  <%= render partial: 'header' %>
  <!-- Header end -->

  <!-- Middle Content Start -->
  <!-- Dedicated Development  start -->
  <section class="ph-app-develop-sec ph-healthcare-bg">
    <div class="container">
      <div class="ph-OurTeam-content">
        <div class="row align-items-center">
          <div class="col-xxl-6 col-xl-6 col-lg-12 col-md-12
          col-sm-12">
          <div class="ph-heading-title">
            <!-- <h6 class="ph-banner-tiltle">#Hire The Top Dedicated Developer </h6> -->
            <h1>
              Innovative Healthcare Software Development Company
            </h1>
            <p>Creating a positive impact on healthcare through constant innovation in <span><a
              href="javascript:">healthcare software development.</a></span></p>
              <div class="ph-banner-btn mt-4">
                <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn remove-errors">Start
                  a Project<i class="fa-solid fa-arrow-right ms-2"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Dedicated Development End -->

  <!-- experience start -->
  <section class="ph-experience-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-9 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Digital Acceleration in Healthcare & Life Science
            </h1>
            <p>The transition to digitalization is still a significant problem for large corporations, life science companies, and healthcare organizations. After thoroughly analyzing the issue, we try to develop healthcare solutions that are both feature-rich and efficient.
            </p>
            <p>Protonshub one of the best <a href="javascript:;">healthcare app development company</a> is filling the gaps and is developing solutions that meet the current requirements of the healthcare industry. Our digital service and solutions are assisting life science organizations and the healthcare industry in improving their work results flexibly. </p>
          </div>
        </div>
      </div>
      <div class="ph-hireExp-sec">
        <div class="row">
          <div class="col-md-6">
            <div class="ph-mobileApp-img">
              <%= image_tag "healthcare-doc.webp", class: "ph-app-top" %>
              <div class="ph-appimg-inner">
                <%= image_tag "healthcare-app.webp", class: "ph-app-bottom" %>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="ph-app-content">
              <h3>Top-notch Healthcare Solutions</h3>
              <p>We design our services with the needs of our customers and market trends in mind. In order to provide our clients with the finest experience and top-notch outcomes, our assistance is always available, whether it be a question or a fast update.
              </p>
              <div class="ph-app-inner-content">
                <h6> Custom Healthcare Software Development</h6>
                <p>We provide a seamless healthcare solution as per the needs and requirements of our clients. Our specialized healthcare software development services concentrate on enhancing healthcare and integrating cutting-edge technologies to streamline medical workflow.</p>
                <h6>Patient's Record Management Solution</h6>
                <p>The Protonshub record management software helps hospitals store important data such as prescription types and dosages, medical histories, scheduled treatments, and patient progress during recovery from anywhere in simple steps.</p>
                <h6>Health Tracking & Monitoring Apps</h6>
                <p>Remote tracking and monitoring now becoming easier and more flexible with Protonshub Technologies, one of the finest <span><a href="javascript:">healthcare app development companies.</a></span> Additionally, we provide monitoring and tracking development services, including smartphone applications, and tracking websites.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- experience end -->

  <!-- experience start -->
  <section class="ph-uiux-company ph-bg-color">
    <div class="container">
      <div class="row">
        <div class="col-xxl-10 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>All Platforms, Best Services, Finest Output</h1>
            <p>Protonshub is where you create positive outcomes. The team here is fully inclined towards
              creating highly efficient healthcare solutions to make the whole process of healthcare a
            seamless one.</p>
          </div>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
          <div class="ph-uiux-box">
            <div class="ph-uiux-icon">
              <span>
                <%= image_tag "research.svg" %>
              </span>
            </div>
            <h5>STEP1</h5>
            <h4>Web</h4>
            <p>
              We develop highly effective software development services for web platforms to enable a
              smooth flow of work. Our dedicated developers are fully devoted to providing the needed
              service to the customers.
            </p>
          </div>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
          <div class="ph-uiux-box">
            <div class="ph-uiux-icon">
              <span>
                <%= image_tag "wireframes.svg" %>
              </span>
            </div>
            <h5>STEP2</h5>
            <h4>Mobile</h4>
            <p>We create quality rich healthcare apps for both iOS and Android app platforms. By
              providing all security and other features we create apps with the latest technology.
            </p>
          </div>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-12">
          <div class="ph-uiux-box">
            <div class="ph-uiux-icon">
              <span>
                <%= image_tag "code-development.svg" %>
              </span>
            </div>
            <h5>STEP3</h5>
            <h4>Wearables</h4>
            <p>We provide healthcare app services for smartwatches and other wearable devices. Our team
              of dedicated developers works in creating healthcare apps with all the necessary
            features.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- experience end -->

  <!-- ui ux wireframe start  -->
  <section class="uiux-wireframe-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-7 col-xl-8 col-lg-10 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Why Choose Protonshub?</h1>
            <p>Starting from scratch, Protonshub delivers its clients top-notch outcomes at each stage
              of healthcare with the help of its team and services. We believe in making changes at
              every level in order to provide you with a seamless and error-free healthcare solution.
            </p>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
            <div class="ph-wirframe-box">
              <div class="ph-wireframe-inner">
                <h6>Certified Programmer</h6>
                <p>Our experienced team of developers has the accurate domain knowledge, expertise,
                  and experience to develop top-quality healthcare software.
                </p>
              </div>
              <div class="ph-wireframe-inner">
                <h6>Best-in-class Support</h6>
                <p>
                  We provide all-time support to our clients and resolve their queries on a timely
                  basis. We aim to give our clients the best support so that they are satisfied
                  with the whole work.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
            <div class="ph-wireframe-img">
              <%= image_tag "health-care-img.png" %>
            </div>
          </div>
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
            <div class="ph-wirframe-box">
              <div class="ph-wireframe-inner">
                <h6>High-Tech Security</h6>
                <p>
                  Developing a healthcare solution requires the element of safety and Protonshub
                  ensures that every health software is developed by keeping the security aspect
                  into consideration.
                </p>
              </div>
              <div class="ph-wireframe-inner">
                <h6>
                  Valuable Service
                </h6>
                <p>
                  Meeting the market needs, we are committed to developing the best IT Solutions
                  for our clients by meeting all their requirements hassle-free.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ui ux wireframe end -->

  <!--About Start -->
  <section class="ph-about-sec ph-healthCare-sec">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xxl-6 col-xl-6 col-md-6">
          <div class="ph-about-content ps-0">
            <div class="text-start">
              <h1>Protonshub Is Developing Healthcare Solutions</h1>
            </div>
            <p>
              One of the top companies for developing healthcare software is Protonshub, whose exclusive focus is on creating the greatest healthcare solutions possible through the use of cutting-edge technology.
            </p>
            <div class="mt-4">
              <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn remove-errors">Connect Now<i class="fa-solid fa-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xxl-6 col-xl-6 col-md-6">
          <div class="ph-health-img">
            <%= image_tag "health-check.webp", class: "img-fluid" %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--About end -->

  <!-- Hire Dedicated start-->
  <section class="ph-download-sec ph-spacer-top ph-spacer-bottom">
    <div class="container">
      <div class="ph-health-bg">
        <div class="row">
          <div class="col-md-12">
            <div class="ph-heading-title ph-hire-title mb-0">
              <h4>Looking for a comprehensive healthcare solution for your business?</h4>
              <div class="ph-banner-btn mt-4">
                <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn remove-errors">Contact us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Hire Dedicated end -->

  <!-- industries start -->
  <section class="ph-industry-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-8 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Industries We Serve</h1>
            <p>We simplify the process of digital transformation. Protonshub, one of the top custom software development firms, helps you get the best services covering multiple industries.
            </p>
          </div>
        </div>
        <div class="col-xxl-10 col-xl-10 col-md-12 mx-auto">
          <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4">
              <div class="ph-Industries-box">
                <%= image_tag "video-icon.svg" %>
                <p>Video On Demand (VOD)</p>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4">
              <div class="ph-Industries-box">
                <%= image_tag "ott-icon.svg" %>
                <p>OTT</p>

              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4">
              <div class="ph-Industries-box">
                <%= image_tag "like-icon.svg" %>
                <p>Social Media with Video / Live
                Streaming</p>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4">
              <div class="ph-Industries-box">
                <%= image_tag "e-c-icon.svg" %>
                <p>E-commerce with Live Shopping</p>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4">
              <div class="ph-Industries-box">
                <%= image_tag "fitness-icon.svg" %>
                <p>Fitness / GYM</p>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4">
              <div class="ph-Industries-box">
                <%= image_tag "logistic-icon.svg" %>
                <p>Logistic</p>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4">
              <div class="ph-Industries-box">
                <%= image_tag "healthcare-icon.svg" %>
                <p>Healthcare</p>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4">
              <div class="ph-Industries-box">
                <%= image_tag "travel-icon.svg" %>
                <p>Travel</p>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4">
              <div class="ph-Industries-box">
                <%= image_tag "restaurant-icon.svg" %>
                <p>Restaurant</p>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4">
              <div class="ph-Industries-box">
                <%= image_tag "education-icon.svg" %>
                <p>E-Learning</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- industries end -->

  <!--  Start ph-testimonials -->
  <section class="ph-testimonials slider-thumbs">
    <div class="container">
      <div class="ph-swiper-slide">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="ph-heading-title">
              <h5>Our testimonials</h5>
              <h1>Our Client's</h1>
            </div>
          </div>
          <div class="col-xxl-8 col-xl-9 col-lg-9 col-md-12 col-sm-12">
            <div class="ph-tesmonial-slider">
              <div class="swiper-container gallery-thumbs">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="img">
                      <div class="circle">
                        <%= image_tag "amine-belkhiria.png" %>
                      </div>
                      <span class="gr-purple-red-bg"></span>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="img">
                      <div class="circle">
                        <%= image_tag "lex-lightning.png" %>
                      </div>
                      <span class="gr-purple-red-bg"></span>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="img">
                      <div class="circle">
                        <%= image_tag "mate-andrasi.png" %>
                      </div>
                      <span class="gr-purple-red-bg"></span>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="img">
                      <div class="circle">
                        <%= image_tag "aleksandar-mishachkovski.png" %>
                      </div>
                      <span class="gr-purple-red-bg"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-container gallery-top">
                <div class="swiper-wrapper text-center">
                  <div class="swiper-slide">
                    <div class="item">
                      <div>
                        <p>Professional Web
                          Development
                          services!
                          We have been working
                          with Protonshub for
                          many years now. They
                          provided reliable
                          solutions
                          for complex web
                          development
                          problems! We love
                          their services and
                          we will continue
                          our cooperation for
                          further product
                          development projects
                        </p>
                      </div>
                      <div class="ph-client-detail">
                        <h4>Amine Belkhiria</h4>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="item">
                      <div>
                        <p>Protonshub built me a
                          great app, as
                          promised, on time
                          and on
                          budget. The team
                          was very responsive
                          to my needs, able to
                          communicate the
                          technical details of
                          the
                          job easily so that a
                          rookie like me could
                          easily understand
                          the
                          process, and they
                          contributed good
                          ideas and creativity
                          to the final
                          product.
                        </p>
                      </div>
                      <div class="ph-client-detail">
                        <h4>Lex Lightning</h4>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="item">
                      <div>
                        <p>I have been working
                          on various different
                          projects with
                          professionals from
                          Protonshub. They are
                          not only very
                          reliable,
                          intelligent and get
                          the job done, but
                          for Agile
                          professionals like
                          me they
                          are a Godsend: I
                          hardly need to open
                          them up or bridge
                          cultural
                          gaps - there aren't
                          any! The
                          moment I stated I
                          encourage people to
                          speak up.
                        </p>
                      </div>
                      <div class="ph-client-detail">
                        <h4>Máté Andrási</h4>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="item">
                      <div>
                        <p>We have used
                          Protonshub on few
                          small project in the
                          past related
                          to SW services for
                          mobile development.
                          I'm happy to say
                          that i was quite
                          satisfied with the
                          quick
                          responses from their
                          side
                          on any and all
                          Question we had
                          related to scope,
                          timeframe and
                          quality of the code.
                        </p>
                      </div>
                      <div class="ph-client-detail">
                        <h4>Aleksandar
                        Mishachkovski</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="controls-rf">
              <!-- Add Arrows -->
              <div class="swiper-button-next ctrl-circle">
                <span class="icon pe-7s-angle-right"></span>
              </div>
              <div class="swiper-button-prev ctrl-circle">
                <span class="icon pe-7s-angle-left"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End ph-testimonials -->

  <!-- Accordion start -->
  <section class="ph-accordion-sec ">
    <div class="container">
      <div class="row">
        <div class="col-xxl-6 col-xl-8 col-md-8 mx-auto">
          <div class="ph-heading-title">
            <h1>Frequently Asked Questions</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-10 col-xl-12 col-lg-12 col-md-12 mx-auto">
          <div class="ph-accordion-box">
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    What is a healthcare app?
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    With features like appointment scheduling, patient record management,
                    treatment facilities, and many more, the healthcare app enhances the quality
                    of care. It is a move in the right direction toward digitization that helps
                    to save both doctors' and patients' valuable time.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    What are the advantages of developing healthcare apps?
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <p>Both the doctor and the patient can profit greatly
                      from using a mobile app to carry out healthcare services. It facilitates
                      flexibility and remote access to healthcare services.
                    </p>
                    <p>It offers countless features that can raise professionalism and
                      efficiency. Additionally, it aids in monitoring and tracking while
                      keeping documents safe and secure.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Is digitalization helping the healthcare industry?
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <p>By facilitating easy access to healthcare services on a worldwide scale,
                    digitalization has changed the healthcare business as a whole.</p>
                    <p>Through a smartphone app, a patient can access medical care even from a
                      distance without interfering with the daily activities of either doctors
                      or patients.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    Is it secure for doctors to use healthcare apps?
                  </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    Protonshub healthcare app is one of the most secure platforms to enable a
                    smooth healthcare workflow. Give your patient the best experience by
                    offering flexibility and quality through one of the finest healthcare
                    solutions.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
                    Why choose Protonshub over others?
                  </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    Protonshub is a CMMI Level 5 and Great Place To Work certified custom
                    software development company that is helping many industries by developing
                    industry-specific digital solutions. The mission of Protonshub is to have
                    seamless healthcare app development through innovative technology and
                    excellent maintenance.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Accordion end -->

  <!-- Get Connect sec -->
  <section class="ph-getconnect-sec">
    <div class="container">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12
      mx-auto">
      <div class="row align-items-center">
        <div class="col-md-8 col-sm-6">
          <div class="ph-getconnect-content">
            
            <h1>Let’s discuss your requirements
            </h1>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="ph-getconnect-btn">
            <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn remove-errors ph-btn-white">Schedule a call <i class="fa-solid fa-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Get Connect sec -->
  <!-- Middle Content End -->

  <!-- footer Sec start -->
  <%= render partial: 'footer' %>
  <!-- footer sec end -->
</div>

<!-- Modal -->
<%= render partial: 'hire_developer' %>
<%= render partial: 'have_a_project' %>