<div class="ph-main-wrapper">
  <!-- Header start -->
  <%= render partial: 'header' %>
  <!-- Header end -->

  <!-- Middle Content Start -->
  <!-- Dedicated Development  start -->
  <section class="ph-edtech-sec ph-logistics-sec">
    <div class="container">
      <div class="ph-OurTeam-content">
        <div class="row align-items-center">
          <div class="col-xxl-6 col-xl-8 col-lg-12 col-md-12 col-sm-12">
            <div class="ph-heading-title">
              <!-- <h6 class="ph-banner-tiltle">#Hire The Top Dedicated Developer </h6> -->
              <h1>
                India’s Leading Transportation & Logistics Software Development Company
              </h1>
              <p>Automating your transportation needs in <span>NO TIME</span></p>

              <div class="ph-banner-btn mt-4">
                <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn remove-errors">Start
                  a Project<i class="fa-solid fa-arrow-right ms-2"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Dedicated Development End -->

  <!-- experience start -->
  <section class="ph-experience-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-9 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Get Transport and Logistics Software Developers <span>ON THE GO!</span></h1>
          </div>
        </div>
      </div>
      <div class="ph-hireExp-sec">
        <div class="row">
          <div class="col-md-6">
            <div class="ph-mobileApp-img">
              <%= image_tag "logistics-left.webp" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="ph-app-content">
              <h3>Our Vibrant and Game changing Transport and Logistics Software Development Services
              </h3>
              <p>
                With ever- changing dynamics of the transportation and logistics industry which is
                highly competitive, fast-moving and volatile automation is the need of the hour; to
                ensure optimum utilization of resources, and efficient operational processes.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- experience end -->

  <!-- core value start -->
  <section class="ph-corevalue-sec ph-bg-color">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
          <div class="ph-about-content ps-0">
            <div class="text-start">
              <h1>High Efficiency, Increased Productivity and Accurate Decision Making.</h1>
            </div>
            <div class="my-3">
              <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn remove-errors">Hire our Developers Today!<i class="fa-solid fa-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
          <div class="row">
            <div class="ph-scroll-content">
              <div class="ph-corevalue-box text-start">
                <div class="ph-content-box-value">
                  <h5>Shipping Management Solution</h5>
                  <p>
                    Structure and organize your warehouse business operations with Custom warehouse shipping logistics software Solutions . Get Multiple features at single screen such as Shipping record, Shipment Tracking, Accounts and Billing, Location based shipment record management by getting your inhouse Shipment management solutions and automate your shipping business.
                  </p>
                </div>
              </div>
              <div class="ph-corevalue-box text-start">
                <div class="ph-content-box-value">
                  <h5>Custom Transport software Development</h5>
                  <p>
                    Our custom Transport software development services consist of transportation and Fleet management software development available in both web and mobile versions. Transportation software and Fleet Management  solutions help you to attain enhanced user engagement, business intelligence, real-time data interaction, custom reporting, and bots support.
                  </p>
                </div>
              </div>
              <div class="ph-corevalue-box text-start">
                <div class="ph-content-box-value">
                  <h5>Public transport Solutions </h5>
                  <p>
                    Protonshub's public transportation software solutions are developed to streamline and smoothen the hassles faced by public transit agencies by providing them enhanced fleet and passenger-oriented features for secured, safe , organized and easy to implement public transit experiences. Our Public transport management solutions include:
                  </p>
                  <ul>
                    <li>Vehicle Management solutions</li>
                    <li>Transport mapping Solutions</li>
                    <li>Route Management Solutions</li>
                    <li>Challan Management Solutions</li>
                    <li>Payment gateway integrations</li>
                  </ul>
                </div>
              </div>
              <div class="ph-corevalue-box text-start">
                <div class="ph-content-box-value">
                  <h5>Car Rental Solutions</h5>
                  <p>
                    Protonshub develops feature-rich car rental solutions that are designed to assist users with unique and innovative customer portals, car rental owners admin controls, and create an easy to use interface and provide holistic view of the car rental process from start to finish. Our car rental solutions include:
                  </p>
                  <ul>
                    <li>Car Booking solutions
                    </li>
                    <li>Car Health Management Solutions
                    </li>
                    <li>Real time vehicle tracking System
                    </li>
                  </ul>
                </div>
              </div>
              <div class="ph-corevalue-box text-start">
                <div class="ph-content-box-value">
                  <h5>Parking Management Application
                  </h5>
                  <p> Protosnhub’s customized parking Management Solutions and Vehicle management software solutions are well equipped to provide businesses, Malls and office spaces with optimized business intelligence solutions, mobile operations, surveillance workflows and streamline parking permit management. Our car rental solutions include:
                  </p>
                  <ul>
                    <li>Parking Ticket Management System

                    </li>
                    <li>Parking Mobile Management Solutions 

                    </li>
                    <li>Real time vehicle tracking System 
                    </li>
                    <li>Parking alert system </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- core value end -->

  <!--About Start -->
  <section class="ph-about-sec ph-logistics-inner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-7">
          <div class="ph-about-content ps-0">
            <div class="text-start">
              <h1>Challenges We Solve</h1>
            </div>
           
            <div class="ph-hireprice-box">
              <ul>
                <li>Cumbersome Carrier management</li>
                <li>Driver Productivity and Morale</li>
                <li>Revenue loss</li>
                <li>No fleet control</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-5">
          <div class="ph-health-img">
            <%= image_tag "logistics-right.webp", class: "img-fluid" %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--About end -->

  <!-- Hire Dedicated start-->
  <section class="ph-download-sec ph-spacer-top">
    <div class="container">
      <div class="ph-health-bg">
        <div class="row">
          <div class="col-md-12">
            <div class="ph-heading-title ph-hire-title mb-0">
              <h4>Your A-Z guide to Logistics & transport app development with
              business model and a detailed feature list is here.</h4>
              <div class="ph-banner-btn mt-4">
                <a href="javascript:;" class="ph-btn">Download the WhitePaper</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Hire Dedicated end -->
  <!-- experience start -->

  <section class="ph-challenges-sec ph-logistics-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xxl-8 col-xl-8 mx-auto">
          <div class="ph-heading-title">
            <h1>Advantages of our Logistics and Transport Management Solution</h1>
          </div>
        </div>
        <div class="col-xxl-9 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <div class="ph-case-shadow">
            <div class="row">
              <div class="col-md-6">
                <div class="ph-challeges-point ph-logistics-point">
                  <ul>
                    <li><span>Increased Sales-</span> Avenues for unprecedented revenue
                      generation and
                      Increased profitability.
                    </li>
                    <li><span>Improved drivers Performance-</span> Integration of Behavioral
                      attributes and
                      feedback mechanism allows drivers to have a real time check on their
                      behavior and performance to have high morale and better performance.
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="ph-challeges-point ph-logistics-point">
                  <ul>
                    <li><span>Enhanced user Experience-</span> Our solutions are designed to
                      provide high
                      class user satisfaction with end-to-end visibility, real time tracking
                      and analytics for better and improved user experience.
                    </li>
                    <li><span>24/7 Support-</span> Our 24/7 support allows businesses to be on
                      top of their
                      priorities round the clock and enables them to provide faster deliveries
                      and a higher customer satisfaction rate.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Get Connect sec -->
  <section class="ph-getconnect-sec">
    <div class="container">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 mx-auto">
        <div class="row align-items-center">
          <div class="col-xxl-9 col-xl-9 col-md-8 col-sm-6">
            <div class="ph-getconnect-content">
              
              <h1>Want to know How we can Transform
                your Business and Increase Revenues ?
              </h1>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-md-4 col-sm-6">
            <div class="ph-getconnect-btn">
              <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn remove-errors ph-btn-white">Connect Now<i class="fa-solid fa-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Get Connect sec -->
  <!-- Middle Content End -->

  <!-- footer Sec start -->
  <%= render partial: 'footer' %>
  <!-- footer sec end -->
</div>

<!-- Modal -->
<%= render partial: 'hire_developer' %>
<%= render partial: 'have_a_project' %>