<title>Protonshub | Mobile App Development</title>
<div class="ph-main-wrapper">
  <!-- Header start -->
  <%= render partial: 'header' %>
  <!-- Header end -->

  <!-- Middle Content Start -->
  <!-- Top Mobile App Development Banner start -->
  <section class="ph-app-develop-sec">
    <div class="container">
      <div class="ph-OurTeam-content">
        <div class="row align-items-center">
          <div class="col-md-7 col-sm-6">
            <div class="ph-heading-title">
              <h1>Top Rated Mobile App Development Company</h1>
              <p>Protonshub has been providing <span><a href="javascript:;">mobile app development services in USA</a></span>
                that assist
                businesses in standing out from the competition through increased effectiveness and
              continuous digital innovation.</p>
              <div class="ph-banner-btn mt-4">
                <a href="javascript:;" class="ph-btn">Consult Us <i
                  class="fa-solid fa-arrow-right ms-2"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-sm-6">
            <div class="ph-mobile-app">
              <%= image_tag "mobile-app-developemnt.webp" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Mobile App Development Banner End -->

  <section class="ph-top-logo-sec">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="ph-awardHome-slide">
            <div class="swiper ph-mySwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <%= image_tag "topdeveloper.svg" %>
                </div>
                <div class="swiper-slide">
                  <%= image_tag "appfutura.svg" %>
                </div>
                <div class="swiper-slide">
                  <%= image_tag "iso.svg" %>
                </div>
                <div class="swiper-slide">
                  <%= image_tag "clutch.svg" %>
                </div>
                <div class="swiper-slide">
                  <%= image_tag "glassdoor.svg" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- mobile counter start -->
  <section class="ph-app-counter-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 mx-auto">
          <div class="ph-why-choose-grid ph-appMobile-inner" id="ph-counter-one">
            <ul>
              <li>
                <div class="ph-counter-icon">
                  <i class="fa-sharp fa-solid fa-mobile-button"></i>
                </div>
                <h2 class="ph-counter-value" data-count="430">0</h2><span> +</span>
                <h3>App Developed</h3>
              </li>
              <li>
                <div class="ph-counter-icon">
                  <i class="fa-sharp fa-solid fa-laptop-code"></i>
                </div>
                <h2 class="ph-counter-value" data-count="680">0</h2><span> +</span>
                <h3>Website Designed</h3>
              </li>
              <li>
                <div class="ph-counter-icon">
                  <i class="fa-sharp fa-solid fa-ranking-star"></i>
                </div>
                <h2 class="ph-counter-value" data-count="175">0</h2><span> +</span>
                <h3>Happy Clients</h3>
              </li>
              <li>
                <div class="ph-counter-icon">
                  <i class="fa-solid fa-people-group"></i>
                </div>
                <h2 class="ph-counter-value" data-count="220">0</h2><span> +</span>
                <h3>Team Strength</h3>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- mobile counter end -->

  <!-- experience start -->
  <section class="ph-experience-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-8 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Get A Top-Notch Developer To Work On Your Mobile Application Development</h1>
            <p>With many years of combined expertise developing scalable and flexible online & mobile
              applications for a variety of industries, our application developers are
            industry-specific technology specialists.</p>
          </div>
        </div>
      </div>
      <div class="ph-hireExp-sec">
        <div class="row">
          <div class="col-md-6">
            <div class="ph-mobileApp-img">
              <%= image_tag "mobile-app-small.webp", class: "ph-app-top" %>
              <div class="ph-appimg-inner">
                <%= image_tag "mobile-app.png", class: "ph-app-bottom" %>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="ph-app-content">
              <h6>
                <span>
                  <%= image_tag "web-develop-icon.svg" %>
                </span>Cross-platform Application Development
              </h6>
              <p>Protonshub is one of the most creative cross-platform app development companies,
                dedicated to creating the greatest cross-platform apps. One code-based
                development
                approach that works for all platforms is the best feature of a cross-platform
                app,
              drawing businesses from around the world to this method of app development.</p>
              <div class="ph-app-inner-content">
                <h6><span><i class="fa-brands fa-android"></i></span> Android App Development
                Platform</h6>
                <p>With the most cutting-edge technology, we can create the most advanced enterprise
                  mobility solution thanks to our expertise in android app development. To provide
                  top-notch services for android app development, Protonshub's developers take
                  full advantage of every available feature on Android.
                </p>
                <h6><span><i class="fa-brands fa-apple"></i></span> iOS App Development
                Platform</h6>
                <p>Protonshub is a renowned development firm with experience and vision in iOS app
                  development services. In order to produce effective and practical solutions, we
                  adhere to a well-planned structure by providing custom mobile app development
                  services in the USA that are impactful, flexible, and use the most recent
                  technology.
                </p>
                <h6>
                  <span>
                    <%= image_tag "web-develop-icon.svg" %>
                  </span> Windows App Development Platform
                </h6>
                <p>Get the best-in-class service to get windows app development from scratch, beginning with planning, windows app design, UI/UX, development and QA, and a lot more. The final launch gives quality output and provides the finest app as per the client’s requirements.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- experience end -->

  <!-- mobile app start -->
  <section class="ph-whyChoose-sec">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="ph-why-content">
            <h2 class="pb-3">Why Choose Us As Your Top Mobile App Development Companies</h2>
            <p>With the aid of our talented, experienced, and dedicated project team members, dedicated
              developers, and committed project manager, Protonshub Technologies works to offer the
              best mobile app development services. The results are not only accurate but also very
              affordable thanks to the latest technological breakthroughs and skills we use.
            </p>
            <p>To make mobile apps compatible with a variety of platforms, Protonshub develops numerous
              variations. Protonshub is prepared to offer the best in every category, including
              gaming, travel, utilities, business, and others.
            </p>
          </div>
        </div>
        <div class="col-md-7">
          <div class="ph-whyIcon-box">
            <div class="row">
              <div class="col-md-6">
                <div class="ph-inner-icon">
                  <div class="ph-skill-team ph-bg-bluelight">
                    <i class="fa-solid fa-people-group"></i>
                  </div>
                  <div>
                    <p>Skilled team of Developers with 2500+ person years of Experience</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="ph-inner-icon">
                  <div class="ph-skill-team ph-bg-darkyellow">
                    <i class="fa-solid fa-people-group"></i>
                  </div>
                  <div>
                    <p>Skilled team of Developers with 2500+ person years of Experience</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mx-auto">
                  <div class="ph-inner-icon">
                    <div class="ph-skill-team ph-bg-darkgreen">
                      <i class="fa-solid fa-people-group"></i>
                    </div>
                    <div>
                      <p>Skilled team of Developers with 2500+ person years of Experience</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="ph-inner-icon">
                  <div class="ph-skill-team ph-bg-skylight">
                    <i class="fa-solid fa-people-group"></i>
                  </div>
                  <div>
                    <p>Skilled team of Developers with 2500+ person years of Experience</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="ph-inner-icon">
                  <div class="ph-skill-team ph-bg-darkbraun">
                    <i class="fa-solid fa-people-group"></i>
                  </div>
                  <div>
                    <p>Skilled team of Developers with 2500+ person years of Experience</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mx-auto">
                <div class="ph-inner-icon">
                  <div class="ph-skill-team ph-bg-bluedark">
                    <i class="fa-solid fa-people-group"></i>
                  </div>
                  <div>
                    <p>Skilled team of Developers with 2500+ person years of Experience</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- mobile app end -->

  <!-- portfolio slide sec -->
  <section class="ph-portfolio-sec ph-spacer-top">
    <div class="containerfluid">
      <div class="swiper ph-portfolio-mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="ph-portfolio-box">
              <%= image_tag "img1.jpg" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ph-portfolio-box">
              <%= image_tag "img2.jpg" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ph-portfolio-box">
              <%= image_tag "img1.jpg" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ph-portfolio-box">
              <%= image_tag "img2.jpg" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ph-portfolio-box">
              <%= image_tag "img1.jpg" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ph-portfolio-box">
              <%= image_tag "img2.jpg" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ph-portfolio-box">
              <%= image_tag "img1.jpg" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ph-portfolio-box">
              <%= image_tag "img2.jpg" %>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="ph-portfolio-box">
              <%= image_tag "img2.jpg" %>
            </div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <!-- <div class="swiper-pagination"></div> -->
      </div>
    </div>
  </section>
  <!-- portfolio slide sec -->

  <!-- support sec start -->
  <section class="ph-our-service ph-spacer-top">
    <div class="ph-shap-elements">
      <%= image_tag "arrow-abstract.svg", class: "ph-shap-upDown" %>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xxl-8 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>We Support Multiple Business Domains</h1>
            <p>We don't confine mobile app development to a certain sector or type of enterprise.
              Protonshub is one of the best mobile app development companies in USA that helps many
              industries with their mobile application development journeys, such as healthcare,
              retail, education, and logistics.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="d-flex align-items-start">
          <div class="row">
            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-5 col-sm-12">
              <div class="ph-tab-nav">
                <div class="nav flex-column nav-pills ph-row-tab" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <a href="javascript:;" class="nav-link active" id="healthcare-tab" data-bs-toggle="pill" data-bs-target="#healthcare" role="tab" aria-controls="healthcare" aria-selected="true">Healthcare </a>
                  <a href="javascript:;" class="nav-link" id="retail-eCommerce-tab" data-bs-toggle="pill" data-bs-target="#retail-eCommerce" role="tab" aria-controls="retail-eCommerce">Retail & eCommerce</a>

                  <a href="javascript:;" class="nav-link" id="travel-hospitality-tab" data-bs-toggle="pill" data-bs-target="#travel-hospitality" role="tab" aria-controls="travel-hospitality">Travel & Hospitality</a>

                  <a href="javascript:;" class="nav-link" id="education-elearning-tab" data-bs-toggle="pill" data-bs-target="#education-elearning" role="tab" aria-controls="education-elearning">Education & eLearning</a>

                  <a href="javascript:;" class="nav-link" id="banking-finance-tab" data-bs-toggle="pill" data-bs-target="#banking-finance" role="tab" aria-controls="banking-finance">Banking & Finance Solutions</a>

                  <a href="javascript:;" class="nav-link" id="logistics-transportation-tab" data-bs-toggle="pill" data-bs-target="#logistics-transportation" role="tab" aria-controls="logistics-transportation">Logistics & Transportation</a>

                  <a href="javascript:;" class="nav-link" id="media-entertainment-tab" data-bs-toggle="pill" data-bs-target="#media-entertainment" role="tab" aria-controls="media-entertainment">Media & Entertainment</a>

                  <a href="javascript:;" class="nav-link" id="food-industry-tab" data-bs-toggle="pill" data-bs-target="#food-industry" role="tab" aria-controls="food-industry">Food Industry</a>
                </div>
              </div>
            </div>

            <div class="col-xxl-9 col-xl-8 col-lg-8 col-md-7 col-sm-12">
              <div class="tab-content ph-ourService-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="healthcare" role="tabpanel" aria-labelledby="healthcare-tab" tabindex="0">
                  <div class="ph-image-content">
                    <div class="ph-ourService-icon">
                      <span class="ph-tab-icon">
                        <i class="fa-solid fa-laptop-medical"></i>
                      </span>
                    </div>
                    <div class="ph-our-service-content">
                      <h2>Healthcare</h2>
                      <p>Access a wide variety of healthcare tools with Protonshub, including
                        online appointments, E-pharmacies, diagnostics applications, fitness
                        apps, and much more. Our skilled personnel, which uses cutting-edge
                        technology to create modern solutions, is our most significant
                        asset.
                      </p>
                      <p>In order to create a finished product that is inexpensive, delivered
                        in the least amount of time, and satisfies our client's objectives,
                        we continue to work with them as their needs change.
                      </p>
                      <div class="ph-process-btn">
                        <a href="javascript:;" class="ph-btn">Get Connected <i
                          class="fa-solid fa-arrow-right ms-2 "></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="retail-eCommerce" role="tabpanel" aria-labelledby="retail-eCommerce-tab" tabindex="0">
                  <div class="ph-image-content">
                    <div class="ph-ourService-icon">
                      <span class="ph-tab-icon">
                        <i class="fa-solid fa-laptop-medical"></i>
                      </span>
                    </div>
                    <div class="ph-our-service-content">
                      <h2>Retail & eCommerce</h2>
                      <p>With the use of cutting-edge technology solutions, Protonshub
                        Technologies has a propensity for transforming eCommerce & retail
                        organizations.
                      </p>
                      <p>We ensure best practices to create an eternal user experience design
                        with our adaptable web design, high-performance optimization,
                        quicker page load time, fluidity, and frequent maintenance.
                      </p>
                      <div class="ph-process-btn">
                        <a href="javascript:;" class="ph-btn">Get Connected <i
                          class="fa-solid fa-arrow-right ms-2 "></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="travel-hospitality" role="tabpanel" aria-labelledby="travel-hospitality-tab" tabindex="0">
                  <div class="ph-image-content">
                    <div class="ph-ourService-icon">
                      <span class="ph-tab-icon">
                        <i class="fa-solid fa-laptop-medical"></i>
                      </span>
                    </div>
                    <div class="ph-our-service-content">
                      <h2>Travel and Hospitality </h2>
                      <p>We play a crucial part in the digitization and automation of the
                        travel and tourism industry by creating solutions like hospitality
                        and travel mobile apps, online hotel room reservations, ticket
                        booking systems, and other related technologies.
                      </p>
                      <p>At Protonshub, our team works effectively and shrewdly to create
                        user-friendly interfaces that increase engagement and maximize ROI.
                      </p>
                      <div class="ph-process-btn">
                        <a href="javascript:;" class="ph-btn">Get Connected <i
                          class="fa-solid fa-arrow-right ms-2 "></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="education-elearning" role="tabpanel" aria-labelledby="education-elearning-tab" tabindex="0">
                  <div class="ph-image-content">
                    <div class="ph-ourService-icon">
                      <span class="ph-tab-icon">
                        <i class="fa-solid fa-laptop-medical"></i>
                      </span>
                    </div>
                    <div class="ph-our-service-content">
                      <h2>Education & eLearning</h2>
                      <p>We make the process of undergoing digital transformation more
                        seamless by offering best-in-class education development services
                        including eLearning & management systems, educational platforms,
                        eLearning application development, etc.
                      </p>
                      <p>Benefit from the best customer service, top-notch returns, and
                      certified programming all under one roof.</p>

                      <div class="ph-process-btn">
                        <a href="javascript:;" class="ph-btn">Get Connected <i
                          class="fa-solid fa-arrow-right ms-2 "></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="banking-finance" role="tabpanel" aria-labelledby="banking-finance-tab" tabindex="0">
                  <div class="ph-image-content">
                    <div class="ph-ourService-icon">
                      <span class="ph-tab-icon">
                        <i class="fa-solid fa-laptop-medical"></i>
                      </span>
                    </div>
                    <div class="ph-our-service-content">
                      <h2>Banking & Finance Solutions
                      </h2>
                      <p>Our financial solutions are made to offer features like financial aid
                        access, safe financial transactions, intelligent analytics, and
                        document verification.
                      </p>
                      <p>With its team of skilled developers, Protonshub, a mobile app
                        development business in the USA, offers solutions like KYC
                        management systems, banking applications, debt management systems,
                        and many more.
                      </p>

                      <div class="ph-process-btn">
                        <a href="javascript:;" class="ph-btn">Get Connected <i
                          class="fa-solid fa-arrow-right ms-2 "></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="logistics-transportation" role="tabpanel" aria-labelledby="logistics-transportation-tab" tabindex="0">
                  <div class="ph-image-content">
                    <div class="ph-ourService-icon">
                      <span class="ph-tab-icon">
                        <i class="fa-solid fa-laptop-medical"></i>
                      </span>
                    </div>
                    <div class="ph-our-service-content">
                      <h2>Logistics and Transportation</h2>
                      <p>Protonshub is just a Hello Away to deliver top-notch logistics
                        solutions, including inventory management applications, logistics
                        management software, supply chain management software, and more,
                        whether you are a startup, SME, or enterprise in logistics and
                        transportation.
                      </p>
                      <p>
                        We have a solid group of skilled developers who continually work to
                        boost logistics output in order to enhance customer satisfaction and
                        return on investment.
                      </p>
                      <div class="ph-process-btn">
                        <a href="javascript:;" class="ph-btn">Get Connected <i
                          class="fa-solid fa-arrow-right ms-2 "></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="media-entertainment" role="tabpanel" aria-labelledby="media-entertainment-tab" tabindex="0">
                  <div class="ph-image-content">
                    <div class="ph-ourService-icon">
                      <span class="ph-tab-icon">
                        <i class="fa-solid fa-laptop-medical"></i>
                      </span>
                    </div>
                    <div class="ph-our-service-content">
                      <h2>Media and Entertainment</h2>
                      <p>Through the creation of apps for social media, content management,
                        and on-demand live streaming, Protonshub assists clients in
                        achieving their goals by providing specialized services.
                      </p>
                      <p>We also provide multimedia streaming solutions in addition to
                        platforms for music, video, news, and custom broadcasting. Our
                        automated solutions result in timely content publication, decreased
                        buffering and loading times, and enhanced functionality.
                      </p>
                      <div class="ph-process-btn">
                        <a href="javascript:;" class="ph-btn">Get Connected <i
                          class="fa-solid fa-arrow-right ms-2 "></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="food-industry" role="tabpanel" aria-labelledby="food-industry-tab" tabindex="0">
                  <div class="ph-image-content">
                    <div class="ph-ourService-icon">
                      <span class="ph-tab-icon">
                        <i class="fa-solid fa-laptop-medical"></i>
                      </span>
                    </div>
                    <div class="ph-our-service-content">
                      <h2>Food Industry</h2>
                      <p>Protonshub provides innovative solutions for the food industry, such
                        as food apps, delivery apps, food & beverage management solutions,
                        and much more, for the efficient management of operations in
                        production, supply chain, transportation, and inventory for
                        functional items to boost a company's growth and profitability.
                      </p>
                      <div class="ph-process-btn">
                        <a href="javascript:;" class="ph-btn">Get Connected <i
                          class="fa-solid fa-arrow-right ms-2 "></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Support sec end -->

  <!-- Our Innovative start -->
  <section class="ph-our-innovative-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-8 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1 class="ph-heading-title mb-3">Our Innovative Methodology</h1>
            <p>With the help of our dedicated team, we have a highly streamlined development process and
              engagement model. By using agile methods, Protonshub becomes one of the best choices for
              your mobile application development.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="ph-process-sec">
          <div class="ph-process-in">
            <div class="ph-process-inner">
              <div class="ph-count-no">
                <h2>1</h2>
              </div>
              <div class="ph-outer-in">
                <div class="ph-picon-box">
                  <%= image_tag "analysis.svg" %>
                </div>
              </div>
              <h6>Requirement Analysis</h6>
            </div>
            <div class="ph-process-inner">
              <div class="ph-count-no">
                <h2>2</h2>
              </div>
              <div class="ph-outer-in border-color1">
                <div class="ph-picon-box icon-bg1">
                  <%= image_tag "analysis.svg" %>
                </div>
              </div>
              <h6>Project Planning</h6>
            </div>
            <div class="ph-process-inner">
              <div class="ph-count-no">
                <h2>3</h2>
              </div>
              <div class="ph-outer-in border-color2">
                <div class="ph-picon-box icon-bg2">
                  <%= image_tag "analysis.svg" %>
                </div>
              </div>
              <h6>Resource Allocation</h6>
            </div>
            <div class="ph-process-inner">
              <div class="ph-count-no">
                <h2>4</h2>
              </div>
              <div class="ph-outer-in border-color3">
                <div class="ph-picon-box icon-bg3">
                  <%= image_tag "analysis.svg" %>
                </div>
              </div>
              <h6>Sprint Wise Development</h6>
            </div>
            <div class="ph-process-inner">
              <div class="ph-count-no">
                <h2>5</h2>
              </div>
              <div class="ph-outer-in border-color4">
                <div class="ph-picon-box icon-bg4">
                  <%= image_tag "analysis.svg" %>
                </div>
              </div>
              <h6>Testing & Bug Fixation</h6>
            </div>
            <div class="ph-process-inner">
              <div class="ph-count-no">
                <h2>6</h2>
              </div>
              <div class="ph-outer-in border-color5">
                <div class="ph-picon-box icon-bg5">
                  <%= image_tag "analysis.svg" %>
                </div>
              </div>
              <h6>Deployment & UAT</h6>
            </div>
            <div class="ph-process-inner">
              <div class="ph-count-no">
                <h2>7</h2>
              </div>
              <div class="ph-outer-in border-color6">
                <div class="ph-picon-box icon-bg6">
                  <%= image_tag "analysis.svg" %>
                </div>
              </div>
              <h6>Support Managed & Assistance</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Our Innovative End -->

  <!-- with us start -->
  <section class="ph-plan-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-8 col-xl-12 col-lg-12 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1 class="ph-heading-title mb-3">How Would You Like To Engage With Us?</h1>
            <p class="mb-5">We have flexible arrangements models our clients can choose to deliver
              solutions to their business
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 mx-auto">
          <div class="row">
            <div class="col-md-4">
              <div class="ph-plan-box">
                <div class="ph-plan-content">
                  <h5>Dedicated Mobile App Team</h5>
                  <ul>
                    <li>176 hours of dedicated developer deployment</li>
                    <li>7 days Free Trial</li>
                    <li>Monthly Billing</li>
                    <li>Pay as you go</li>
                  </ul>
                  <div class="ph-process-btn ph-plan-btn">
                    <a href="javascript:;" class="ph-btn">Get Started</a>
                  </div>
                </div>
                <div class="ph-circle-top"></div>
                <div class="ph-circle-bottom"></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="ph-plan-box ph-plan-box-white">
                <div class="ph-plan-content">
                  <h5>Full Development Contract</h5>
                  <ul>
                    <li>Dedicated Scrum Allotment</li>
                    <li>Total ownership</li>
                    <li>Single point of contact</li>
                    <li>Complete control on development</li>
                  </ul>
                  <div class="ph-process-btn ph-plan-btn">
                    <a href="javascript:;" class="ph-btn">Get Started</a>
                  </div>
                </div>
                <div class="ph-circle-top"></div>
                <div class="ph-circle-bottom"></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="ph-plan-box">
                <div class="ph-plan-content">
                  <h5>Need Based Contract</h5>
                  <ul>
                    <li>Need based working</li>
                    <li>Zero Hidden Cost</li>
                    <li>MPay for the actual measurable development</li>
                    <li>Monthly Billing</li>
                  </ul>
                  <div class="ph-process-btn ph-plan-btn">
                    <a href="javascript:;" class="ph-btn">Get Started</a>
                  </div>
                </div>
                <div class="ph-circle-top"></div>
                <div class="ph-circle-bottom"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- with us end -->

  <!--  Start ph-testimonials -->
  <section class="ph-testimonials slider-thumbs">
    <div class="container">
      <div class="ph-swiper-slide">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="ph-heading-title">
              <h6>Our testimonials</h6>
              <h1>Our Client's</h1>
            </div>
          </div>
          <div class="col-xxl-9 col-xl-10 col-md-6 col-sm-6">
            <div class="ph-tesmonial-slider">
              <div class="swiper-container gallery-thumbs">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="img">
                      <div class="circle">
                        <%= image_tag "amine-belkhiria.png %>
                      </div>
                      <span class="gr-purple-red-bg"></span>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="img">
                      <div class="circle">
                        <%= image_tag "lex-lightning.png %>
                      </div>
                      <span class="gr-purple-red-bg"></span>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="img">
                      <div class="circle">
                        <%= image_tag "mate-andrasi.png %>
                      </div>
                      <span class="gr-purple-red-bg"></span>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="img">
                      <div class="circle">
                        <%= image_tag "aleksandar-mishachkovski.png %>
                      </div>
                      <span class="gr-purple-red-bg"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-container gallery-top">
                <div class="swiper-wrapper text-center">
                  <div class="swiper-slide">
                    <div class="item">
                      <div>
                        <p>Professional Web Development services!
                          We have been working with Protonshub for many years now. They
                          provided reliable solutions
                          for complex web development problems! We love their services and
                          we will continue
                          our cooperation for further product development projects
                        </p>
                      </div>
                      <div class="ph-client-detail">
                        <h4>Amine Belkhiria</h4>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="item">
                      <div>
                        <p>Protonshub built me a great app, as promised, on time and on
                          budget. The team
                          was very responsive to my needs, able to communicate the
                          technical details of the
                          job easily so that a rookie like me could easily understand the
                          process, and they
                          contributed good ideas and creativity to the final product.
                        </p>
                      </div>
                      <div class="ph-client-detail">
                        <h4>Lex Lightning</h4>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="item">
                      <div>
                        <p>I have been working on various different projects with
                          professionals from Protonshub. They are
                          not only very reliable, intelligent and get the job done, but
                          for Agile professionals like me they
                          are a Godsend: I hardly need to open them up or bridge cultural
                          gaps - there aren't any! The
                          moment I stated I encourage people to speak up.
                        </p>
                      </div>
                      <div class="ph-client-detail">
                        <h4>Máté Andrási</h4>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="item">
                      <div>
                        <p>We have used Protonshub on few small project in the past related
                          to SW services for mobile development.
                          I'm happy to say that i was quite satisfied with the quick
                          responses from their side
                          on any and all Question we had related to scope, timeframe and
                          quality of the code.
                        </p>
                      </div>
                      <div class="ph-client-detail">
                        <h4>Aleksandar Mishachkovski</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="controls-rf">
              <!-- Add Arrows -->
              <div class="swiper-button-next ctrl-circle">
                <span class="icon pe-7s-angle-right"></span>
              </div>
              <div class="swiper-button-prev ctrl-circle">
                <span class="icon pe-7s-angle-left"></span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- End ph-testimonials -->

  <!-- Accordion start -->
  <section class="ph-accordion-sec ">
    <div class="container">
      <div class="row">
        <div class="col-xxl-6 col-xl-8 col-lg-12 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Frequently Asked Questions</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-10 col-xl-12 col-lg-12 col-md-12 mx-auto">
          <div class="ph-accordion-box">
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Why I should Choose for Protonshub Technology for Mobile App development
                    services?
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Protonshub uses cutting-edge technology and domain
                    experience in mobile app development to create the most cutting-edge
                    enterprise mobility solutions. There are many mobile app development
                    companies in USA but Protonshub cross-platform applications use integrated
                    artificial intelligence, which enhances the functionality and user
                    experience. For our clients, our team of developers creates flawless
                  outputs. </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Why is Mobile App development importantly?
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">The use of mobile apps has revolutionized how we
                    conduct business. These applications make it easier for customers to stay
                    connected and informed about their favorite brands and offers while also
                    obtaining business information more quickly.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    What methodology does Protonshub follow while developing Mobile
                    Applications?
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">The approach used by Protonshub is well laid out and
                    involves requirement analysis, wireframing, and designing, as well as
                    application development and testing.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    Is a Mobile App important for startups?
                  </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Having a mobile app is now essential for all
                    companies, whether they are start-ups or established names. The easiest way
                    to remain on top of trends is to do this. As a business owner, you ought to
                    favor app development and gain from it.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Accordion end -->

  <!-- Get Connect sec -->
  <section class="ph-getconnect-sec">
    <div class="container">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 mx-auto">
        <div class="row align-items-center">
          <div class="col-md-8 col-sm-6">
            <div class="ph-getconnect-content">
              <h5>Make a call From</h5>
              <h1>Kickstart your journey TODAY!
              </h1>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="ph-getconnect-btn">
              <a href="javascript:;" class="ph-btn ph-btn-white">Get Connect <i
                class="fa-solid fa-arrow-right ms-2"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Get Connect sec -->
  <!-- Middle Content End -->

  <!-- footer Sec start -->
  <%= render partial: 'footer' %>
  <!-- footer sec end -->
</div>

<!-- Modal -->
<%= render partial: 'hire_developer' %>