<title>Protonshub | Our Team</title>
<div class="ph-main-wrapper">
  <!-- Header start -->
  <%= render partial: 'header' %>
  <!-- Header end -->

  <!-- Middle Content Start -->
  <!-- Top ourTeam Banner start -->
  <section class="ph-ourTeam-banner">
    <div class="container">
      <div class="ph-OurTeam-content">
        <div class="row align-items-center">
          <div class="col-md-7 col-sm-12">
            <div class="ph-heading-title">
              <h1>Worlds Most <span>Innovative & Passionate</span> Team Of Developers</h1>
              <p>A team that is built with a predictive emotion to fuel constant refinement and relentless growth</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- OurTeam Banner End -->


  <!-- Team Sec Start -->
  <section class="Ph-team-sec">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="ph-heading-title">
            <h1>Our Core Team Leaders</h1>
            <p>Meet an exceptional team of technology advisors, growth facilitators,
            and subject matter experts with proven experience</p>
          </div>
        </div>
        <div class="col-xl-10 col-lg-12 col-md-12 mx-auto">
          <div class="ph-team-block">
            <div class="ph-inner-box">
              <div class="ph-image-box">
                <figure class="ph-image">
                  <a href="javascript:;">
                    <%= image_tag "tushar-pal.jpg"%>
                  </a>
                </figure>
                <div class="ph-social-links">
                  <a href="javascript:;" class="ph-linkein"><i class="fa-brands fa-linkedin-in"></i></a>
                  <a href="javascript:;" class="ph-twitter"><i class="fab fa-twitter"></i></a>
                </div>
              </div>
              <div class="ph-info-box">
                <h5 class="ph-name">Tushar Pal</h5>
                <span class="ph-designation">President</span>
              </div>
            </div>
            <div class="ph-inner-box">
              <div class="ph-image-box">
                <figure class="ph-image">
                  <a href="javascript:;">
                    <%= image_tag "rakshit-khandelwal.jpg"%>
                  </a>
                </figure>
                <div class="ph-social-links">
                  <a href="javascript:;" class="ph-linkein"><i class="fa-brands fa-linkedin-in"></i></a>
                  <a href="javascript:;" class="ph-twitter"><i class="fab fa-twitter"></i></a>
                </div>
              </div>
              <div class="ph-info-box">
                <h5 class="ph-name">Rakshit Khandelwal</h5>
                <span class="ph-designation">CEO</span>
              </div>
            </div>
            <div class="ph-inner-box">
              <div class="ph-image-box">
                <figure class="ph-image">
                  <a href="javascript:;">
                    <%= image_tag "sachin-mishra.jpg"%>
                  </a>
                </figure>
                <div class="ph-social-links">
                  <a href="javascript:;" class="ph-linkein"><i class="fa-brands fa-linkedin-in"></i></a>
                  <a href="javascript:;" class="ph-twitter"><i class="fab  fa-twitter"></i></a>
                </div>
              </div>
              <div class="ph-info-box">
                <h5 class="ph-name">Sachin Mishra</h5>
                <span class="ph-designation">COO</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Team Sec Start -->

  <!-- Get Connect sec -->
  <section class="ph-getconnect-sec wow fadeInUp" data-wow-delay="0.3s">
    <div class="container">
      <div class="col-md-12 mx-auto">
        <div class="row align-items-center">
          <div class="col-md-8 col-sm-6">
            <div class="ph-getconnect-content">
              <h5>Make a call From</h5>
              <h1>Lets Build Your Application</h1>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="ph-getconnect-btn">
              <a href="javascript:;" class="ph-btn ph-btn-white">
                Get Connect <i class="fa-solid fa-arrow-right ms-2"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Get Connect sec -->
  <!-- Middle Content End -->

  <!-- footer Sec start -->
  <%= render partial: 'footer' %>
  <!-- footer sec end -->
</div>

<!-- Modal -->
<%= render partial: 'hire_developer' %>
<%= render partial: 'have_a_project' %>