<title>Protonshub | Portfolio</title>
<div class="ph-main-wrapper">
  <!-- Header start -->
  <%= render partial: 'header' %>
  <!-- Header end -->

  <!-- Middle Content Start -->

  <!-- Top ourTeam Banner start -->
  <section class="ph-casestudy-banner ph-casestudy-sec">
    <div class="container">
      <div class="ph-OurTeam-content">
        <div class="row align-items-center">
          <div class="col-xxl-8 col-xl-9 col-md-10 col-sm-12 mx-auto">
            <div class="ph-heading-title text-center">
              <h1>Projects That Speak About <span>Our Versatility</span></h1>
              <p class="mb-3">We phase our satisfying work out according to an actual results-oriented
                pattern for a sharp analytical cup of quality, affiliation, timely delivery, and
              accruable.</p>
            </div>
            <div class="ph-count-digital">
              <ul>
                <li>
                  <h1>220+</h1>
                  <p>Professional</p>
                </li>
                <li>
                  <h1>450+</h1>
                  <p>Completed Projects</p>
                </li>
                <li>
                  <h1>150K+</h1>
                  <p>Freelance Hours</p>
                </li>
                <li>
                  <h1>5+</h1>
                  <p>Years in Industry</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="Ph-form-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-8 col-xl-10 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Connect With Our Team Now!
            </h1>
            <p>Your information is safe with us; just fill out the form with your inquiry, and we'll get back to you. We will assess your needs and proceed in accordance with those findings.
            </p>
          </div>
        </div>
        <div class="col-xxl-9 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <ul class="nav ph-allcontact-form nav-pills mb-5" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <a href="javascript:;" class="nav-link active" id="project-detail-tab" data-bs-toggle="pill" data-bs-target="#project-detail" role="tab" aria-controls="project-detail" aria-selected="true">
                <span>
                  <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="24" height="24" transform="translate(0 0.664062)" fill="#505050" />
                    <path d="M13.0312 11.2891H15.0938C15.8531 11.2891 16.4688 10.6734 16.4688 9.91406V7.85156C16.4688 7.09209 15.8531 6.47656 15.0938 6.47656H13.0312C12.2719 6.47656 11.6562 7.09209 11.6562 7.85156V9.91406C11.6562 10.6734 12.2719 11.2891 13.0312 11.2891Z" fill="white" />
                    <path d="M10.9688 7.85156C10.9688 7.09209 10.3531 6.47656 9.59375 6.47656H7.53125C6.77194 6.47656 6.15625 7.09209 6.15625 7.85156V9.91406C6.15625 10.6734 6.77194 11.2891 7.53125 11.2891H9.59375C10.3531 11.2891 10.9688 10.6734 10.9688 9.91406V7.85156Z" fill="white" />
                    <path d="M9.59375 11.9766H7.53125C6.77194 11.9766 6.15625 12.5922 6.15625 13.3516V15.4141C6.15625 16.1734 6.77194 16.7891 7.53125 16.7891H9.59375C10.3531 16.7891 10.9688 16.1734 10.9688 15.4141V13.3516C10.9688 12.5922 10.3531 11.9766 9.59375 11.9766Z" fill="white" />
                    <path d="M13.0312 11.9766C12.2719 11.9766 11.6562 12.5922 11.6562 13.3516V18.1641C11.6562 18.9234 12.2719 19.5391 13.0312 19.5391H17.8438C18.6031 19.5391 19.2188 18.9234 19.2188 18.1641V13.3516C19.2188 12.5922 18.6031 11.9766 17.8438 11.9766H13.0312ZM17.8438 16.0308C17.8438 16.0754 17.8226 16.099 17.7776 16.1056C17.618 16.1294 17.4586 16.1525 17.299 16.1748C17.2738 16.1785 17.2617 16.1868 17.2555 16.2133C17.2132 16.3901 17.1438 16.5566 17.0503 16.7128C17.0407 16.7286 17.0405 16.7391 17.0523 16.7544C17.1515 16.8832 17.2494 17.0124 17.3476 17.1413C17.3809 17.1852 17.3797 17.2146 17.341 17.2536C17.2179 17.3793 17.0955 17.5042 16.9721 17.6298C16.9504 17.6522 16.9323 17.6631 16.9128 17.6631C16.8963 17.6631 16.8791 17.6551 16.8579 17.6396C16.7265 17.5435 16.5958 17.4485 16.4651 17.352C16.4575 17.3465 16.4331 17.346 16.4259 17.3506C16.2582 17.4553 16.0789 17.5317 15.8868 17.577C15.8629 17.5826 15.8584 17.5951 15.8555 17.6146C15.8325 17.7762 15.8091 17.9373 15.7854 18.0987C15.7785 18.1431 15.7545 18.1641 15.7089 18.1641H15.166C15.12 18.1641 15.0966 18.1432 15.0896 18.0964C15.0663 17.9361 15.0426 17.776 15.0204 17.6152C15.0172 17.5917 15.0078 17.5817 14.9843 17.5759C14.8091 17.5343 14.6436 17.4665 14.4891 17.3742C14.4791 17.3682 14.4458 17.3687 14.4356 17.3767C14.309 17.4749 14.1808 17.5717 14.0533 17.6684C14.0333 17.6839 14.0162 17.6916 13.9994 17.6916C13.9809 17.6916 13.9627 17.6818 13.9425 17.6624C13.8165 17.5391 13.6904 17.4157 13.5645 17.292C13.5248 17.2528 13.5225 17.2241 13.555 17.1798C13.6506 17.0484 13.7459 16.9171 13.842 16.7872C13.8535 16.7713 13.8539 16.7613 13.844 16.7449C13.7396 16.5782 13.6633 16.3996 13.6182 16.2079C13.6124 16.1835 13.5997 16.1785 13.5785 16.1759C13.4181 16.1527 13.2579 16.1292 13.0974 16.1057C13.0515 16.0988 13.0314 16.0753 13.0314 16.0276V15.4878C13.0314 15.4403 13.052 15.4165 13.0975 15.4101C13.2581 15.3863 13.418 15.3631 13.5788 15.34C13.5991 15.3372 13.6127 15.3328 13.6185 15.3082C13.6603 15.129 13.7306 14.9608 13.8245 14.8029C13.834 14.7871 13.8348 14.7766 13.8231 14.7613C13.7237 14.6325 13.6259 14.5036 13.5275 14.3744C13.4944 14.3305 13.4956 14.3011 13.5343 14.2621C13.6586 14.1356 13.7821 14.0081 13.9067 13.8824C13.9255 13.8638 13.9436 13.8543 13.9617 13.8539C13.9784 13.8539 13.9957 13.8612 14.0149 13.8752C14.1464 13.97 14.277 14.0656 14.4073 14.1625C14.4159 14.1685 14.4434 14.1691 14.4518 14.1639C14.6176 14.0601 14.7957 13.9849 14.986 13.9393C15.0088 13.9338 15.0167 13.9234 15.02 13.901C15.0425 13.7394 15.0661 13.5786 15.0896 13.4168C15.0965 13.3726 15.1206 13.3516 15.166 13.3516H15.7088C15.7555 13.3516 15.7785 13.3726 15.7851 13.4193C15.8089 13.5796 15.8325 13.7397 15.8549 13.9005C15.8581 13.924 15.8675 13.934 15.891 13.9401C16.0659 13.9817 16.2315 14.0495 16.3863 14.1418C16.3961 14.1478 16.4291 14.1473 16.4396 14.1393C16.566 14.0411 16.6943 13.9443 16.8218 13.8476C16.8421 13.8321 16.8594 13.8244 16.876 13.8244C16.8946 13.8244 16.9124 13.8342 16.9325 13.8536C17.0585 13.977 17.1843 14.1003 17.3105 14.2245C17.3504 14.2632 17.3525 14.2919 17.3197 14.3362C17.2241 14.4676 17.1289 14.5985 17.0327 14.7288C17.0212 14.7447 17.0209 14.7547 17.0309 14.7711C17.1349 14.9378 17.2113 15.1164 17.2561 15.3081C17.2617 15.3325 17.2752 15.3369 17.2962 15.34C17.4564 15.3632 17.6166 15.3866 17.7771 15.4101C17.8221 15.4167 17.8436 15.4404 17.8436 15.4849C17.8439 15.6667 17.8439 15.849 17.8437 16.0308L17.8438 16.0308Z" fill="white" />
                    <path d="M16.587 15.7583C16.587 16.3929 16.0726 16.9073 15.438 16.9073C14.8035 16.9073 14.2891 16.3929 14.2891 15.7583C14.2891 15.1238 14.8035 14.6094 15.438 14.6094C16.0726 14.6094 16.587 15.1238 16.587 15.7583Z" fill="white" />
                    <path d="M6.17452 23.6641H16.4505C17.2199 23.6641 17.8438 23.0484 17.8438 22.2891V20.2266H5.46875V5.10156H17.1562V11.2891H17.8438V3.03906C17.8438 2.27959 17.2198 1.66406 16.4505 1.66406H6.17452C5.40523 1.66406 4.78125 2.27959 4.78125 3.03906V22.2891C4.78125 23.0484 5.40523 23.6641 6.17452 23.6641ZM9.59375 21.6016H13.0312C13.2209 21.6016 13.375 21.7556 13.375 21.9453C13.375 22.135 13.2209 22.2891 13.0312 22.2891H9.59375C9.40407 22.2891 9.25 22.135 9.25 21.9453C9.25 21.7556 9.40407 21.6016 9.59375 21.6016ZM13.0312 3.03906H13.7188C13.9084 3.03906 14.0625 3.19314 14.0625 3.38281C14.0625 3.57249 13.9084 3.72656 13.7188 3.72656H13.0312C12.8416 3.72656 12.6875 3.57249 12.6875 3.38281C12.6875 3.19314 12.8416 3.03906 13.0312 3.03906ZM8.90625 3.03906H11.6563C11.8459 3.03906 12 3.19314 12 3.38281C12 3.57249 11.8459 3.72656 11.6563 3.72656H8.90625C8.71657 3.72656 8.5625 3.57249 8.5625 3.38281C8.5625 3.19314 8.71657 3.03906 8.90625 3.03906Z" fill="white" />
                  </svg>
                </span>
                Mobile App
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a href="javascript:;" class="nav-link" id="partner-detail-tab" data-bs-toggle="pill" data-bs-target="#partner-detail" role="tab" aria-controls="partner-detail" aria-selected="false">
                <span>
                  <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="24" height="24" transform="translate(0 0.664062)" fill="#505050" />
                    <path d="M23.0002 6.2462V2.58194C23.0002 2.07661 22.5876 1.66406 22.0823 1.66406H1.91788C1.41255 1.66406 1 2.07665 1 2.58194V6.24984L23.0001 6.24968L23.0002 6.2462ZM11.5429 3.03914C12.0483 3.03914 12.4608 3.44824 12.4608 3.95701C12.4608 4.46582 12.0517 4.87489 11.5429 4.87489C11.0341 4.87473 10.6252 4.46214 10.6252 3.95685C10.6252 3.45157 11.0342 3.03914 11.5429 3.03914ZM7.8752 3.03914C8.38053 3.03914 8.79308 3.44824 8.79308 3.95701C8.79308 4.46582 8.38397 4.87489 7.8752 4.87489C7.36988 4.87489 6.95733 4.46578 6.95733 3.95701C6.95733 3.44808 7.36992 3.03914 7.8752 3.03914ZM4.21079 3.03914C4.71611 3.03914 5.12518 3.45157 5.12518 3.95685C5.12518 4.46214 4.71607 4.87473 4.2073 4.87473C3.69849 4.87473 3.29291 4.46214 3.29291 3.95685C3.29291 3.45157 3.70202 3.03914 4.21079 3.03914Z" fill="white" />
                    <path d="M4.20703 19.5389H19.7894V10.3711H4.20703V19.5389ZM15.0388 13.0316C14.8359 12.8803 14.7912 12.595 14.9425 12.3923C15.0938 12.1894 15.3792 12.1448 15.5819 12.2961L18.6894 14.5854C18.8062 14.6713 18.8749 14.8089 18.8749 14.9532C18.8749 15.0975 18.8062 15.235 18.6892 15.321L15.5817 17.6138C15.2689 17.7857 15.0318 17.6379 14.9424 17.5176C14.7911 17.3147 14.8359 17.026 15.0386 16.8782L17.6443 14.9567L15.0388 13.0316ZM10.216 17.5003L12.966 12.0001C13.0795 11.7732 13.3544 11.684 13.5814 11.7939C13.8083 11.9074 13.901 12.1823 13.7876 12.4093L11.0375 17.9094C10.9 18.2944 10.4876 18.1466 10.4222 18.1156C10.192 18.0021 10.1025 17.7271 10.216 17.5003ZM5.31062 14.5852L8.41814 12.2959C8.62102 12.1446 8.90969 12.1894 9.05749 12.3921C9.20878 12.595 9.16399 12.8836 8.96127 13.0314L6.35559 14.953L8.96127 16.8745C9.16415 17.0258 9.20878 17.3112 9.05749 17.5139C8.96807 17.6342 8.73084 17.806 8.41814 17.6101L5.31062 15.3173C5.19367 15.2383 5.12499 15.1008 5.12499 14.953C5.12499 14.8052 5.19367 14.6711 5.31062 14.5852V14.5852Z" fill="white" />
                    <path d="M1 7.16406V22.7464C1 23.2517 1.41259 23.6643 1.91788 23.6643H22.0823C22.5875 23.6643 23 23.2517 23 22.7464V7.16406H1ZM20.7075 19.9964C20.7075 20.2507 20.5012 20.4535 20.2503 20.4535H3.75027C3.49595 20.4535 3.29307 20.2473 3.29307 19.9964V9.91413C3.29307 9.65981 3.49928 9.45693 3.75027 9.45693H20.2503C20.5046 9.45693 20.7075 9.66314 20.7075 9.91413V19.9964Z" fill="white" />
                  </svg>
                </span>
                Web Developement
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a href="javascript:;" class="nav-link" id="feedback-detail-tab" data-bs-toggle="pill" data-bs-target="#feedback-detail" role="tab" aria-controls="pills-contact" aria-selected="false">
                <span>
                  <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.10509 3.03817H12.6883V5.29368C12.6883 5.79433 13.0953 6.20123 13.5959 6.20123H15.8514V11.9745H15.0229L14.7639 13.5933C14.6766 13.6262 14.5903 13.662 14.5051 13.7007L13.1773 12.7391L11.839 14.0775H3.79919C3.62441 14.0775 3.48266 14.2192 3.48266 14.394C3.48266 14.5688 3.62441 14.7105 3.79919 14.7105H11.4846L12.3288 15.8765C12.2903 15.9617 12.2546 16.0478 12.2214 16.1353L10.6026 16.3947V16.7189H3.79874C3.62396 16.7189 3.48221 16.8606 3.48221 17.0354C3.48221 17.2102 3.62396 17.3519 3.79874 17.3519H10.6026V18.9537L12.2214 19.2127C12.2401 19.2621 12.2594 19.3111 12.2799 19.3596L3.79912 19.3595C3.62435 19.3595 3.4826 19.5012 3.4826 19.676C3.4826 19.8508 3.62435 19.9925 3.79912 19.9925H11.9512L11.3672 20.7992L13.1768 22.6088L14.5046 21.6472C14.5898 21.6857 14.6759 21.7214 14.7634 21.7546L14.9088 22.6637H1.10472C0.886755 22.6637 0.708984 22.4859 0.708984 22.2679V3.43425C0.708984 3.21629 0.886593 3.03852 1.10472 3.03852L1.10509 3.03817ZM15.772 0.69825V2.9194C15.772 3.02846 15.8609 3.11718 15.9698 3.11718H18.1909C18.1718 3.07516 18.1446 3.03647 18.1092 3.00145L15.8877 0.779958C15.8527 0.74477 15.814 0.717423 15.772 0.698241L15.772 0.69825ZM3.47878 0.664062C3.26081 0.664062 3.08304 0.841837 3.08304 1.0598V2.32874H13.234C13.5311 2.32874 13.8055 2.44231 14.0155 2.65243L16.2371 4.87392C16.4472 5.08405 16.5608 5.35839 16.5608 5.6554V11.9747H17.5819L17.8409 13.5935C17.9283 13.6264 18.0145 13.6622 18.0997 13.7009L18.2253 13.61V3.82709H15.9698C15.4691 3.82709 15.0622 3.42019 15.0622 2.91954V0.66437L3.47878 0.664062ZM13.3979 3.0725V5.29365C13.3979 5.40272 13.4868 5.49143 13.5957 5.49143H15.8168C15.7976 5.44941 15.7705 5.41072 15.7351 5.3757L13.5136 3.15421C13.4786 3.11886 13.4399 3.09167 13.3979 3.07249L13.3979 3.0725ZM3.79897 9.42809H12.7613C12.9361 9.42809 13.0779 9.28634 13.0779 9.11157C13.0779 8.93679 12.9361 8.79504 12.7613 8.79504H3.79897C3.6242 8.79504 3.48245 8.93679 3.48245 9.11157C3.48245 9.28634 3.6242 9.42809 3.79897 9.42809V9.42809ZM3.79897 6.78702H10.2323C10.407 6.78702 10.5488 6.64527 10.5488 6.4705C10.5488 6.29573 10.407 6.15397 10.2323 6.15397H3.79897C3.6242 6.15397 3.48245 6.29573 3.48245 6.4705C3.48245 6.64527 3.6242 6.78702 3.79897 6.78702V6.78702ZM3.79897 12.0693H12.7613C12.9361 12.0693 13.0779 11.9276 13.0779 11.7528C13.0779 11.578 12.9361 11.4363 12.7613 11.4363H3.79897C3.6242 11.4363 3.48245 11.578 3.48245 11.7528C3.48245 11.9276 3.6242 12.0693 3.79897 12.0693V12.0693ZM17.209 14.1369L16.9764 12.6842H15.6274L15.3948 14.1369C15.0559 14.2236 14.7358 14.3579 14.4423 14.5318L13.2501 13.6686L12.2964 14.6224L13.1596 15.8146C12.9855 16.1079 12.8515 16.4279 12.7648 16.767L11.312 16.9997V18.3486L12.7648 18.5813C12.8515 18.9201 12.9858 19.2402 13.1597 19.5337L12.2965 20.7259L13.2503 21.6797L14.4425 20.8165C14.7358 20.9906 15.0559 21.1248 15.3949 21.2114L15.6276 22.6641H16.9766L17.2092 21.2112C17.5481 21.1245 17.8681 20.9902 18.1616 20.8163L19.3538 21.6795L20.3076 20.7258L19.4444 19.5335C19.6185 19.2402 19.7527 18.9202 19.8393 18.5811L21.292 18.3485V16.9995L19.8391 16.7668C19.7524 16.428 19.6182 16.1079 19.4442 15.8144L20.3074 14.6222L19.3537 13.6685L18.1614 14.5316C17.8678 14.3577 17.5481 14.2235 17.209 14.1369L17.209 14.1369ZM16.3022 15.6807C15.2013 15.6807 14.3091 16.573 14.3091 17.6737C14.3091 18.7745 15.2015 19.6668 16.3022 19.6668C17.403 19.6668 18.2955 18.7744 18.2955 17.6737C18.2953 16.5731 17.4028 15.6807 16.3022 15.6807V15.6807Z" fill="white" />
                  </svg>
                </span>
                UI/UX Design
              </a>
            </li>
          </ul>
        </div>
        <div class="col-xxl-12">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="project-detail" role="tabpanel" aria-labelledby="project-detail-tab" tabindex="0">
              <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                  <div class="ph-blog-box ph-portfolio-box">
                    <div class="ph-blog-img">
                      <a href="javascript:;">
                        <%= image_tag "recent-work.jpg" %>
                      </a>
                      <div class="ph-types-app">
                        <a href="javascript:;">ios</a>
                        <a href="javascript:;">Android</a>
                        <a href="javascript:;">Flutter</a>
                      </div>
                    </div>
                    <div class="ph-blog-text">
                      <a href="javascript:;" class="ph-blog-title">Instago</a>
                      <p class="ph-work-headline">Education/ E-Learning</p>
                      <p>A superb product of Instant Retails Limited to redefine the future of
                      Vending Machines...</p>
                      <%= link_to portfolio_detail_path, class: "ph-read-more" do %>
                      Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                  <div class="ph-blog-box ph-portfolio-box">
                    <div class="ph-blog-img">
                      <a href="javascript:;">
                        <%= image_tag "recent-work.jpg" %>
                      </a>
                      <div class="ph-types-app">
                        <a href="javascript:;">ios</a>
                        <a href="javascript:;">Android</a>
                        <a href="javascript:;">Flutter</a>
                      </div>
                    </div>
                    <div class="ph-blog-text">
                      <a href="javascript:;" class="ph-blog-title">Instago</a>
                      <p class="ph-work-headline">Education/ E-Learning</p>
                      <p>A superb product of Instant Retails Limited to redefine the future of  Vending Machines...</p>
                      <%= link_to portfolio_detail_path, class: "ph-read-more" do %>
                      Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                  <div class="ph-blog-box ph-portfolio-box">
                    <div class="ph-blog-img">
                      <a href="javascript:;">
                        <%= image_tag "recent-work.jpg" %>
                      </a>
                      <div class="ph-types-app">
                        <a href="javascript:;">ios</a>
                        <a href="javascript:;">Android</a>
                        <a href="javascript:;">Flutter</a>
                      </div>
                    </div>
                    <div class="ph-blog-text">
                      <a href="javascript:;" class="ph-blog-title">Instago</a>
                      <p class="ph-work-headline">Education/ E-Learning</p>
                      <p>A superb product of Instant Retails Limited to redefine the future of Vending Machines...</p>
                      <%= link_to portfolio_detail_path, class: "ph-read-more" do %>
                      Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                  <div class="ph-blog-box ph-portfolio-box">
                    <div class="ph-blog-img">
                      <a href="javascript:;">
                        <%= image_tag "recent-work.jpg" %>
                      </a>
                      <div class="ph-types-app">
                        <a href="javascript:;">ios</a>
                        <a href="javascript:;">Android</a>
                        <a href="javascript:;">Flutter</a>
                      </div>
                    </div>
                    <div class="ph-blog-text">
                      <a href="javascript:;" class="ph-blog-title">Instago</a>
                      <p class="ph-work-headline">Education/ E-Learning</p>
                      <p>A superb product of Instant Retails Limited to redefine the future of Vending Machines...</p>
                      <%= link_to portfolio_detail_path, class: "ph-read-more" do %>
                      Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                  <div class="ph-blog-box ph-portfolio-box">
                    <div class="ph-blog-img">
                      <a href="javascript:;">
                        <%= image_tag "recent-work.jpg" %>
                      </a>
                      <div class="ph-types-app">
                        <a href="javascript:;">ios</a>
                        <a href="javascript:;">Android</a>
                        <a href="javascript:;">Flutter</a>
                      </div>
                    </div>
                    <div class="ph-blog-text">
                      <a href="javascript:;" class="ph-blog-title">Instago</a>
                      <p class="ph-work-headline">Education/ E-Learning</p>
                      <p>A superb product of Instant Retails Limited to redefine the future of Vending Machines...</p>
                      <%= link_to portfolio_detail_path, class: "ph-read-more" do %>
                      Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                  <div class="ph-blog-box ph-portfolio-box">
                    <div class="ph-blog-img">
                      <a href="javascript:;">
                        <%= image_tag "recent-work.jpg" %>
                      </a>
                      <div class="ph-types-app">
                        <a href="javascript:;">ios</a>
                        <a href="javascript:;">Android</a>
                        <a href="javascript:;">Flutter</a>
                      </div>
                    </div>
                    <div class="ph-blog-text">
                      <a href="javascript:;" class="ph-blog-title">Instago</a>
                      <p class="ph-work-headline">Education/ E-Learning</p>
                      <p>A superb product of Instant Retails Limited to redefine the future of Vending Machines...</p>
                      <%= link_to portfolio_detail_path, class: "ph-read-more" do %>
                      Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                  <div class="ph-blog-box ph-portfolio-box">
                    <div class="ph-blog-img">
                      <a href="javascript:;">
                        <%= image_tag "recent-work.jpg" %>
                      </a>
                      <div class="ph-types-app">
                        <a href="javascript:;">ios</a>
                        <a href="javascript:;">Android</a>
                        <a href="javascript:;">Flutter</a>
                      </div>
                    </div>
                    <div class="ph-blog-text">
                      <a href="javascript:;" class="ph-blog-title">Instago</a>
                      <p class="ph-work-headline">Education/ E-Learning</p>
                      <p>A superb product of Instant Retails Limited to redefine the future of Vending Machines...</p>
                      <%= link_to portfolio_detail_path, class: "ph-read-more" do %>
                      Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                  <div class="ph-blog-box ph-portfolio-box">
                    <div class="ph-blog-img">
                      <a href="javascript:;">
                        <%= image_tag "recent-work.jpg" %>
                      </a>
                      <div class="ph-types-app">
                        <a href="javascript:;">ios</a>
                        <a href="javascript:;">Android</a>
                        <a href="javascript:;">Flutter</a>
                      </div>
                    </div>
                    <div class="ph-blog-text">
                      <a href="javascript:;" class="ph-blog-title">Instago</a>
                      <p class="ph-work-headline">Education/ E-Learning</p>
                      <p>A superb product of Instant Retails Limited to redefine the future of Vending Machines...</p>
                      <%= link_to portfolio_detail_path, class: "ph-read-more" do %>
                      Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                  <div class="ph-blog-box ph-portfolio-box">
                    <div class="ph-blog-img">
                      <a href="javascript:;">
                        <%= image_tag "recent-work.jpg" %>
                      </a>
                      <div class="ph-types-app">
                        <a href="javascript:;">ios</a>
                        <a href="javascript:;">Android</a>
                        <a href="javascript:;">Flutter</a>
                      </div>
                    </div>
                    <div class="ph-blog-text">
                      <a href="javascript:;" class="ph-blog-title">Instago</a>
                      <p class="ph-work-headline">Education/ E-Learning</p>
                      <p>A superb product of Instant Retails Limited to redefine the future of Vending Machines...</p>
                      <%= link_to portfolio_detail_path, class: "ph-read-more" do %>
                      Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="partner-detail" role="tabpanel" aria-labelledby="partner-detail-tab" tabindex="0">
              <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                  <div class="ph-blog-box ph-portfolio-box">
                    <div class="ph-blog-img">
                      <a href="javascript:;">
                        <%= image_tag "recent-work.jpg" %>
                      </a>
                      <div class="ph-types-app">
                        <a href="javascript:;">ios</a>
                        <a href="javascript:;">Android</a>
                        <a href="javascript:;">Flutter</a>
                      </div>
                    </div>
                    <div class="ph-blog-text">
                      <a href="javascript:;" class="ph-blog-title">Instago</a>
                      <p class="ph-work-headline">Education/ E-Learning</p>
                      <p>A superb product of Instant Retails Limited to redefine the future of Vending Machines...</p>
                      <%= link_to portfolio_detail_path, class: "ph-read-more" do %>
                      Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                  <div class="ph-blog-box ph-portfolio-box">
                    <div class="ph-blog-img">
                      <a href="javascript:;">
                        <%= image_tag "recent-work.jpg" %>
                      </a>
                      <div class="ph-types-app">
                        <a href="javascript:;">ios</a>
                        <a href="javascript:;">Android</a>
                        <a href="javascript:;">Flutter</a>
                      </div>
                    </div>
                    <div class="ph-blog-text">
                      <a href="javascript:;" class="ph-blog-title">Instago</a>
                      <p class="ph-work-headline">Education/ E-Learning</p>
                      <p>A superb product of Instant Retails Limited to redefine the future of Vending Machines...</p>
                      <%= link_to portfolio_detail_path, class: "ph-read-more" do %>
                      Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                  <div class="ph-blog-box ph-portfolio-box">
                    <div class="ph-blog-img">
                      <a href="javascript:;">
                        <%= image_tag "recent-work.jpg" %>
                      </a>
                      <div class="ph-types-app">
                        <a href="javascript:;">ios</a>
                        <a href="javascript:;">Android</a>
                        <a href="javascript:;">Flutter</a>
                      </div>
                    </div>
                    <div class="ph-blog-text">
                      <a href="javascript:;" class="ph-blog-title">Instago</a>
                      <p class="ph-work-headline">Education/ E-Learning</p>
                      <p>A superb product of Instant Retails Limited to redefine the future of Vending Machines...</p>
                      <%= link_to portfolio_detail_path, class: "ph-read-more" do %>
                      Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                  <div class="ph-blog-box ph-portfolio-box">
                    <div class="ph-blog-img">
                      <a href="javascript:;">
                        <%= image_tag "recent-work.jpg" %>
                      </a>
                      <div class="ph-types-app">
                        <a href="javascript:;">ios</a>
                        <a href="javascript:;">Android</a>
                        <a href="javascript:;">Flutter</a>
                      </div>
                    </div>
                    <div class="ph-blog-text">
                      <a href="javascript:;" class="ph-blog-title">Instago</a>
                      <p class="ph-work-headline">Education/ E-Learning</p>
                      <p>A superb product of Instant Retails Limited to redefine the future of Vending Machines...</p>
                      <%= link_to portfolio_detail_path, class: "ph-read-more" do %>
                      Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                  <div class="ph-blog-box ph-portfolio-box">
                    <div class="ph-blog-img">
                      <a href="javascript:;">
                        <%= image_tag "recent-work.jpg" %>
                      </a>
                      <div class="ph-types-app">
                        <a href="javascript:;">ios</a>
                        <a href="javascript:;">Android</a>
                        <a href="javascript:;">Flutter</a>
                      </div>
                    </div>
                    <div class="ph-blog-text">
                      <a href="javascript:;" class="ph-blog-title">Instago</a>
                      <p class="ph-work-headline">Education/ E-Learning</p>
                      <p>A superb product of Instant Retails Limited to redefine the future of Vending Machines...</p>
                      <%= link_to portfolio_detail_path, class: "ph-read-more" do %>
                      Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                  <div class="ph-blog-box ph-portfolio-box">
                    <div class="ph-blog-img">
                      <a href="javascript:;">
                        <%= image_tag "recent-work.jpg" %>
                      </a>
                      <div class="ph-types-app">
                        <a href="javascript:;">ios</a>
                        <a href="javascript:;">Android</a>
                        <a href="javascript:;">Flutter</a>
                      </div>
                    </div>
                    <div class="ph-blog-text">
                      <a href="javascript:;" class="ph-blog-title">Instago</a>
                      <p class="ph-work-headline">Education/ E-Learning</p>
                      <p>A superb product of Instant Retails Limited to redefine the future of Vending Machines...</p>
                      <%= link_to portfolio_detail_path, class: "ph-read-more" do %>
                      Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                  <div class="ph-blog-box ph-portfolio-box">
                    <div class="ph-blog-img">
                      <a href="javascript:;">
                        <%= image_tag "recent-work.jpg" %>
                      </a>
                      <div class="ph-types-app">
                        <a href="javascript:;">ios</a>
                        <a href="javascript:;">Android</a>
                        <a href="javascript:;">Flutter</a>
                      </div>
                    </div>
                    <div class="ph-blog-text">
                      <a href="javascript:;" class="ph-blog-title">Instago</a>
                      <p class="ph-work-headline">Education/ E-Learning</p>
                      <p>A superb product of Instant Retails Limited to redefine the future of Vending Machines...</p>
                      <%= link_to portfolio_detail_path, class: "ph-read-more" do %>
                      Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                  <div class="ph-blog-box ph-portfolio-box">
                    <div class="ph-blog-img">
                      <a href="javascript:;">
                        <%= image_tag "recent-work.jpg" %>
                      </a>
                      <div class="ph-types-app">
                        <a href="javascript:;">ios</a>
                        <a href="javascript:;">Android</a>
                        <a href="javascript:;">Flutter</a>
                      </div>
                    </div>
                    <div class="ph-blog-text">
                      <a href="javascript:;" class="ph-blog-title">Instago</a>
                      <p class="ph-work-headline">Education/ E-Learning</p>
                      <p>A superb product of Instant Retails Limited to redefine the future of Vending Machines...</p>
                      <%= link_to portfolio_detail_path, class: "ph-read-more" do %>
                      Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                  <div class="ph-blog-box ph-portfolio-box">
                    <div class="ph-blog-img">
                      <a href="javascript:;">
                        <%= image_tag "recent-work.jpg" %>
                      </a>
                      <div class="ph-types-app">
                        <a href="javascript:;">ios</a>
                        <a href="javascript:;">Android</a>
                        <a href="javascript:;">Flutter</a>
                      </div>
                    </div>
                    <div class="ph-blog-text">
                      <a href="javascript:;" class="ph-blog-title">Instago</a>
                      <p class="ph-work-headline">Education/ E-Learning</p>
                      <p>A superb product of Instant Retails Limited to redefine the future of Vending Machines...</p>
                      <%= link_to portfolio_detail_path, class: "ph-read-more" do %>
                      Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="feedback-detail" role="tabpanel" aria-labelledby="feedback-detail-tab" tabindex="0">
              <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                  <div class="ph-blog-box ph-portfolio-box">
                    <div class="ph-blog-img">
                      <a href="javascript:;">
                        <%= image_tag "recent-work.jpg" %>
                      </a>
                      <div class="ph-types-app">
                        <a href="javascript:;">ios</a>
                        <a href="javascript:;">Android</a>
                        <a href="javascript:;">Flutter</a>
                      </div>
                    </div>
                    <div class="ph-blog-text">
                      <a href="javascript:;" class="ph-blog-title">Instago</a>
                      <p class="ph-work-headline">Education/ E-Learning</p>
                      <p>A superb product of Instant Retails Limited to redefine the future of Vending Machines...</p>
                      <%= link_to portfolio_detail_path, class: "ph-read-more" do %>
                      Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                  <div class="ph-blog-box ph-portfolio-box">
                    <div class="ph-blog-img">
                      <a href="javascript:;">
                        <%= image_tag "recent-work.jpg" %>
                      </a>
                      <div class="ph-types-app">
                        <a href="javascript:;">ios</a>
                        <a href="javascript:;">Android</a>
                        <a href="javascript:;">Flutter</a>
                      </div>
                    </div>
                    <div class="ph-blog-text">
                      <a href="javascript:;" class="ph-blog-title">Instago</a>
                      <p class="ph-work-headline">Education/ E-Learning</p>
                      <p>A superb product of Instant Retails Limited to redefine the future of Vending Machines...</p>
                      <%= link_to portfolio_detail_path, class: "ph-read-more" do %>
                      Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                  <div class="ph-blog-box ph-portfolio-box">
                    <div class="ph-blog-img">
                      <a href="javascript:;">
                        <%= image_tag "recent-work.jpg" %>
                      </a>
                      <div class="ph-types-app">
                        <a href="javascript:;">ios</a>
                        <a href="javascript:;">Android</a>
                        <a href="javascript:;">Flutter</a>
                      </div>
                    </div>
                    <div class="ph-blog-text">
                      <a href="javascript:;" class="ph-blog-title">Instago</a>
                      <p class="ph-work-headline">Education/ E-Learning</p>
                      <p>A superb product of Instant Retails Limited to redefine the future of Vending Machines...</p>
                      <%= link_to portfolio_detail_path, class: "ph-read-more" do %>
                      Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                  <div class="ph-blog-box ph-portfolio-box">
                    <div class="ph-blog-img">
                      <a href="javascript:;">
                        <%= image_tag "recent-work.jpg" %>
                      </a>
                      <div class="ph-types-app">
                        <a href="javascript:;">ios</a>
                        <a href="javascript:;">Android</a>
                        <a href="javascript:;">Flutter</a>
                      </div>
                    </div>
                    <div class="ph-blog-text">
                      <a href="javascript:;" class="ph-blog-title">Instago</a>
                      <p class="ph-work-headline">Education/ E-Learning</p>
                      <p>A superb product of Instant Retails Limited to redefine the future of Vending Machines...</p>
                      <%= link_to portfolio_detail_path, class: "ph-read-more" do %>
                      Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                  <div class="ph-blog-box ph-portfolio-box">
                    <div class="ph-blog-img">
                      <a href="javascript:;">
                        <%= image_tag "recent-work.jpg" %>
                      </a>
                      <div class="ph-types-app">
                        <a href="javascript:;">ios</a>
                        <a href="javascript:;">Android</a>
                        <a href="javascript:;">Flutter</a>
                      </div>
                    </div>
                    <div class="ph-blog-text">
                      <a href="javascript:;" class="ph-blog-title">Instago</a>
                      <p class="ph-work-headline">Education/ E-Learning</p>
                      <p>A superb product of Instant Retails Limited to redefine the future of Vending Machines...</p>
                      <%= link_to portfolio_detail_path, class: "ph-read-more" do %>
                      Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                  <div class="ph-blog-box ph-portfolio-box">
                    <div class="ph-blog-img">
                      <a href="javascript:;">
                        <%= image_tag "recent-work.jpg" %>
                      </a>
                      <div class="ph-types-app">
                        <a href="javascript:;">ios</a>
                        <a href="javascript:;">Android</a>
                        <a href="javascript:;">Flutter</a>
                      </div>
                    </div>
                    <div class="ph-blog-text">
                      <a href="javascript:;" class="ph-blog-title">Instago</a>
                      <p class="ph-work-headline">Education/ E-Learning</p>
                      <p>A superb product of Instant Retails Limited to redefine the future of Vending Machines...</p>
                      <%= link_to portfolio_detail_path, class: "ph-read-more" do %>
                      Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                  <div class="ph-blog-box ph-portfolio-box">
                    <div class="ph-blog-img">
                      <a href="javascript:;">
                        <%= image_tag "recent-work.jpg" %>
                      </a>
                      <div class="ph-types-app">
                        <a href="javascript:;">ios</a>
                        <a href="javascript:;">Android</a>
                        <a href="javascript:;">Flutter</a>
                      </div>
                    </div>
                    <div class="ph-blog-text">
                      <a href="javascript:;" class="ph-blog-title">Instago</a>
                      <p class="ph-work-headline">Education/ E-Learning</p>
                      <p>A superb product of Instant Retails Limited to redefine the future of Vending Machines...</p>
                      <%= link_to portfolio_detail_path, class: "ph-read-more" do %>
                      Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                  <div class="ph-blog-box ph-portfolio-box">
                    <div class="ph-blog-img">
                      <a href="javascript:;">
                        <%= image_tag "recent-work.jpg" %>
                      </a>
                      <div class="ph-types-app">
                        <a href="javascript:;">ios</a>
                        <a href="javascript:;">Android</a>
                        <a href="javascript:;">Flutter</a>
                      </div>
                    </div>
                    <div class="ph-blog-text">
                      <a href="javascript:;" class="ph-blog-title">Instago</a>
                      <p class="ph-work-headline">Education/ E-Learning</p>
                      <p>A superb product of Instant Retails Limited to redefine the future of Vending Machines...</p>
                      <%= link_to portfolio_detail_path, class: "ph-read-more" do %>
                      Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                  <div class="ph-blog-box ph-portfolio-box">
                    <div class="ph-blog-img">
                      <a href="javascript:;">
                        <%= image_tag "recent-work.jpg" %>
                      </a>
                      <div class="ph-types-app">
                        <a href="javascript:;">ios</a>
                        <a href="javascript:;">Android</a>
                        <a href="javascript:;">Flutter</a>
                      </div>
                    </div>
                    <div class="ph-blog-text">
                      <a href="javascript:;" class="ph-blog-title">Instago</a>
                      <p class="ph-work-headline">Education/ E-Learning</p>
                      <p>A superb product of Instant Retails Limited to redefine the future of Vending Machines...</p>
                      <%= link_to portfolio_detail_path, class: "ph-read-more" do %>
                      Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- business start -->
  <section class="ph-bigger-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-7 col-xl-8 col-lg-8 col-md-10 mx-auto col-sm-12">
          <div class="ph-heading-title ph-hire-title mb-0">
            <h1>
              Access your <span>Business Potentials</span>
              today & find Opportunity for
              <span>Bigger Success</span>
            </h1>
            <div class="mt-4">
              <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn  ph-btn-white">Start A Project Now <i class="fa-solid fa-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- business end -->
  <section class="ph-our-client-sec">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xxl-9 col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="ph-boxlogo-shadow ">
            <div class="ph-ourClient-logo mt-0 shadow-none p-0">
              <div class="swiper ph-mySwiper swiper-initialized swiper-horizontal swiper-pointer-events">
                <div class="swiper-wrapper" id="swiper-wrapper-4ad2bce8f10c10257" aria-live="off" style="transform: translate3d(-2002.5px, 0px, 0px); transition-duration: 1000ms;">
                  <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" role="group" aria-label="4 / 7" style="width: 180.25px; margin-right: 20px;">
                    <%= image_tag "stage.svg" %>
                  </div>
                  <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="4" role="group" aria-label="5 / 7" style="width: 180.25px; margin-right: 20px;">
                    <%= image_tag "mahindra-org.svg" %>
                  </div>
                  <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="5" role="group" aria-label="6 / 7" style="width: 180.25px; margin-right: 20px;">
                    <%= image_tag "manyvaar.svg" %>
                  </div>
                  <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="6" role="group" aria-label="7 / 7" style="width: 180.25px; margin-right: 20px;">
                    <%= image_tag "honey.svg" %>
                  </div>
                  <div class="swiper-slide swiper-slide-duplicate-next" data-swiper-slide-index="0" role="group" aria-label="1 / 7" style="width: 180.25px; margin-right: 20px;">
                    <%= image_tag "colgate.svg" %>
                  </div>
                  <div class="swiper-slide" data-swiper-slide-index="1" role="group" aria-label="2 / 7" style="width: 180.25px; margin-right: 20px;">
                    <%= image_tag "g2-org.svg" %>
                  </div> 
                  <div class="swiper-slide" data-swiper-slide-index="2" role="group" aria-label="3 / 7" style="width: 180.25px; margin-right: 20px;">
                    <%= image_tag "henkel-org.svg" %>
                  </div>
                  <div class="swiper-slide" data-swiper-slide-index="3" role="group" aria-label="4 / 7" style="width: 180.25px; margin-right: 20px;">
                    <%= image_tag "stage.svg" %>
                  </div>
                  <div class="swiper-slide" data-swiper-slide-index="4" role="group" aria-label="5 / 7" style="width: 180.25px; margin-right: 20px;">
                    <%= image_tag "mahindra-org.svg" %>
                  </div>
                  <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="5" role="group" aria-label="6 / 7" style="width: 180.25px; margin-right: 20px;">
                    <%= image_tag "manyvaar.svg" %>
                  </div>
                  <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="6" role="group" aria-label="7 / 7" style="width: 180.25px; margin-right: 20px;">
                    <%= image_tag "honey.svg" %>
                  </div>
                  <div class="swiper-slide swiper-slide-duplicate swiper-slide-next" data-swiper-slide-index="0" role="group" aria-label="1 / 7" style="width: 180.25px; margin-right: 20px;">
                    <%= image_tag "colgate.svg" %>
                  </div>
                  <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1" role="group" aria-label="2 / 7" style="width: 180.25px; margin-right: 20px;">
                    <%= image_tag "g2-org.svg" %>
                  </div>
                  <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" role="group" aria-label="3 / 7" style="width: 180.25px; margin-right: 20px;">
                    <%= image_tag "henkel-org.svg" %>
                  </div>
                  <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" role="group" aria-label="4 / 7" style="width: 180.25px; margin-right: 20px;">
                    <%= image_tag "stage.svg" %>
                  </div>
                </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Get Connect sec -->
  <%= render partial: 'connect_sec' %>
  <!-- Get Connect sec -->
  <!-- Middle Content End -->

  <!-- footer Sec start -->
  <%= render partial: 'footer' %>
  <!-- footer sec end -->
</div>

<!-- Modal -->
<%= render partial: 'hire_developer' %>
<%= render partial: 'have_a_project' %>