<title>Protonshub | Press Release Detail</title>
<div class="ph-main-wrapper">
  <!-- Header start -->
  <%= render partial: 'header' %>
  <!-- Header end -->

  <!-- Middle Content Start -->
  <!-- Blog Banner start -->
  <section class="ph-pressDetail-sec">
    <div class="container">
      <div class="ph-OurTeam-content">
        <div class="row align-items-center">
          <div class="col-xxl-6 col-xl-6 col-md-10 mx-auto">
            <div class="ph-heading-title text-center">
              <h1>Protonshub the <span>Journey</span> to <span>Excellence</span></h1>
              <div class="ph-banner-btn mt-4">
                <a href="javascript:;" class="ph-btn">Read more <i
                  class="fa-solid fa-arrow-right ms-2"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Blog Banner End -->

  <!-- Main blog start -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-xxl-9 col-xl-8 col-md-8">
          <div class="ph-pressdetail-box">
            <h2>When you have a Common Dream, Goals and Vision what you Craft is – “Protonshub Technologies”.</h2>
            <div class="ph-contentimg-box">
              <div class="row align-items-center">
                <div class="col-md-3">
                  <div class="ph-pressDetail-img">
                    <div class="ph-press-img">
                      <%= image_tag "sachin-mishra.jpg" %>
                    </div>
                    <h5>Sachin <span>Mishra</span></h5>
                    <h6>Chief Operating Officer</h6>
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="ph-pressDetail-content">
                    <p>"Over the ears of experience as an employee we have seen Companies having really Oppressed and toxic work culture making it a near to impossible circumstances for people to work, sublime and proliferate.</p>
                    <p>We had a common vision to make a company that should be known for its culture, environment and human values making it a place to build a life not just a career"</p>
                    <p>Never give up on your dreams as they push you to work harder and harder before you succeed.</p>
                  </div>
                </div>
              </div>
            </div>
            <h4>….. From Divergence to Convergence.</h4>
            <p>It is a long old saying that when thoughts, frequencies, ambitions and risk-taking abilities match one makes a combination which is paradox to success, sustainability and unprecedented growth. Working In silos has never been a solution when you are eying to build an empire.</p>
            <p> Rakshit, Sachin and Tushar three technology professionals working in silos for different IT giants somewhere having a dream of building an IT company never had any idea that small and frequent conversations at tea points will lead to a founding stone for a company that will be ever remembered for its culture, fast paced progress and the difference they made in the digital revolution of business.</p>
            <p>While Rakshit and Tushar were company mates with a very strong inclination and passion to enter the wonderland of Entrepreneurship; Sachin has already taken a leap ahead with a small start-up in IT infrastructure working rigorously to gain hands-on experience but at some corner, he was missing the passion, spark and aggression that he needed from the other end to make it on a big stage.</p>
            <p>Fortunately, the law of convergence got applied and the trio connected in one of the business discussions to form something which became a brand to look forward to for many start-ups. A brand that signified the will and determination to succeed. A brand that proved if you have the strong desire and direction nothing is impossible to achieve.</p>
            <h4>…. The Green top pitch & Bouncers tested us to deep skin.</h4>
            <p>Business is like playing a test match on a green top pitch. Firstly, it will test your patience and focus and then bouncers will test your determination. The journey started with a bag full of challenges to address. Of course, client acquisition being the biggest of all, our trio’s also faced roadblocks and Bumpers when it came to resource Hiring and the major challenge was the glamour that IT companies are expected to have. You don’t have the liberty to have a glamful office at the start just as you don’t score 10 an over in a test match. However, the dreams and self-belief were so strong that distraction actually never made them divert from the path they were following.</p>
            <div class="ph-contentimg-box">
              <div class="row align-items-center">
                <div class="col-md-3">
                  <div class="ph-pressDetail-img">
                    <div class="ph-press-img">
                      <%= image_tag "tushar-pal.jpg" %>
                    </div>
                    <h5>Tushar <span>Pal</span></h5>
                    <h6>President</h6>
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="ph-pressDetail-content">
                    <p>"Right from the word go our total focus was on providing cost effective and Innovative digital solutions to our clients that can create an impact in their overall business objectives. Ultimately this value preposition made us what we are today"</p>
                  </div>
                </div>
              </div>
            </div>
            <h4>…We steadied the Ship</h4>
            <p>Small steps make a big leap. We always believed it’s not important whether you are sprinting, walking or crawling. What is important is that you are moving because it’s the movement towards the destination that will make you reach there. With a Small 1500 Sq. Ft office and 4 employees Protonshub started the voyage to the ocean of Digital Transformation.</p>
            <p>Honest and clear business policies, Customer first values and innovative technology solutions helped the business to grow and ultimately the ship that started the sail in turbulence found steadiness and was more than ready to announce itself.</p>
            <h4>…… Perseverance and Persistence Paid off.</h4>
            <p>We always knew our core strength and every single promoter had a role to play which was truly well defined. The business acumen of Sachin, the people management skills of Rachit and the strong business networking capabilities of Tushar ensured that the company is on a track to make an impending impact in the global business arena. From a 1500 Sq. Ft. office and 4 employees now we were more than ready to scale up and in the next 2 years Protonshub expanded from 4 to 15, 15 to 35 and now a company with more than 150 plus employees with a whopping 5000 Sq. Ft. Lavish office. A glam we were devoid of when we started the business.</p>
            <h4>……The slog overs were yet to come.</h4>
            <p>For 3 years Protonshub focused on delivering quality software solutions with a proven approach in development, deployment, testing and support. By now we have successfully served more than 500 plus clients in 60 plus countries and delivered more than 1000 Application in 15 plus business verticals. From a point where the company was merely making revenues is now a 10-million-dollar revenue company. </p>
            <p>Like they say, “taste the success once, tongue wants more” (Pun intended), we have not stopped there today Protonshub is a globally acclaimed and Appreciated company. We have been an award-winning team, to name a few: - </p>


            <h4>……Lastly the most important- Our Mission.</h4>
            <p>Our focus has always been in and around enabling businesses of all reputes to transform digitally, and this is the key matrix of our mission moving forward. Protonshub is on a mission to digitally transform 1000 Businesses by year 2025. Although we have the business goals of serving enterprises and bringing a change in the way their business operated which we have done successfully serving a good chunk of Fortune 500 companies with our technical expertise but having crossed the channel of start-up journey we take this as a responsibility to bring the digital enablement of start-ups and midsize businesses so that they can also arrive at the global platform. Quality services need skilled and dedicated human assets and since we have the vision of expanding to 500 employees by year 2024, we also welcome fresh and experienced talents to be part of a family that not only provides you career but also give you a life you cherish forever.
            </p>
            <div class="ph-contentimg-box">
              <div class="row align-items-center">
                <div class="col-md-3">
                  <div class="ph-pressDetail-img">
                    <div class="ph-press-img">
                      <%= image_tag "rakshit-khandelwal.jpg" %>
                    </div>
                    <h5>Rakshit <span>Khandelwal</span></h5>
                    <h6>Chief Executive Officer</h6>
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="ph-pressDetail-content">
                    <p>"We strongly believe in rising through by serving the elites and Giants but we also remember every giant was a cocoas at one point and so we always have a very special place for start-ups, and we are determined to bring changes in small businesses with our expertise, innovation and Digital Strategies".</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-4">
          <div class="ph-blog-sidebar">
            <div class="ph-topSocial-media text-end">
              <p>Share this article</p>
              <ul>
                <li> <a href="javascript:;"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li> <a href="javascript:;"><i class="fa-brands fa-linkedin-in"></i></a></li>
                <li> <a href="javascript:;"><i class="fa-brands fa-twitter"></i></a></li>
                <li> <a href="javascript:;"><i class="fa-brands fa-pinterest-p"></i></a></li>
                <li> <a href="javascript:;"><i class="fa-brands fa-instagram"></i></a></li>
              </ul>
            </div>
            <div class="ph-trending-blog">
              <h5>Our Press Release <i class="fa-solid fa-arrow-trend-up"></i></h5>
              <div class="ph-thumbnail-box">
                <div class="ph-thumbnail-img">
                  <%= image_tag "thumbnail.jpg"%>
                </div>
                <div class="ph-thumbnail-content">
                  <h6>10 January, 2023</h6>
                  <p>How Technology Is Transforming The Logistics Business?</p>
                </div>
              </div>
              <div class="ph-thumbnail-box">
                <div class="ph-thumbnail-img">
                  <%= image_tag "thumbnail.jpg"%>
                </div>
                <div class="ph-thumbnail-content">
                  <h6>10 January, 2023</h6>
                  <p>How Technology Is Transforming The Logistics Business?</p>
                </div>
              </div>
              <div class="ph-thumbnail-box">
                <div class="ph-thumbnail-img">
                  <%= image_tag "thumbnail.jpg"%>
                </div>
                <div class="ph-thumbnail-content">
                  <h6>10 January, 2023</h6>
                  <p>How Technology Is Transforming The Logistics Business?</p>
                </div>
              </div>
              <div class="ph-explore-more mb-3">
                <a href="javascript:;">View All<i class="fa-solid fa-arrow-right ms-2"></i></a>
              </div>
            </div>
            <div class="ph-newletter-blog">
              <h6 class="ph-newLatter-heading">Newsletter</h6>
              <div class="ph-newsLatter-content">
                <p>Subscribe to Weekly - Get five biggest headlines in blockchain straight to your
                inbox</p>
                <div class="ph-search-bar">
                  <input type="text" name="newslatter" placeholder="Enter Email Id">
                  <a href="javascript:;" class="ph-search-icon"><i class="fa-solid fa-paper-plane"></i></a>
                </div>
              </div>
            </div>
            <div class="ph-socialmedia-blog">
              <ul>
                <li>
                  <a href="javascript:;"><i class="fa-brands fa-facebook-f"></i></a>
                  <p>145k</p>
                  <h6>Likes</h6>
                </li>
                <li>
                  <a href="javascript:;"><i class="fa-brands fa-twitter"></i></a>
                  <p>145k</p>
                  <h6>Likes</h6>
                </li>
                <li>
                  <a href="javascript:;"><i class="fa-brands fa-linkedin-in"></i></a>
                  <p>145k</p>
                  <h6>Likes</h6>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- main blog end -->
  <!-- Middle Content End -->

  <!-- footer Sec start -->
  <%= render partial: 'footer' %>
  <!-- footer sec end -->
</div>

<!-- Modal -->
<%= render partial: 'hire_developer' %>
<%= render partial: 'have_a_project' %>