<title>Protonshub | Press Release</title>
<div class="ph-main-wrapper">
  <!-- Header start -->
  <%= render partial: 'header' %>
  <!-- Header end -->

  <!-- Middle Content Start -->
  <!-- Blog Banner start -->
  <section class="ph-pressRelease-sec">
    <div class="container">
      <div class="ph-OurTeam-content">
        <div class="row align-items-center">
          <div class="col-xxl-6 col-xl-6 col-md-10 mx-auto">
            <div class="ph-heading-title text-center">
              <h1>Press <span>Release</span></h1>
              <p>Learn about the most recent events, promotions, news, and much more.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Blog Banner End -->

  <!-- Main blog start -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-xxl-9 col-xl-8 col-md-8">
          <div class="row">
            <div class="col-xxl-12">
              <div class="mb-4">
                <h2 class="text-start">Our Press Release</h2>
              </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
              <div class="ph-blog-box">
                <div class="ph-blog-img">
                  <a href="javascript:;">
                    <img src="assets/press1.png" alt="blog-images">
                  </a>
                </div>
                <div class="ph-blog-text">
                  <h6>March 4,2022</h6>
                  <a href="javascript:;" class="ph-blog-title">Protonshub the Journey to Excellance</a>
                  <p>When you have a Common Dream, Goals and Vision what you Craft is – “Protonshub Technologies”.</p>
                  <%= link_to press_release_detail_path, class: "ph-read-more" do %>
                    Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
              <div class="ph-blog-box">
                <div class="ph-blog-img">
                  <a href="javascript:;">
                    <img src="assets/press1.png" alt="blog-images">
                  </a>
                </div>
                <div class="ph-blog-text">
                  <h6>March 4,2022</h6>
                  <a href="javascript:;" class="ph-blog-title">Protonshub the Journey to Excellance</a>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  <%= link_to press_release_detail_path, class: "ph-read-more" do %>
                    Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
              <div class="ph-blog-box">
                <div class="ph-blog-img">
                  <a href="javascript:;">
                    <img src="assets/press1.png" alt="blog-images">
                  </a>
                </div>
                <div class="ph-blog-text">
                  <h6>March 4,2022</h6>
                  <a href="javascript:;" class="ph-blog-title">Protonshub the Journey to Excellance</a>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  <%= link_to press_release_detail_path, class: "ph-read-more" do %>
                    Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
              <div class="ph-blog-box">
                <div class="ph-blog-img">
                  <a href="javascript:;">
                    <img src="assets/press1.png" alt="blog-images">
                  </a>
                </div>
                <div class="ph-blog-text">
                  <h6>March 4,2022</h6>
                  <a href="javascript:;" class="ph-blog-title">Protonshub the Journey to Excellance</a>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  <%= link_to press_release_detail_path, class: "ph-read-more" do %>
                    Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
              <div class="ph-blog-box">
                <div class="ph-blog-img">
                  <a href="javascript:;">
                    <img src="assets/press1.png" alt="blog-images">
                  </a>
                </div>
                <div class="ph-blog-text">
                  <h6>March 4,2022</h6>
                  <a href="javascript:;" class="ph-blog-title">Protonshub the Journey to Excellance</a>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  <%= link_to press_release_detail_path, class: "ph-read-more" do %>
                    Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
              <div class="ph-blog-box">
                <div class="ph-blog-img">
                  <a href="javascript:;">
                    <img src="assets/press1.png" alt="blog-images">
                  </a>
                </div>
                <div class="ph-blog-text">
                  <h6>March 4,2022</h6>
                  <a href="javascript:;" class="ph-blog-title">Protonshub the Journey to Excellance</a>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  <%= link_to press_release_detail_path, class: "ph-read-more" do %>
                    Read More <i class="fa-solid fa-arrow-right ms-2"></i>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="ph-pgination-nav">
                <ul class="pagination">
                  <li class="page-item disabled"><a class="page-link">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:;">1</a></li>
                  <li class="page-item active" aria-current="page"><a class="page-link" href="javascript:;">2</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:;">3</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:;">4</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:;">5</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:;">Next</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-4">
          <div class="ph-blog-sidebar">
            <div class="ph-topSocial-media text-end">
              <p>Share this article</p>
              <ul>
                <li> <a href="javascript:;"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li> <a href="javascript:;"><i class="fa-brands fa-linkedin-in"></i></a></li>
                <li> <a href="javascript:;"><i class="fa-brands fa-twitter"></i></a></li>
                <li> <a href="javascript:;"><i class="fa-brands fa-pinterest-p"></i></a></li>
                <li> <a href="javascript:;"><i class="fa-brands fa-instagram"></i></a></li>
              </ul>
            </div>
            <div class="ph-trending-blog">
              <h5>Our Press Release <i class="fa-solid fa-arrow-trend-up"></i></h5>
              <div class="ph-thumbnail-box">
                <div class="ph-thumbnail-img">
                  <img src="assets/thumbnail.jpg">
                </div>
                <div class="ph-thumbnail-content">
                  <h6>10 January, 2023</h6>
                  <p>How Technology Is Transforming The Logistics Business?</p>
                </div>
              </div>
              <div class="ph-thumbnail-box">
                <div class="ph-thumbnail-img">
                  <img src="assets/thumbnail.jpg">
                </div>
                <div class="ph-thumbnail-content">
                  <h6>10 January, 2023</h6>
                  <p>How Technology Is Transforming The Logistics Business?</p>
                </div>
              </div>
              <div class="ph-thumbnail-box">
                <div class="ph-thumbnail-img">
                  <img src="assets/thumbnail.jpg">
                </div>
                <div class="ph-thumbnail-content">
                  <h6>10 January, 2023</h6>
                  <p>How Technology Is Transforming The Logistics Business?</p>
                </div>
              </div>
              <div class="ph-explore-more mb-3">
                <a href="javascript:;">View All<i class="fa-solid fa-arrow-right ms-2"></i></a>
              </div>
            </div>
            <div class="ph-newletter-blog">
              <h6 class="ph-newLatter-heading">Newsletter</h6>
              <div class="ph-newsLatter-content">
                <p>Subscribe to Weekly - Get five biggest headlines in blockchain straight to your inbox</p>
                <div class="ph-search-bar">
                  <input type="text" name="newslatter" placeholder="Enter Email Id">
                  <a href="javascript:;" class="ph-search-icon"><i class="fa-solid fa-paper-plane"></i></a>
                </div>
              </div>
            </div>
            <div class="ph-socialmedia-blog">
              <ul>
                <li>
                  <a href="javascript:;"><i class="fa-brands fa-facebook-f"></i></a>
                  <p>145k</p>
                  <h6>Likes</h6>
                </li>
                <li>
                  <a href="javascript:;"><i class="fa-brands fa-twitter"></i></a>
                  <p>145k</p>
                  <h6>Likes</h6>
                </li>
                <li>
                  <a href="javascript:;"><i class="fa-brands fa-linkedin-in"></i></a>
                  <p>145k</p>
                  <h6>Likes</h6>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- main blog end -->
  <!-- Middle Content End -->

  <!-- footer Sec start -->
  <%= render partial: 'footer' %>
  <!-- footer sec end -->
</div>

<!-- Modal -->
<%= render partial: 'hire_developer' %>