<title>Protonshub | Product Development</title>
<div class="ph-main-wrapper">
  <!-- Header start -->
  <%= render partial: 'header' %>
  <!-- Header end -->

  <!-- Middle Content Start -->
  <!-- Dedicated Development  start -->
  <section class="ph-app-develop-sec ph-uiux-sec">
    <div class="container">
      <div class="ph-OurTeam-content">
        <div class="row align-items-center">
          <div class="col-xxl-6 col-xl-8 col-lg-12 col-md-12 col-sm-12">
            <div class="ph-heading-title">
              <!-- <h6 class="ph-banner-tiltle">#Hire The Top Dedicated Developer </h6> -->
              <h1>Are you looking for a Product Development Company?</h1>
              <p>In the last 5 years Protonshub has helped 100’s of Businesses across the glove </p>
              <div class="ph-banner-btn mt-4">
                <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn remove-errors">Consult Us<i class="fa-solid fa-arrow-right ms-2"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Dedicated Development End -->

  <!-- client slider start-->
  <section class="ph-our-client-sec">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xxl-9 col-xl-10 col-lg-12 col-md-12 col-sm-12 mx-auto">
          <div class="ph-boxlogo-shadow">
            <div class="ph-ourClient-logo ph-ourClient-dedicated mt-0">
              <div class="swiper ph-mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <%= image_tag "colgate.svg" %>
                    </div>
                  <div class="swiper-slide">
                    <%= image_tag "g2-org.svg" %>
                    </div>
                  <div class="swiper-slide">
                    <%= image_tag "henkel-org.svg" %>
                    </div>
                  <div class="swiper-slide">
                    <%= image_tag "stage.svg" %>
                    </div>
                  <div class="swiper-slide">
                    <%= image_tag "mahindra-org.svg" %>
                    </div>
                  <div class="swiper-slide">
                    <%= image_tag "manyvaar.svg" %>
                    </div>
                  <div class="swiper-slide">
                    <%= image_tag "honey.svg" %>
                    </div>
                </div>
              </div>
            </div>
            <div class="ph-client-shadow">
              <%= image_tag "ph-qoute-shadow.svg" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- client slider end -->

  <section class="ph-experience-sec ph-bg-color">
    <div class="container">
      <div class="row">
        <div class="col-xxl-9 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Protonshub is India's most Unique & Innovative Product Development Company</h1>
            <p>
              Protonshub is India's most Unique and Innovative product development company in India that works with Enterprises, SME’s and startup founders to transform their digital decision-making regarding their new product development needs.
            </p>
          </div>
        </div>
      </div>
      <div class="ph-hireExp-sec">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="ph-mobileApp-img">
              <%= image_tag "web-responsive-design.webp", class: "ph-app-top shadow-none" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="ph-app-content">
              <h4>Accelerate Time to Market and Profit</h4>
              <p>With more than 5 plus years of development experience Protonshub has developed niche skills in software product engineering, where we bring together the Innovation, expertise, Development and operating models in technology required to design, architect, develop and support your product life cycle through empowered and robust delivery, quickest time to market, with most cost effective option in global competitive markets.
              </p>
              <p>We are one of the most trusted and reliable technology partners crafting solutions right from ideation to final delivery and standing with our clients shoulder to shoulder and strength to strength with all your go to market strategies.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ui ux wireframe start  -->
  <section class="uiux-wireframe-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-6 col-xl-8 col-lg-10 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Our Product Development Capabilities</h1>
            <p>Transforming Software Portfolios with Our Product Engineering Services
            </p>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="ph-wirframe-box">
              <div class="ph-wireframe-inner">
                <h6>Product Development</h6>
                <p>If you have an idea that can be a game changer but don't know how to develop it,
                  what to do next. Our Team of Product Developers will help you find the right mix
                  of consultation, SOW, Budgeting and Time Bound Delivery at the quickest time to
                  market.
                </p>
              </div>
              <div class="ph-wireframe-inner">
                <h6>MVP Development</h6>
                <p>We can deliver Minimum Viable Product (MVP) in a record 21 days by mobilization
                  of the most trusted and dedicated team of developers. Let us handle the
                  technical crust and troughs and you focus on the business growth and revenue
                generation.</p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="ph-wireframe-img">
              <%= image_tag "ideal-img.webp" %>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="ph-wirframe-box">
              <div class="ph-wireframe-inner">
                <h6>Software Maintenance</h6>
                <p>We not only develop the products, in fact we play a pivotal role in maintaining,
                  monitoring, and supporting your product as you focus on the next level of
                customer acquisition.</p>
              </div>
              <div class="ph-wireframe-inner">
                <h6>Dedicated product Teams
                </h6>
                <p>Finding it difficult to scale up your product development team to meet the
                  exceeding demand of your product development ? We can help you to set up a
                  dedicated or extended product development team.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ui ux wireframe end -->

  <!-- process start -->
  <section class="ph-our-innovative-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-8 col-xl-10 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Our Product Development Process</h1>
            <p>Our 5+ years of experience in software product engineering allowed us to fine-tune all steps of the development process. From translating requirements into actionable technical documents to proposing future updates after delivery, we have you covered at each step
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="ph-process-sec">
          <div class="ph-process-in">
            <div class="ph-process-inner">
              <div class="ph-count-no">
                <h2>1</h2>
              </div>
              <div class="ph-outer-in">
                <div class="ph-picon-box">
                  <%= image_tag "analysis.svg" %>
                </div>
              </div>
              <h6>Discovery</h6>
            </div>
            <div class="ph-process-inner">
              <div class="ph-count-no">
                <h2>2</h2>
              </div>
              <div class="ph-outer-in border-color1">
                <div class="ph-picon-box icon-bg1">
                  <%= image_tag "analysis.svg" %>
                </div>
              </div>
              <h6>Design and
              Build</h6>
            </div>
            <div class="ph-process-inner">
              <div class="ph-count-no">
                <h2>3</h2>
              </div>
              <div class="ph-outer-in border-color2">
                <div class="ph-picon-box icon-bg2">
                  <%= image_tag "analysis.svg" %>
                </div>
              </div>
              <h6>Sprint Development</h6>
            </div>
            <div class="ph-process-inner">
              <div class="ph-count-no">
                <h2>4</h2>
              </div>
              <div class="ph-outer-in border-color3">
                <div class="ph-picon-box icon-bg3">
                  <%= image_tag "analysis.svg" %>
                </div>
              </div>
              <h6>Sprint Dry Run</h6>
            </div>
            <div class="ph-process-inner">
              <div class="ph-count-no">
                <h2>5</h2>
              </div>
              <div class="ph-outer-in border-color4">
                <div class="ph-picon-box icon-bg4">
                  <%= image_tag "analysis.svg" %>
                </div>
              </div>
              <h6>Test and Debug </h6>
            </div>
            <div class="ph-process-inner">
              <div class="ph-count-no">
                <h2>6</h2>
              </div>
              <div class="ph-outer-in border-color5">
                <div class="ph-picon-box icon-bg5">
                  <%= image_tag "analysis.svg" %>
                </div>
              </div>
              <h6>Launch</h6>
            </div>
            <div class="ph-process-inner">
              <div class="ph-count-no">
                <h2>7</h2>
              </div>
              <div class="ph-outer-in border-color6">
                <div class="ph-picon-box icon-bg6">
                  <%= image_tag "analysis.svg" %>
                </div>
              </div>
              <h6>Maintenance & Enhancements</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- process end -->

  <!-- pdevelop start -->
  <section class="ph-choose-sec ph-bg-color">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="ph-hireprice-box">
            <h1>Why Protonshub for Product Development?</h1>
            <div class="row">
              <div class="col-md-12">
                <ul>
                  <li>Singular focus on Automation Driver Development</li>
                  <li>Proven record of most reliable and trusted Development methodologies</li>
                  <li>Easy and hassle free engagement models</li>
                  <li>Fastest to go-to-market</li>
                  <li>Most Cost effective development </li>
                  <li>Backed up by High class digital marketing strategies</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="ph-choose-img text-end">
            <%= image_tag "choose-about.webp" %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- pdevelop end -->

  <section class="ph-experience-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-8 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Segments we Develop for</h1>
            <p>
              Protonshub is India's most Unique and Innovative product development company in India that works with Enterprises, SME’s and startup founders to transform their digital decision-making regarding their new product development needs.
            </p>
          </div>
        </div>
      </div>
      <div class="ph-hireExp-sec">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="ph-mobileApp-img">
              <%= image_tag "pe-expertise-product.webp" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="ph-app-content">

              <div class="ph-app-inner-content">
                <h6><span><i class="fa-solid fa-circle-check"></i></span> Healthcare</h6>
                <p>Assisting HealthTech industry to enhance their capabilities to treat patients better & with ease via functionally accurate & future ready healthcare products.. <a href="javascript:;">read more</a>
                </p>
                <h6><span><i class="fa-solid fa-circle-check"></i></span> Edtech</h6>
                <p>Helping EdTech giants in modernizing their existing portfolios and developing new products with the right fit of technologies.. <a href="javascript:;">read more</a>
                </p>
                <h6><span><i class="fa-solid fa-circle-check"></i></span> Food</h6>
                <p>In order to serve the hotel, restaurant, FMC industries, Protonshub a food delivery app developer in India focuses on creating food tech software.. <a href="javascript:;">read more</a>
                </p>
                <h6><span><i class="fa-solid fa-circle-check"></i></span> Logistics and Transport</h6>
                <p>With ever- changing dynamics of the transportation and logistics industry which is highly competitive, fast-moving and volatile automation.. <a href="javascript:;">read more</a>
                </p>
                <h6><span><i class="fa-solid fa-circle-check"></i></span> Fintech</h6>
                <p>Enabling FinTech companies in developing and modernizing their enterprise and user facing products to deliver seamless experience.. <a href="javascript:;">read more</a>
                </p>
                <h6><span><i class="fa-solid fa-circle-check"></i></span> Entertainment</h6>
                <p>Assists the entertainment industry in winning an edge over the current competitive market.
                <a href="javascript:;">read more</a>
                </p>
                <h6><span><i class="fa-solid fa-circle-check"></i></span> Agritech</h6>
                <p>Providing highly innovative agriculture software to help farmers run their businesses more efficiently.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Get Connect sec -->
  <section class="ph-getconnect-sec">
    <div class="container">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 mx-auto">
        <div class="row align-items-center">
          <div class="col-md-8 col-sm-6">
            <div class="ph-getconnect-content">
              
              <h1>Let us Design and Build your Idea into Product </h1>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="ph-getconnect-btn">
              <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn remove-errors  ph-btn-white">Connect Now<i class="fa-solid fa-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Get Connect sec -->
  <!-- Middle Content End -->

  <!-- footer Sec start -->
  <%= render partial: 'footer' %>
  <!-- footer sec end -->
</div>

<!-- Modal -->
<%= render partial: 'hire_developer' %>
<%= render partial: 'have_a_project' %>