<title>Protonshub | React Native</title>
<div class="ph-main-wrapper">
  <!-- Header start -->
  <%= render partial: 'header' %>
  <!-- Header end -->

  <!-- Middle Content Start -->
  <!-- Reactjs Development  start -->
  <section class="ph-rectjs-sec ph-reactNative-sec">
    <div class="container">
      <div class="ph-OurTeam-content">
        <div class="row align-items-center">
          <div class="col-md-6 col-sm-6">
            <div class="ph-heading-title">
              <!-- <h6 class="ph-banner-tiltle">Hire React Native Developers</h6> -->
              <h1>Outsource React Native Developer</h1>
              <p><span><a href="javascript:;">Hire React Native developers</a></span> as they cater to
              their specific needs to accomplish the goals of the customers' projects. </p>
              <p>Save up to 40% on Development/Maintenance/Support Cost</p>
              <div class="ph-banner-btn mt-4">
                <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn">Consult Us <i class="fa-solid fa-arrow-right ms-2"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="ph-reactjs-box">
              <ul>
                <li>
                  <%= image_tag "iso-icon.svg" %>
                </li>
                <li>
                  <%= image_tag "react-icon.svg" %>
                </li>
                <li>
                  <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="100" height="100" rx="8" fill="#75B94A" />
                    <path d="M75.4149 36.6983C72.5825 36.6983 70.291 39.0217 70.291 41.8893V60.2892C70.291 61.667 70.8308 62.9884 71.7918 63.9627C72.7527 64.9369 74.0559 65.4843 75.4149 65.4843C76.7738 65.4843 78.0771 64.9369 79.038 63.9627C79.9989 62.9884 80.5387 61.667 80.5387 60.2892V41.8893C80.5387 39.0217 78.2472 36.6983 75.4149 36.6983V36.6983ZM24.5848 36.6983C21.7525 36.6983 19.4609 39.0217 19.4609 41.8893V60.2892C19.4609 61.667 20.0008 62.9884 20.9617 63.9627C21.9226 64.9369 23.2259 65.4843 24.5848 65.4843C25.9437 65.4843 27.247 64.9369 28.2079 63.9627C29.1688 62.9884 29.7087 61.667 29.7087 60.2892V41.8893C29.7092 41.2071 29.577 40.5315 29.3196 39.9012C29.0623 39.2709 28.6848 38.6983 28.2089 38.2161C27.7329 37.7339 27.1678 37.3517 26.5459 37.0912C25.9241 36.8308 25.2576 36.6973 24.5848 36.6983V36.6983ZM60.1955 21.227L63.2722 15.5892C63.3622 15.4287 63.4197 15.2517 63.4416 15.0684C63.4635 14.8851 63.4492 14.6993 63.3996 14.5217C63.3501 14.3441 63.2662 14.1782 63.1528 14.0337C63.0395 13.8893 62.899 13.7691 62.7394 13.6802C62.5803 13.5892 62.405 13.5312 62.2236 13.5096C62.0422 13.4879 61.8584 13.5031 61.6828 13.5541C61.5072 13.6051 61.3434 13.691 61.2009 13.8068C61.0583 13.9226 60.9399 14.0659 60.8525 14.2285L57.6917 19.9962C55.336 19.0417 52.7401 18.5015 49.9998 18.5015C47.2596 18.5015 44.6636 19.0377 42.308 19.9922L39.1472 14.2326C39.0598 14.07 38.9413 13.9266 38.7988 13.8108C38.6563 13.6951 38.4924 13.6092 38.3169 13.5581C38.1413 13.5071 37.9575 13.492 37.7761 13.5136C37.5947 13.5353 37.4194 13.5933 37.2603 13.6842C37.1015 13.7739 36.9618 13.8945 36.849 14.0391C36.7363 14.1837 36.6528 14.3493 36.6033 14.5267C36.5538 14.704 36.5393 14.8895 36.5606 15.0725C36.5819 15.2555 36.6386 15.4325 36.7275 15.5933L39.8042 21.231C34.2637 24.4317 30.562 30.1548 30.562 36.6983C30.562 36.743 30.562 36.7836 30.57 36.8364C30.562 36.8608 30.562 36.8892 30.562 36.9136V36.9177H69.4337V36.6983C69.4377 30.1548 65.736 24.4358 60.1955 21.227V21.227ZM41.0261 29.2206C40.8438 29.2192 40.6635 29.1815 40.4956 29.1096C40.3277 29.0376 40.1754 28.9328 40.0474 28.8012C39.789 28.5353 39.6453 28.1763 39.6479 27.803C39.6506 27.4297 39.7994 27.0728 40.0616 26.8108C40.3238 26.5488 40.6779 26.4031 41.0461 26.4058C41.4142 26.4084 41.7663 26.5593 42.0247 26.8252C42.2832 27.091 42.4269 27.4501 42.4242 27.8233C42.4216 28.1966 42.2728 28.5535 42.0106 28.8155C41.7483 29.0776 41.3942 29.2233 41.0261 29.2206ZM58.9736 29.2206C58.6242 29.1936 58.2977 29.0339 58.0595 28.7733C57.8213 28.5127 57.689 28.1705 57.689 27.8152C57.689 27.4599 57.8213 27.1177 58.0595 26.8571C58.2977 26.5965 58.6242 26.4368 58.9736 26.4098C59.3412 26.4098 59.6938 26.5579 59.9538 26.8214C60.2137 27.085 60.3598 27.4425 60.3598 27.8152C60.3598 28.1879 60.2137 28.5454 59.9538 28.809C59.6938 29.0725 59.3412 29.2206 58.9736 29.2206V29.2206ZM30.562 66.7962C30.562 69.4202 32.6652 71.5526 35.2652 71.5526H37.6128V81.305C37.6128 82.6828 38.1527 84.0041 39.1136 84.9784C40.0745 85.9527 41.3778 86.5 42.7367 86.5C44.0956 86.5 45.3989 85.9527 46.3598 84.9784C47.3207 84.0041 47.8606 82.6828 47.8606 81.305V71.5526H52.1311V81.305C52.1311 84.1766 54.4226 86.4959 57.247 86.4959C60.0873 86.4959 62.3789 84.1766 62.3789 81.305V71.5526H64.7265C67.3224 71.5526 69.4297 69.4242 69.4297 66.7962V37.99H30.562V66.7962Z" fill="white" />
                  </svg>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- React Development End -->

  <!-- experience start -->
  <section class="ph-experience-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-10 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Our Top-Notch React Native Development Services</h1>
            <p>
              Hire knowledgeable <span><a href="javascript;"> React Native app developers</a></span> from Protonshub to incorporate any popular React Native technology you depend on, like VSCode, Expo, Enzyme, ESLint, Flow, and Reactotron. We make use of sophisticated frameworks like Nativebase and Ignite, as well as MobX, Animatable, and React Navigation libraries.
            </p>
            <p>To align the project with your varied business requirements, we take a customer-centric approach. You will also have a flexible model of engagement when you hire top <span><a href="javascript:">React Native App developers</a></span> from a <span><a href="javascript:;">React Native development company.</a></span> The fundamental reason we are regarded as the top <span><a href="javascript:;">React Native app development company</a></span> is our consistency in doing thorough quality checks at each stage of the creation of hybrid apps. </p>
          </div>
          <div class="ph-banner-btn my-2 text-center">
            <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn">Hire React Native Expert</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- experience end -->

  <!-- why hire start -->
  <section class="ph-uiux-company ph-bg-color">
    <div class="container">
      <div class="row">
        <div class="col-xxl-10 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Why Hire React Native Developers From Protonshub?
            </h1>
            <p><span><a href="javascript:;">Hire Dedicated React Native developers</a></span> from Protonshub as they are quite knowledgeable about their techniques and how to successfully implement them in line with the intended business concept. Our frequent clients are already familiar with our React Native foundation, which they enjoy expanding upon. </p>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="ph-uiux-box ph-whyHire-box">
            <div class="ph-whyHire-icon">
              <span>
                <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19.1309 28.4967L19.0862 28.6758L16.0836 29.572C15.2321 29.8408 14.2461 32.3504 13.4844 36.2942C16.039 37.8179 18.9965 38.6247 21.9992 38.6247C22.3577 38.6247 22.761 38.6247 23.1196 38.58C25.7188 38.4009 28.3182 37.6387 30.5589 36.2945C29.7971 32.3957 28.8111 29.7964 27.9596 29.5723L24.957 28.6761L24.9123 28.4969C24.8676 28.3625 24.7779 28.2281 24.5985 28.1384L24.2399 27.9142L24.4641 27.6454C24.7329 27.3766 24.9123 27.1077 25.0018 26.9283C25.3603 26.4353 25.6291 25.8976 25.8083 25.3596C25.898 25.1355 25.9874 24.9113 26.0771 24.6875L26.1218 24.5978L26.2115 24.5531C26.4357 24.374 26.5254 24.1498 26.5254 23.881V22.9848C26.5254 22.8057 26.4807 22.6262 26.3463 22.4471L26.3015 22.3574V21.0129C26.3015 18.9963 24.6435 17.3379 22.6266 17.3379H21.3271C19.3105 17.3379 17.6521 18.996 17.6521 21.0129V22.3574L17.6074 22.4471C17.5177 22.5815 17.4283 22.8057 17.4283 22.9848V23.881C17.4283 24.1498 17.5627 24.4187 17.7422 24.5531L17.8319 24.5978L17.8766 24.6875C17.9213 24.9117 18.011 25.1358 18.1007 25.3149C18.3249 25.8526 18.5937 26.3905 18.9523 26.8836C19.1314 27.1524 19.3108 27.3766 19.49 27.6007L19.7141 27.8695L19.4002 28.0937C19.3102 28.2725 19.1758 28.3622 19.1311 28.4966L19.1309 28.4967Z" fill="#020202" />
                  <path d="M11.9612 35.3116C12.0509 34.8186 12.1853 34.3256 12.3197 33.7879C13.4401 29.172 14.6052 28.2758 15.5911 27.9619L17.2942 27.4689C17.0253 27.0207 16.7565 26.5277 16.577 26.0347C16.5323 25.9003 16.4426 25.7209 16.3979 25.5864L14.5604 25.0488L14.5157 24.8696C14.471 24.7352 14.3813 24.6008 14.2019 24.5111L13.8883 24.2422L14.1125 23.9734C14.2916 23.7493 14.471 23.5251 14.6502 23.2563C15.0087 22.7633 15.2775 22.2256 15.4567 21.7327C15.5464 21.5085 15.6358 21.2844 15.7255 21.0606L15.7702 20.9708L15.8599 20.9261C16.0841 20.747 16.1738 20.5229 16.1738 20.2541V19.3578C16.1738 19.1787 16.1291 18.9993 15.9947 18.8202L15.95 18.7304V17.3859C15.95 15.3693 14.2919 13.7109 12.275 13.7109H10.9755C8.95892 13.7109 7.30053 15.369 7.30053 17.3859V18.7304L7.25583 18.8202C7.16612 18.9546 7.07671 19.1787 7.07671 19.3578V20.2541C7.07671 20.5229 7.21113 20.7917 7.39057 20.9261L7.48028 20.9708L7.52499 21.0606C7.56969 21.2847 7.65941 21.5088 7.79383 21.688C8.01796 22.2256 8.28681 22.7636 8.64539 23.2566C8.82451 23.5255 9.00395 23.7496 9.18307 23.9737L9.40721 24.2426L9.09335 24.4667C8.91423 24.6011 8.82451 24.6909 8.7795 24.8253L8.73479 25.0044L5.7322 25.9006H5.6875C6.62845 29.665 8.86919 32.9811 11.9612 35.3117L11.9612 35.3116Z" fill="#020202" />
                  <path d="M32.977 13.6641H31.6776C29.661 13.6641 28.0026 15.3221 28.0026 17.339V18.6836L27.9579 18.7733C27.8682 18.9524 27.8235 19.1315 27.8235 19.3106V20.2069C27.8235 20.4757 27.9579 20.7445 28.1373 20.879L28.227 20.9237L28.2717 21.0134C28.3615 21.2375 28.4062 21.4616 28.4959 21.6408C28.72 22.1784 28.9889 22.7164 29.3474 23.2094C29.4819 23.3886 29.6613 23.6577 29.8851 23.9266L30.1093 24.1954L29.7954 24.4195C29.6163 24.554 29.5266 24.6437 29.4815 24.7781L29.4368 24.9572L27.5994 25.4949C27.5547 25.674 27.4649 25.8087 27.4202 25.9879C27.2411 26.4361 26.972 26.9291 26.7031 27.4221L28.4062 27.9151C29.3921 28.1839 30.5572 29.1252 31.6776 33.6514C31.812 34.1891 31.9464 34.727 32.0361 35.2647C32.9774 34.5476 33.8736 33.7411 34.6354 32.8449C36.3832 30.8283 37.6826 28.4081 38.3104 25.8538H38.2657L35.2631 24.9576L35.2184 24.7785C35.1737 24.6441 35.0839 24.5097 34.9045 24.4199L34.5903 24.2405L34.8592 23.9717C35.0383 23.7475 35.2177 23.5234 35.3969 23.2546C35.7554 22.7616 36.0243 22.2239 36.2034 21.7309C36.2931 21.5068 36.3825 21.2827 36.4722 21.0588L36.5169 20.9691L36.6066 20.9244C36.8308 20.7453 36.9205 20.5212 36.9205 20.2523V19.3561C36.9205 19.177 36.8758 18.9976 36.7414 18.8184L36.6967 18.7287V17.3842C36.652 15.3222 35.0386 13.6642 32.977 13.6642L32.977 13.6641Z" fill="#020202" />
                  <path d="M10.8392 7.435L9.45002 7.3903C12.9456 4.38771 17.3823 2.7294 21.9982 2.7294C26.614 2.7294 31.0508 4.38747 34.5463 7.38998L33.1571 7.43468L34.0087 8.24119L35.9806 8.15147L35.8909 6.22491L35.0394 5.41841L35.0841 6.80759C31.4541 3.62557 26.8381 1.92285 21.9981 1.92285C17.1581 1.92285 12.5422 3.62557 8.9122 6.76285L8.9569 5.37367L8.10534 6.22491L8.01562 8.19685L9.98756 8.28656L10.8392 7.435Z" fill="#020202" />
                  <path d="M40.1039 13.0801L39.118 13.5731C40.4174 16.2171 41.0899 19.0405 41.0899 21.9534C41.0899 32.4849 32.5303 41.0445 21.9988 41.0445C11.4673 41.0445 2.90767 32.4849 2.90767 21.9534C2.90767 19.0406 3.57976 16.2171 4.8796 13.5731L3.89367 13.0801C2.50417 15.9035 1.83203 18.8614 1.83203 21.9086C1.83203 33.0227 10.8846 42.0753 21.9987 42.0753C33.1128 42.0753 42.1654 33.0227 42.1654 21.9086C42.1654 18.8614 41.4933 15.9035 40.1037 13.0801H40.1039Z" fill="#020202" />
                </svg>
              </span>
              <span>
                <h1>01</h1>
              </span>
            </div>
            <h5>Integrity</h5>
            <p>
              As a team, our developers work together to achieve maximum results within the specified timeframe.
            </p>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="ph-uiux-box ph-whyHire-box">
            <div class="ph-whyHire-icon">
              <span>
                <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M28.8635 4.58496C23.6445 4.58496 19.3984 8.84417 19.3984 14.0803C19.3984 19.3142 23.6447 23.572 28.8635 23.572C34.0856 23.572 38.3336 19.3145 38.3336 14.0803C38.3333 8.84417 34.0854 4.58496 28.8635 4.58496M28.8635 20.7757C25.182 20.7757 22.187 17.7723 22.187 14.0801C22.187 10.3856 25.1819 7.38047 28.8635 7.38047C32.5473 7.38047 35.5448 10.3856 35.5448 14.0801C35.5448 17.7723 32.5473 20.7757 28.8635 20.7757Z" fill="#020202" />
                  <path d="M30.3403 14.0766C30.0277 13.9444 29.6343 13.8228 29.1605 13.7105V11.3543C29.6737 11.3745 30.154 11.4635 30.6026 11.6213C30.6678 11.648 30.7205 11.661 30.7598 11.661C30.8786 11.661 30.974 11.6182 31.0469 11.5324C31.1192 11.4469 31.1549 11.3515 31.1549 11.2454C31.1549 11.0479 31.0629 10.9156 30.8786 10.8498C30.3786 10.6581 29.8055 10.5495 29.1608 10.5228V9.8399C29.1608 9.75436 29.1318 9.68149 29.0724 9.62212C29.013 9.56275 28.9407 9.5332 28.8552 9.5332C28.7696 9.5332 28.6985 9.56275 28.6422 9.62212C28.587 9.68149 28.5592 9.75436 28.5592 9.8399V10.5327C28.0918 10.5723 27.692 10.688 27.3597 10.879C27.0268 11.0707 26.7772 11.3115 26.6093 11.6016C26.4413 11.8923 26.3577 12.2091 26.3577 12.5518C26.3577 12.9409 26.4599 13.2631 26.6644 13.5169C26.8673 13.7707 27.1225 13.9676 27.4292 14.1061C27.7348 14.2448 28.1112 14.3731 28.5592 14.4921V16.7687C27.9737 16.742 27.4143 16.6097 26.8811 16.3731C26.8217 16.3464 26.759 16.3334 26.6931 16.3334C26.5749 16.3334 26.4779 16.3742 26.4025 16.4575C26.327 16.5399 26.2891 16.6367 26.2891 16.7487C26.2891 16.8348 26.3147 16.9153 26.3679 16.9913C26.4199 17.0673 26.486 17.1218 26.5654 17.1545C27.1836 17.419 27.8484 17.5732 28.5592 17.6202V18.323C28.5592 18.415 28.5871 18.4874 28.6422 18.5408C28.6985 18.5937 28.7697 18.6196 28.8552 18.6196C28.9472 18.6196 29.0213 18.5912 29.077 18.5355C29.1332 18.4798 29.1605 18.4086 29.1605 18.323V17.6202C29.6155 17.594 30.0143 17.4961 30.36 17.3278C30.7058 17.1598 30.9723 16.9339 31.1602 16.6502C31.3471 16.3661 31.4413 16.0492 31.4413 15.6995C31.4413 15.2712 31.3358 14.9266 31.1256 14.6655C30.9151 14.4046 30.6529 14.2088 30.3403 14.0765M28.559 13.5616C28.1307 13.4496 27.8069 13.3143 27.5868 13.1559C27.3662 12.9975 27.2565 12.7732 27.2565 12.4825C27.2565 12.1795 27.3738 11.9333 27.6113 11.7451C27.8485 11.5571 28.1636 11.4372 28.5592 11.3838L28.559 13.5616ZM29.1605 16.769V14.6407C29.6214 14.7664 29.9684 14.8998 30.2022 15.0416C30.436 15.184 30.5528 15.3832 30.5528 15.6407C30.5528 16.3264 30.0888 16.7032 29.1606 16.769" fill="#020202" />
                  <path d="M37.7498 25.9968C37.5818 25.6366 37.2858 25.3651 36.9158 25.2303C36.5474 25.0969 36.1482 25.1152 35.7928 25.2818L25.9078 28.3868C25.6658 28.4929 25.4046 28.548 25.1359 28.548H19.2447C19.1221 28.548 19.0222 28.4484 19.0222 28.3254C19.0222 28.2028 19.1218 28.1029 19.2447 28.1029H25.1359C25.226 28.1029 25.3157 28.0953 25.4035 28.0787C25.4058 28.0781 25.4089 28.077 25.412 28.0756L25.7496 27.9701C25.9086 27.8977 26.0557 27.7967 26.1843 27.6698C26.4359 27.4129 26.5884 27.0725 26.6115 26.7154C26.6357 26.3293 26.4958 25.9531 26.2175 25.6566C25.9108 25.3302 25.4801 25.1434 25.0346 25.1434H19.5503C19.5241 25.1434 19.4979 25.1386 19.4737 25.1296L14.7115 23.3836C13.6282 22.9863 12.4945 22.7852 11.3408 22.7852H8.16406V32.2956H10.0338C10.4728 32.2956 10.8988 32.3705 11.3009 32.5173L11.7575 32.6822L21.3105 36.092C21.9014 36.2985 22.5508 36.2402 23.0908 35.9307L37.0211 27.9726C37.3793 27.8029 37.6368 27.5305 37.7806 27.1765C37.9342 26.7584 37.9154 26.3456 37.7493 25.9973" fill="#020202" />
                  <path d="M6.7598 19.7148H2.62607C2.09765 19.7148 1.66797 20.1462 1.66797 20.6763L1.66825 34.248C1.66825 34.7784 2.09763 35.2095 2.62635 35.2095H6.7598C7.28822 35.2095 7.71848 34.7781 7.71848 34.248V32.5282C7.71791 32.5251 7.71679 32.5229 7.71679 32.5192L7.71848 22.5643V20.6768C7.71848 20.1467 7.28825 19.7153 6.7598 19.7153M4.55294 33.4757C4.02085 33.4757 3.59483 33.0444 3.59483 32.5111C3.59483 31.9779 4.02084 31.5502 4.55294 31.5502C5.08446 31.5502 5.51522 31.9779 5.51522 32.5111C5.51494 33.0446 5.08443 33.4757 4.55294 33.4757Z" fill="#020202" />
                </svg>
              </span>
              <span>
                <h1>02</h1>
              </span>
            </div>

            <h5>Project Management
            </h5>
            <p>With Protonshub, you can systematize your project's success and assign it to the best developers in the industry.</p>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="ph-uiux-box ph-whyHire-box">
            <div class="ph-whyHire-icon">
              <span>
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M36.3918 11.3183L37.9571 9.75266C37.9893 9.71963 38.0077 9.6752 38.0077 9.62873C38.0077 9.58254 37.9893 9.53812 37.9571 9.50567L35.7345 7.28299C35.702 7.25084 35.6576 7.23242 35.6114 7.23242C35.5649 7.23242 35.5205 7.25084 35.4875 7.28299L33.9219 8.84829C34.8292 9.58343 35.6567 10.411 36.3919 11.3183L36.3918 11.3183Z" fill="#020202" />
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M27.8592 3.58593V4.98256C27.8592 5.02903 27.8408 5.07346 27.8077 5.10562C27.7753 5.13894 27.7309 5.15735 27.6847 5.15735H19.3037C19.2572 5.15735 19.2128 5.13894 19.1806 5.10562C19.1473 5.07346 19.1289 5.02903 19.1289 4.98256V3.58593C19.1289 3.53945 19.1473 3.49503 19.1806 3.46287C19.2128 3.42955 19.2572 3.41113 19.3037 3.41113H27.6847C27.7309 3.41113 27.7753 3.42955 27.8077 3.46287C27.8408 3.49502 27.8592 3.53945 27.8592 3.58593V3.58593Z" fill="#020202" />
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M13.934 10.3965C16.5172 8.21734 19.853 6.9043 23.4936 6.9043C31.6852 6.9043 38.3346 13.5539 38.3346 21.7453C38.3346 29.9368 31.685 36.5871 23.4936 36.5871C19.853 36.5871 16.5172 35.2741 13.934 33.095H9.5252C9.04319 33.095 8.65208 32.7039 8.65208 32.2219C8.65208 31.7401 9.04319 31.349 9.5252 31.349H12.1808C11.7148 30.7998 11.2869 30.2157 10.9028 29.6028H6.03303C5.55131 29.6028 5.16021 29.2117 5.16021 28.73C5.16021 28.248 5.55132 27.8569 6.03303 27.8569H9.96685C9.71108 27.293 9.49039 26.7099 9.30507 26.1109H4.28704C3.80503 26.1109 3.41392 25.7198 3.41392 25.2378C3.41392 24.7558 3.80503 24.3647 4.28704 24.3647H8.88265C8.78122 23.7938 8.71136 23.2107 8.67745 22.6188H2.54109C2.05908 22.6188 1.66797 22.2277 1.66797 21.7456C1.66797 21.2639 2.05908 20.8728 2.54109 20.8728H8.67745C8.71136 20.2809 8.78122 19.6987 8.88265 19.1266H4.28704C3.80503 19.1266 3.41392 18.7355 3.41392 18.2538C3.41392 17.7718 3.80503 17.3807 4.28704 17.3807H9.30507C9.49039 16.7817 9.71108 16.1986 9.96685 15.6347H6.03303C5.55131 15.6347 5.16021 15.2436 5.16021 14.7616C5.16021 14.2796 5.55132 13.8885 6.03303 13.8885H10.9028C11.2869 13.2749 11.7149 12.6918 12.1808 12.1426H9.5252C9.04319 12.1426 8.65208 11.7514 8.65208 11.2694C8.65208 10.7877 9.04319 10.3966 9.5252 10.3966L13.934 10.3965ZM23.4936 8.65023C16.2657 8.65023 10.3983 14.518 10.3983 21.7455C10.3983 28.9733 16.2657 34.8408 23.4936 34.8408C30.7211 34.8408 36.5888 28.9733 36.5888 21.7455C36.5888 14.518 30.7211 8.65023 23.4936 8.65023V8.65023ZM4.28695 33.095H6.03288C6.51489 33.095 6.906 32.7039 6.906 32.2219C6.906 31.7401 6.51489 31.349 6.03288 31.349H4.28695C3.80494 31.349 3.41383 31.7401 3.41383 32.2219C3.41383 32.7039 3.80494 33.095 4.28695 33.095ZM24.3661 10.4297C25.7995 10.5387 27.16 10.9152 28.3953 11.5089L27.1024 13.7489C26.8613 14.1663 27.0045 14.7006 27.4219 14.9415C27.839 15.1827 28.3734 15.0394 28.6142 14.622L29.9066 12.3835C31.0615 13.1763 32.0629 14.1777 32.8556 15.3326L30.6171 16.6249C30.1997 16.8658 30.0565 17.4001 30.2977 17.8173C30.5385 18.2347 31.0728 18.3779 31.4903 18.1367L33.7303 16.8439C34.3239 18.0792 34.7004 19.4396 34.8095 20.8731H32.2234C31.7417 20.8731 31.3506 21.2642 31.3506 21.7459C31.3506 22.2279 31.7417 22.619 32.2234 22.619H34.8095C34.7004 24.0524 34.3239 25.4125 33.7303 26.6478L31.4903 25.355C31.0729 25.1141 30.5385 25.2574 30.2977 25.6745C30.0565 26.0919 30.1997 26.6263 30.6171 26.8671L32.8556 28.1591C32.0629 29.3144 31.0614 30.3154 29.9066 31.1082L28.6142 28.87C28.3734 28.4526 27.8391 28.3094 27.4219 28.5503C27.0045 28.7914 26.8613 29.3257 27.1024 29.7429L28.3953 31.9832C27.16 32.5768 25.7995 32.953 24.3661 33.0624V30.4763C24.3661 29.9943 23.975 29.6032 23.4933 29.6032C23.0113 29.6032 22.6202 29.9943 22.6202 30.4763V33.0624C21.1867 32.953 19.8266 32.5768 18.5913 31.9832L19.8842 29.7429C20.125 29.3258 19.9818 28.7914 19.5647 28.5503C19.1473 28.3094 18.6129 28.4526 18.372 28.87L17.08 31.1082C15.9248 30.3154 14.9237 29.3143 14.131 28.1591L16.3691 26.8671C16.7865 26.6263 16.9298 26.092 16.6889 25.6745C16.4477 25.2574 15.9134 25.1141 15.4963 25.355L13.256 26.6478C12.6623 25.4125 12.2861 24.0524 12.1768 22.619H14.7629C15.2449 22.619 15.636 22.2279 15.636 21.7459C15.636 21.2642 15.2449 20.8731 14.7629 20.8731H12.1768C12.2861 19.4396 12.6623 18.0792 13.256 16.8439L15.4963 18.1367C15.9134 18.3779 16.4477 18.2347 16.6889 17.8173C16.9298 17.4001 16.7865 16.8658 16.3691 16.6249L14.131 15.3326C14.9237 14.1777 15.9249 13.1763 17.08 12.3835L18.372 14.622C18.6129 15.0394 19.1472 15.1827 19.5647 14.9415C19.9818 14.7006 20.125 14.1663 19.8842 13.7489L18.5913 11.5089C19.8266 10.9152 21.1867 10.5387 22.6202 10.4297V13.0157C22.6202 13.4975 23.0113 13.8886 23.4933 13.8886C23.975 13.8886 24.3661 13.4975 24.3661 13.0157V10.4297ZM22.6202 19.2761C21.6032 19.6359 20.8742 20.6067 20.8742 21.7458C20.8742 23.1915 22.0476 24.3648 23.4933 24.3648C24.6324 24.3648 25.6031 23.6358 25.963 22.6189H28.7314C29.2131 22.6189 29.6042 22.2278 29.6042 21.7458C29.6042 21.2641 29.2131 20.873 28.7314 20.873H25.963C25.6993 20.1291 25.1101 19.5389 24.3661 19.2761V16.5077C24.3661 16.026 23.975 15.6349 23.4933 15.6349C23.0113 15.6349 22.6202 16.026 22.6202 16.5077V19.2761ZM23.4933 20.873C23.975 20.873 24.3661 21.2641 24.3661 21.7458C24.3661 22.2278 23.975 22.6189 23.4933 22.6189C23.0113 22.6189 22.6202 22.2278 22.6202 21.7458C22.6202 21.2641 23.0113 20.873 23.4933 20.873ZM4.28665 12.1426H6.03258C6.51459 12.1426 6.9057 11.7514 6.9057 11.2694C6.9057 10.7877 6.51459 10.3966 6.03258 10.3966H4.28665C3.80464 10.3966 3.41353 10.7877 3.41353 11.2694C3.41353 11.7514 3.80464 12.1426 4.28665 12.1426Z" fill="#020202" />
                </svg>
              </span>
              <span>
                <h1>03</h1>
              </span>
            </div>
            <h5>Global Delivery Agent
            </h5>
            <p>Our <span> <a href="javascript:;">React Native development services</a></span> are provided on a global scale, helping our customers achieve their goals no matter where they are located. </p>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="ph-uiux-box ph-whyHire-box">
            <div class="ph-whyHire-icon">
              <span>
                <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M26.0826 6.67804C26.0826 9.3999 23.8765 11.6061 21.1546 11.6061C18.4327 11.6061 16.2266 9.3999 16.2266 6.67804C16.2266 3.95618 18.4327 1.75 21.1546 1.75C23.8765 1.75 26.0826 3.95618 26.0826 6.67804Z" fill="#202020" />
                  <path d="M25.7109 13.1455C27.4461 13.1455 28.8527 14.4313 28.8527 16.0204V17.4575H13.1445V16.0204C13.1445 14.4326 14.5511 13.1455 16.2863 13.1455H25.7109Z" fill="#202020" />
                  <path d="M14.6848 28.8538C14.6848 31.5753 12.5472 33.7819 9.91076 33.7819C7.27395 33.7819 5.13672 31.5753 5.13672 28.8538C5.13672 26.132 7.27395 23.9258 9.91076 23.9258C12.5472 23.9258 14.6848 26.132 14.6848 28.8538Z" fill="#202020" />
                  <path d="M14.8096 35.3213C16.613 35.3213 18.0741 36.7905 18.0741 38.6069V40.2493H1.75V38.6069C1.75 36.7922 3.21179 35.3213 5.01517 35.3213H14.8096Z" fill="#202020" />
                  <path d="M27.3164 10.1495C30.2501 12.1506 32.1802 15.5427 32.1802 19.3935C32.1802 20.2232 32.0835 21.0296 31.9134 21.8084C32.0038 21.8038 32.0884 21.7801 32.1802 21.7801C33.1875 21.7801 34.1421 22.0005 35.01 22.3864C35.2126 21.4219 35.3245 20.4207 35.3245 19.3935C35.3245 14.0822 32.4615 9.45822 28.2185 6.98633C28.1668 8.13439 27.8431 9.20353 27.3164 10.1501L27.3164 10.1495Z" fill="#202020" />
                  <path d="M9.82006 21.7805C9.91217 21.7805 9.99639 21.8038 10.0869 21.8088C9.91645 21.0304 9.82006 20.224 9.82006 19.3941C9.82006 15.5445 11.7498 12.1511 14.6838 10.1511C14.1555 9.20524 13.8331 8.13563 13.7825 6.98633C9.53877 9.45828 6.67578 14.0829 6.67578 19.3938C6.67578 20.4206 6.78599 21.4213 6.99028 22.3864C7.85812 22.0006 8.81279 21.7802 9.82009 21.7802L9.82006 21.7805Z" fill="#202020" />
                  <path d="M25.0428 29.7773C23.7896 30.2773 22.4285 30.5616 21.0003 30.5616C19.5722 30.5616 18.2127 30.2773 16.9579 29.7787C16.8326 30.8857 16.4799 31.9184 15.918 32.8159C17.4976 33.4304 19.2076 33.7814 21.0003 33.7814C22.7931 33.7814 24.5011 33.4304 26.082 32.8159C25.5208 31.9185 25.1684 30.8857 25.0428 29.7774V29.7773Z" fill="#202020" />
                  <path d="M36.8645 28.8538C36.8645 31.5753 34.7272 33.7819 32.0904 33.7819C29.454 33.7819 27.3164 31.5753 27.3164 28.8538C27.3164 26.132 29.454 23.9258 32.0904 23.9258C34.7272 23.9258 36.8645 26.132 36.8645 28.8538Z" fill="#202020" />
                  <path d="M37.1052 35.3213C38.8406 35.3213 40.2472 36.7905 40.2472 38.6069V40.2493H24.5391V38.6069C24.5391 36.7922 25.9454 35.3213 27.6804 35.3213H37.1052Z" fill="#202020" />
                </svg>
              </span>
              <span>
                <h1>04</h1>
              </span>
            </div>
            <h5>Experienced Ecosystem
            </h5>
            <p>We will assist you in getting the best results from your project with one of our most experienced developers. </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- why hire end -->

  <!-- hire price start -->
  <section class="ph-hirePrice-sec">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="ph-hireprice-box">
            <h1>Benefits of Hiring React Native Developers From Protonshub
            </h1>
            <p>Do you need a React Native development team or developers for your new project? Protonshub, a React <span><a href="javascript:;">Native app development company in USA,</a></span> which has many years of experience and provides creative React Native developers, has assisted numerous large organizations in achieving a high return on investment through successful project completion. </p>
            <ul>
              <li>Simple & Transparent Pricing</li>
              <li>Fully Signed NDA</li>
              <li>Code Security</li>
              <li>Easy Exit Policy</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <div class="ph-prices-box">
                <h5>Specialists In UI/UX</h5>
                <p class="ph-small-text">For Wireframing, Prototyping, Planning and Realizing your UX journeys</p>
                <div class="ph-circle-top"></div>
                <div class="ph-circle-bottom"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="ph-prices-box ph-price-color ph-plan-box-white">
                <h5>Experts In Cloud & Infrastructure</h5>
                <p class="ph-small-text">AWS, DevOps, 24×7 Monitoring & Security</p>
                <div class="ph-circle-top"></div>
                <div class="ph-circle-bottom"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="ph-prices-box ph-price-color ph-plan-box-white">
                <h5>On-Demand Resources</h5>
                <p class="ph-small-text">To meet your QA & Project Management Needs</p>
                <div class="ph-circle-top"></div>
                <div class="ph-circle-bottom"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="ph-prices-box">
                <h5>Seamless Communication</h5>
                <p>Between Your Team & Ours</p>
                <div class="ph-banner-btn mt-4">
                  <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn">Book a Call</a>
                </div>
                <div class="ph-circle-top"></div>
                <div class="ph-circle-bottom"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- hire price end -->

  <!-- paln start -->
  <section class="ph-plan-sec ph-bg-color">
    <div class="container">
      <div class="row">
        <div class="col-xxl-9 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1 class="ph-heading-title mb-3">Hire React Native Developers As Per Your Business Needs</h1>
            <p class="mb-5">
              Protonshub is the leading provider of high-end, workable arrangement models
              for custom software development. We offer the following models:
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 mx-auto">
          <div class="row">
            <div class="col-md-4">
              <div class="ph-plan-box">
                <div class="ph-plan-content">
                  <h5>Ready to Start Your Dream Project</h5>
                  <ul class="ph-dreamProject-box">
                    <li>
                      <span>
                        <%= image_tag "team-icon.svg" %>
                      </span>
                      <h6>125+ Experts</h6>
                    </li>
                    <li>
                      <span>
                        <%= image_tag "time-icon.svg" %>
                      </span>
                      <h6>Hourly Hiring</h6>
                    </li>
                    <li>
                      <span>
                        <%= image_tag "money-icon.svg" %>
                      </span>
                      <h6>Full-Time Hiring</h6>
                    </li>
                  </ul>
                </div>
                <div class="ph-circle-top"></div>
                <div class="ph-circle-bottom"></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="ph-plan-box ph-plan-box-white">
                <div class="ph-plan-content">
                  <h5>Hourly Plan</h5>
                  <h2>$20 <sub>Hourly</sub></h2>
                  <ul>
                    <li>Dedicated Developer</li>
                    <li>Pay as you go</li>
                    <li>Suitable for short-term engagement</li>
                  </ul>
                  <div class="ph-process-btn ph-plan-btn">
                    <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn">Get Started</a>
                  </div>
                </div>
                <div class="ph-circle-top"></div>
                <div class="ph-circle-bottom"></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="ph-plan-box">
                <div class="ph-plan-content">
                  <h5>Monthly Plan</h5>
                  <h2>$2400 <sub>Monthly</sub></h2>
                  <ul>
                    <li>Suitable for long-term engage</li>
                    <li>Dedicated team of developers, Scrum Master, QAs & architects</li>
                    <li>160 hours per month</li>
                  </ul>
                  <div class="ph-process-btn ph-plan-btn">
                    <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn">Get Started</a>
                  </div>
                </div>
                <div class="ph-circle-top"></div>
                <div class="ph-circle-bottom"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- plan end -->

  <!-- Hire Dedicated start-->
  <section class="ph-dedicated-dp-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-8 col-xl-10 col-md-12 col-lg-12 col-sm-12 mx-auto">
          <div class="ph-heading-title ph-hire-title">
            <h1>Expertise of Our React Native Developer
            </h1>
            <p>
              Our React Native developers never miss a technological advancement and deliver effective results from analysis to final launch.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="ph-expertise-box">
            <div class="ph-dash-box">
              <span>
                <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M26.0826 6.67804C26.0826 9.3999 23.8765 11.6061 21.1546 11.6061C18.4327 11.6061 16.2266 9.3999 16.2266 6.67804C16.2266 3.95618 18.4327 1.75 21.1546 1.75C23.8765 1.75 26.0826 3.95618 26.0826 6.67804Z" fill="#fff" />
                  <path d="M25.7109 13.1455C27.4461 13.1455 28.8527 14.4313 28.8527 16.0204V17.4575H13.1445V16.0204C13.1445 14.4326 14.5511 13.1455 16.2863 13.1455H25.7109Z" fill="#fff" />
                  <path d="M14.6848 28.8538C14.6848 31.5753 12.5472 33.7819 9.91076 33.7819C7.27395 33.7819 5.13672 31.5753 5.13672 28.8538C5.13672 26.132 7.27395 23.9258 9.91076 23.9258C12.5472 23.9258 14.6848 26.132 14.6848 28.8538Z" fill="#fff" />
                  <path d="M14.8096 35.3213C16.613 35.3213 18.0741 36.7905 18.0741 38.6069V40.2493H1.75V38.6069C1.75 36.7922 3.21179 35.3213 5.01517 35.3213H14.8096Z" fill="#fff" />
                  <path d="M27.3164 10.1495C30.2501 12.1506 32.1802 15.5427 32.1802 19.3935C32.1802 20.2232 32.0835 21.0296 31.9134 21.8084C32.0038 21.8038 32.0884 21.7801 32.1802 21.7801C33.1875 21.7801 34.1421 22.0005 35.01 22.3864C35.2126 21.4219 35.3245 20.4207 35.3245 19.3935C35.3245 14.0822 32.4615 9.45822 28.2185 6.98633C28.1668 8.13439 27.8431 9.20353 27.3164 10.1501L27.3164 10.1495Z" fill="#fff" />
                  <path d="M9.82006 21.7805C9.91217 21.7805 9.99639 21.8038 10.0869 21.8088C9.91645 21.0304 9.82006 20.224 9.82006 19.3941C9.82006 15.5445 11.7498 12.1511 14.6838 10.1511C14.1555 9.20524 13.8331 8.13563 13.7825 6.98633C9.53877 9.45828 6.67578 14.0829 6.67578 19.3938C6.67578 20.4206 6.78599 21.4213 6.99028 22.3864C7.85812 22.0006 8.81279 21.7802 9.82009 21.7802L9.82006 21.7805Z" fill="#fff" />
                  <path d="M25.0428 29.7773C23.7896 30.2773 22.4285 30.5616 21.0003 30.5616C19.5722 30.5616 18.2127 30.2773 16.9579 29.7787C16.8326 30.8857 16.4799 31.9184 15.918 32.8159C17.4976 33.4304 19.2076 33.7814 21.0003 33.7814C22.7931 33.7814 24.5011 33.4304 26.082 32.8159C25.5208 31.9185 25.1684 30.8857 25.0428 29.7774V29.7773Z" fill="#fff" />
                  <path d="M36.8645 28.8538C36.8645 31.5753 34.7272 33.7819 32.0904 33.7819C29.454 33.7819 27.3164 31.5753 27.3164 28.8538C27.3164 26.132 29.454 23.9258 32.0904 23.9258C34.7272 23.9258 36.8645 26.132 36.8645 28.8538Z" fill="#fff" />
                  <path d="M37.1052 35.3213C38.8406 35.3213 40.2472 36.7905 40.2472 38.6069V40.2493H24.5391V38.6069C24.5391 36.7922 25.9454 35.3213 27.6804 35.3213H37.1052Z" fill="#fff" />
                </svg>
              </span>
            </div>
            <p>Experienced developers who have handled a minimum of 5 projects
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ph-expertise-box">
            <div class="ph-dash-box">
              <span>
                <svg width="49" height="48" viewBox="0 0 49 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M44.012 4.75424H3.99531C2.88366 4.75424 2.00391 5.63432 2.00391 6.74564V33.8866C2.00391 34.9518 2.88399 35.8319 3.99531 35.8319H20.0668V39.4445H16.5005C15.9448 39.4445 15.5277 39.9078 15.5277 40.4173V42.2697C15.5277 42.8254 15.9909 43.2425 16.5005 43.2425H31.4604C32.0161 43.2425 32.4332 42.8258 32.4332 42.2697V40.4173C32.4332 39.8616 32.0164 39.4445 31.4604 39.4445H27.894V35.8319H44.0119C45.077 35.8319 46.0033 34.9518 46.0033 33.8866L46.0039 6.74564C46.0039 5.68014 45.1238 4.75391 44.0125 4.75391L44.012 4.75424ZM24.0037 33.7478C23.2625 33.7478 22.6141 33.1456 22.6141 32.3583C22.6141 31.6171 23.2163 30.9687 24.0037 30.9687C24.791 30.9687 25.3932 31.5709 25.3932 32.3583C25.3467 33.1456 24.7448 33.7478 24.0037 33.7478ZM42.8541 28.9308H5.1532V7.90353H42.9004L42.9008 28.9308H42.8541Z" fill="white" />
                  <path d="M22.8445 10.5H12.1919C12.053 10.5 11.9141 10.6389 11.9141 10.7778V16.8917C11.9141 17.0306 12.053 17.1695 12.1919 17.1695H22.8908C23.0297 17.1695 23.1687 17.0306 23.1687 16.8917L23.169 10.7778C23.1225 10.6389 23.0297 10.5 22.8446 10.5H22.8445Z" fill="white" />
                  <path d="M35.8133 19.7148H25.1607C25.0217 19.7148 24.8828 19.8538 24.8828 19.9927V26.1065C24.8828 26.2454 25.0217 26.3844 25.1607 26.3844H35.8596C35.9985 26.3844 36.1374 26.2454 36.1374 26.1065V19.9927C36.0912 19.8072 35.9985 19.7148 35.8134 19.7148H35.8133Z" fill="white" />
                  <path d="M35.8133 15.1289H25.1607C25.0217 15.1289 24.8828 15.2678 24.8828 15.4068V16.9352C24.8828 17.0741 25.0217 17.213 25.1607 17.213H35.8596C35.9985 17.213 36.1374 17.0741 36.1374 16.9352V15.4068C36.0912 15.2216 35.9985 15.1289 35.8134 15.1289H35.8133Z" fill="white" />
                  <path d="M35.8133 10.543H25.1607C25.0217 10.543 24.8828 10.6819 24.8828 10.8208V12.3492C24.8828 12.4882 25.0217 12.6271 25.1607 12.6271H35.8596C35.9985 12.6271 36.1374 12.4882 36.1374 12.3492V10.8208C36.0912 10.6357 35.9985 10.543 35.8134 10.543H35.8133Z" fill="white" />
                  <path d="M12.1919 21.7521H22.8908C23.0297 21.7521 23.1687 21.6132 23.1687 21.4742V19.9458C23.1687 19.8069 23.0297 19.668 22.8908 19.668H12.1919C12.053 19.668 11.9141 19.8069 11.9141 19.9458V21.4742C11.9141 21.6597 12.0068 21.7521 12.1919 21.7521Z" fill="white" />
                  <path d="M12.1919 26.3341H22.8908C23.0297 26.3341 23.1687 26.1952 23.1687 26.0563V24.5278C23.1687 24.3889 23.0297 24.25 22.8908 24.25H12.1919C12.053 24.25 11.9141 24.3889 11.9141 24.5278V26.0563C11.9141 26.2414 12.0068 26.3341 12.1919 26.3341Z" fill="white" />
                </svg>
              </span>
            </div>
            <p>Global project handling experience
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ph-expertise-box">
            <div class="ph-dash-box">
              <span>
                <svg width="49" height="48" viewBox="0 0 49 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19.3275 20.4688H2.00391V24.3252H19.3275V20.4688ZM13.3828 22.8357H3.92216C3.68418 22.8357 3.48691 22.6384 3.48691 22.4004C3.48691 22.1624 3.68418 21.9652 3.92216 21.9652H13.3828C13.6208 21.9652 13.818 22.1624 13.818 22.4004C13.818 22.6384 13.6277 22.8357 13.3828 22.8357ZM17.4093 22.8357H15.6C15.3621 22.8357 15.1648 22.6384 15.1648 22.4004C15.1648 22.1624 15.3621 21.9652 15.6 21.9652H17.4093C17.6473 21.9652 17.8445 22.1624 17.8445 22.4004C17.8445 22.6384 17.6473 22.8357 17.4093 22.8357Z" fill="white" />
                  <path d="M23.0398 21.7734C22.9308 21.7734 22.8222 21.8141 22.7474 21.8959C22.5842 22.059 22.5842 22.3242 22.7474 22.4877C22.9105 22.6508 23.1757 22.6508 23.3392 22.4877C23.5023 22.3245 23.5023 22.0593 23.3392 21.8959C23.2509 21.821 23.1488 21.7734 23.0398 21.7734Z" fill="white" />
                  <path d="M25.7625 20.4688H20.7227V24.3252H25.7625V20.4688ZM24.3136 23.4682C24.2592 23.5227 24.1981 23.5431 24.1301 23.5431C24.0622 23.5431 23.9942 23.5158 23.9466 23.4682L23.491 23.0126C23.3483 23.0875 23.2055 23.1419 23.0489 23.1419C22.8109 23.1419 22.5661 23.0536 22.3822 22.8698C22.0149 22.5025 22.0149 21.9041 22.3822 21.5368C22.7361 21.183 23.3548 21.183 23.7152 21.5368C24.0146 21.8362 24.0553 22.2849 23.8649 22.6456L24.3205 23.1012C24.4157 23.1961 24.4157 23.3661 24.3136 23.4682L24.3136 23.4682Z" fill="white" />
                  <path d="M19.3275 26.4414H2.00391V30.2979H19.3275V26.4414ZM5.70415 28.8083H3.92216C3.68418 28.8083 3.48691 28.6111 3.48691 28.3731C3.48691 28.1351 3.68418 27.9378 3.92216 27.9378H5.70415C5.94213 27.9378 6.1394 28.1351 6.1394 28.3731C6.1394 28.6111 5.94213 28.8083 5.70415 28.8083ZM17.4093 28.8083H7.9214C7.68342 28.8083 7.48615 28.6111 7.48615 28.3731C7.48615 28.1348 7.67653 27.9378 7.9214 27.9378H17.4093C17.6473 27.9378 17.8445 28.1351 17.8445 28.3731C17.8445 28.6111 17.6473 28.8083 17.4093 28.8083Z" fill="white" />
                  <path d="M20.7227 30.3057H25.7625V26.4492H20.7227V30.3057ZM22.3757 27.5032C22.743 27.1359 23.3414 27.1359 23.7087 27.5032C24.008 27.8025 24.0487 28.2512 23.8583 28.612L24.3139 29.0676C24.416 29.1696 24.416 29.3328 24.3139 29.4349C24.2595 29.4894 24.1984 29.5097 24.1304 29.5097C24.0625 29.5097 23.9945 29.4825 23.9469 29.4349L23.4913 28.9793C23.3554 29.0541 23.2058 29.1086 23.0492 29.1086C22.7975 29.1086 22.5595 29.0134 22.3826 28.8296C22.0084 28.4692 22.0084 27.8705 22.3757 27.5032L22.3757 27.5032Z" fill="white" />
                  <path d="M23.3323 28.4603C23.4954 28.2972 23.4954 28.032 23.3323 27.8685C23.2506 27.7868 23.1419 27.7461 23.0398 27.7461C22.9377 27.7461 22.8291 27.7868 22.7474 27.8685C22.5842 28.0317 22.5842 28.2969 22.7474 28.4603C22.9039 28.6235 23.176 28.6235 23.3323 28.4603H23.3323Z" fill="white" />
                  <path d="M34.9912 6.98311C34.9912 5.43905 33.7396 4.18781 32.1959 4.18781L15.1039 4.1875C13.5598 4.1875 12.3086 5.43906 12.3086 6.9828V7.79916H34.9918L34.9912 6.98311Z" fill="white" />
                  <path d="M41.7832 29.2661C41.8715 29.3544 41.9805 29.3955 42.0891 29.3955C42.1981 29.3955 42.3136 29.3548 42.3951 29.2661C42.5651 29.0961 42.5651 28.8171 42.3951 28.6471L41.4497 27.7017C41.2797 27.5317 41.0007 27.5317 40.8306 27.7017C40.6606 27.8718 40.6606 28.1508 40.8306 28.3208L41.7832 29.2661Z" fill="white" />
                  <path d="M35.7669 27.5637L34.5494 28.7812C34.3794 28.9512 34.3794 29.2302 34.5494 29.4003C34.6377 29.4886 34.7467 29.5296 34.8553 29.5296C34.9643 29.5296 35.0798 29.4889 35.1613 29.4003L36.3787 28.1828C36.5488 28.0127 36.5488 27.7337 36.3787 27.5637C36.2156 27.3868 35.9369 27.3937 35.7669 27.5637Z" fill="white" />
                  <path d="M38.5433 19.7695C34.4215 19.7695 31.082 23.109 31.082 27.2308C31.082 31.3525 34.4215 34.692 38.5433 34.692C42.665 34.692 46.0045 31.3525 46.0045 27.2308C45.9976 23.1094 42.665 19.7695 38.5433 19.7695ZM42.6243 24.2247L38.5433 27.1359L34.4623 24.2247H42.6243ZM43.3723 30.2371H33.7145V24.7617L38.2919 28.0265C38.3667 28.0809 38.455 28.1082 38.5436 28.1082C38.6319 28.1082 38.7206 28.0809 38.7954 28.0265L43.3728 24.7617L43.3723 30.2371Z" fill="white" />
                  <path d="M30.2064 27.2304C30.2064 23.9043 32.1654 21.041 34.9879 19.7011V8.67578H12.3047V19.5993H26.6287V31.1754H12.3047V36.7256H34.9879V34.7532C32.1653 33.4199 30.2064 30.5564 30.2064 27.2306V27.2304ZM31.6894 11.9468H32.6893C32.9748 11.9468 33.2062 12.1782 33.2062 12.4638C33.2062 12.7494 32.9748 12.9808 32.6893 12.9808H31.6894C31.4038 12.9808 31.1724 12.7494 31.1724 12.4638C31.1724 12.1782 31.4035 11.9468 31.6894 11.9468ZM24.3233 11.9468H29.3631C29.6487 11.9468 29.8801 12.1782 29.8801 12.4638C29.8801 12.7494 29.6487 12.9808 29.3631 12.9808H24.3233C24.0378 12.9808 23.8064 12.7494 23.8064 12.4638C23.8132 12.1782 24.0443 11.9468 24.3233 11.9468ZM24.3233 14.4362H26.4047C26.6903 14.4362 26.9217 14.6676 26.9217 14.9532C26.9217 15.2388 26.6903 15.4702 26.4047 15.4702H24.3233C24.0378 15.4702 23.8064 15.2388 23.8064 14.9532C23.8132 14.6673 24.0443 14.4362 24.3233 14.4362ZM21.487 17.9596H14.0937V10.5594H21.487V17.9596ZM27.7105 17.9596H24.3302C24.0447 17.9596 23.8132 17.7282 23.8132 17.4426C23.8132 17.157 24.0447 16.9256 24.3302 16.9256H27.7105C27.996 16.9256 28.2274 17.157 28.2274 17.4426C28.2274 17.7282 27.996 17.9596 27.7105 17.9596ZM28.5538 14.9532C28.5538 14.6676 28.7852 14.4362 29.0707 14.4362H32.6893C32.9749 14.4362 33.2063 14.6676 33.2063 14.9532C33.2063 15.2388 32.9749 15.4702 32.6893 15.4702H29.0707C28.7852 15.4702 28.5538 15.2388 28.5538 14.9532ZM29.744 17.4426C29.744 17.157 29.9754 16.9256 30.261 16.9256H32.689C32.9745 16.9256 33.2059 17.157 33.2059 17.4426C33.2059 17.7282 32.9745 17.9596 32.689 17.9596H30.261C29.9754 17.9596 29.744 17.7282 29.744 17.4426Z" fill="white" />
                  <path d="M15.0078 16.8743C15.0078 17.1599 15.2392 17.3913 15.5248 17.3913C15.8104 17.3913 16.0418 17.1599 16.0418 16.8743C16.0418 15.9086 16.824 15.1264 17.7897 15.1264C18.7554 15.1264 19.5376 15.9086 19.5376 16.8743C19.5376 17.1599 19.769 17.3913 20.0546 17.3913C20.3401 17.3913 20.5715 17.1599 20.5715 16.8743C20.5715 15.8676 20.0273 14.9902 19.2248 14.5074C19.5648 14.147 19.7824 13.6641 19.7824 13.1334C19.7824 12.0315 18.8847 11.1406 17.7897 11.1406C16.6878 11.1406 15.797 12.0384 15.797 13.1334C15.797 13.6638 16.0077 14.1467 16.3547 14.5074C15.5518 14.9971 15.0079 15.8676 15.0079 16.8743H15.0078ZM17.7896 12.1677C18.3201 12.1677 18.7553 12.596 18.7553 13.1334C18.7553 13.6707 18.3201 14.0991 17.7896 14.0991C17.2592 14.0991 16.8239 13.6707 16.8239 13.1334C16.8236 12.5963 17.2589 12.1677 17.7896 12.1677Z" fill="white" />
                  <path d="M12.3086 41.0159C12.3086 42.56 13.5602 43.8112 15.1039 43.8112H32.2031C33.7471 43.8112 34.9984 42.5597 34.9984 41.0159V37.6016H12.3088L12.3086 41.0159ZM23.6538 39.4584C24.3477 39.4584 24.9054 40.023 24.9054 40.71C24.9054 41.397 24.3408 41.9615 23.6538 41.9615C22.9599 41.9615 22.4022 41.397 22.4022 40.71C22.4026 40.023 22.9602 39.4584 23.6538 39.4584Z" fill="white" />
                </svg>
              </span>
            </div>
            <p>Expertise in SaaS and mobile application development
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ph-expertise-box">
            <div class="ph-dash-box">
              <span>
                <svg width="49" height="48" viewBox="0 0 49 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M35.6031 18.3658C35.2297 18.2373 34.8427 18.1157 34.4443 18.0006C34.5097 17.7334 34.5698 17.4695 34.6233 17.2102C35.5005 12.9519 34.927 9.52144 32.9684 8.39198C31.0903 7.30897 28.0189 8.43818 24.917 11.1377C24.6187 11.3973 24.3196 11.6721 24.0206 11.9602C23.8213 11.7696 23.6224 11.5854 23.4241 11.4093C20.1731 8.52276 16.9145 7.30634 14.9579 8.43907C13.0816 9.52522 12.526 12.7502 13.3156 16.7858C13.3919 17.1756 13.481 17.5737 13.5818 17.9784C13.1206 18.1093 12.6754 18.2489 12.2494 18.3974C8.43803 19.7262 6.00391 21.8088 6.00391 23.9689C6.00391 26.2 8.61694 28.4378 12.5868 29.7947C12.9001 29.9017 13.2252 30.003 13.5602 30.0991C13.4514 30.5368 13.3568 30.9658 13.2774 31.3842C12.5245 35.3497 13.1125 38.4985 14.9838 39.5778C16.9166 40.6924 20.1604 39.5467 23.3191 36.7857C23.5687 36.5674 23.8193 36.336 24.0703 36.0934C24.3956 36.4066 24.7204 36.7031 25.0435 36.9812C28.1031 39.6141 31.1249 40.6772 32.9944 39.5949C34.9253 38.4771 35.5528 35.0945 34.7381 30.9791C34.6759 30.6648 34.6035 30.3437 34.5222 30.0169C34.75 29.9495 34.9736 29.88 35.1917 29.8077C39.3187 28.4403 42.0039 26.2298 42.0039 23.9689C42.0039 21.8009 39.4913 19.7043 35.6031 18.3658ZM34.708 28.3479C34.5112 28.4131 34.3092 28.4761 34.1034 28.5372C33.6477 27.0948 33.0328 25.5611 32.2804 23.9764C32.9984 22.4296 33.5896 20.9154 34.0324 19.4824C34.4007 19.589 34.7581 19.7014 35.1025 19.82C38.4339 20.9668 40.466 22.6624 40.466 23.9689C40.466 25.3606 38.2714 27.1672 34.708 28.3479ZM33.2294 31.2778C33.5897 33.0976 33.6411 34.7429 33.4025 36.0291C33.1881 37.1848 32.7569 37.9554 32.2238 38.264C31.0892 38.9207 28.6631 38.0671 26.0465 35.8154C25.7465 35.5573 25.4444 35.2817 25.1413 34.99C26.1557 33.8806 27.1695 32.5909 28.159 31.1585C29.8993 31.0041 31.5435 30.7516 33.0346 30.4069C33.108 30.7032 33.1732 30.9937 33.2294 31.2778ZM18.2771 38.1505C17.1687 38.542 16.2858 38.5532 15.7522 38.2455C14.6166 37.5905 14.1446 35.0623 14.7885 31.671C14.8623 31.2826 14.95 30.8836 15.0512 30.4758C16.526 30.8019 18.1581 31.0366 19.9026 31.178C20.8987 32.5796 21.9418 33.8679 22.993 34.996C22.7633 35.2177 22.5346 35.4288 22.3071 35.6277C20.9103 36.8486 19.5107 37.7148 18.2771 38.1505ZM13.0842 28.3394C11.3288 27.7394 9.87912 26.9597 8.88543 26.1087C7.99255 25.3441 7.54175 24.5849 7.54175 23.9689C7.54175 22.6581 9.49611 20.986 12.7556 19.8496C13.1511 19.7117 13.5652 19.5817 13.9948 19.4597C14.4453 20.925 15.0362 22.4571 15.7494 24.0064C15.027 25.5786 14.4277 27.1351 13.9728 28.6176C13.6665 28.5296 13.3697 28.4369 13.0842 28.3394ZM14.8249 16.4905C14.1483 13.0329 14.5977 10.4246 15.7284 9.77007C16.9327 9.07282 19.5959 10.067 22.4029 12.5593C22.5823 12.7186 22.7624 12.8854 22.9431 13.0579C21.8971 14.181 20.8636 15.4596 19.8763 16.853C18.1832 17.0099 16.5625 17.262 15.0724 17.5996C14.9787 17.2227 14.8957 16.8525 14.8249 16.4905ZM30.3537 20.3249C29.9975 19.7096 29.6318 19.1089 29.2589 18.5245C30.4076 18.6698 31.5081 18.8625 32.5415 19.0984C32.2313 20.0928 31.8445 21.1325 31.3893 22.1983C31.0628 21.5783 30.7174 20.9532 30.3537 20.3249ZM24.0211 14.157C24.7304 14.9255 25.4408 15.7835 26.1395 16.7144C25.4354 16.6812 24.7226 16.6639 24.0039 16.6639C23.292 16.6639 22.5844 16.6808 21.8847 16.7135C22.5841 15.7912 23.3006 14.9343 24.0211 14.157ZM17.6479 20.3356C17.2921 20.9526 16.9531 21.5743 16.6317 22.1971C16.1838 21.135 15.8007 20.0906 15.4877 19.0821C16.5149 18.8523 17.6102 18.6643 18.7515 18.5219C18.3734 19.1116 18.0047 19.7167 17.6479 20.3354V20.3356ZM18.7844 29.5257C17.6052 29.3942 16.4934 29.2159 15.4665 28.9924C15.7845 27.9659 16.1761 26.8992 16.6334 25.8142C16.9557 26.4366 17.296 27.0585 17.654 27.6769H17.6541C18.0188 28.3069 18.3966 28.9239 18.7844 29.5257ZM24.0636 33.8893C23.3347 33.1029 22.6077 32.233 21.8976 31.2972C22.5869 31.3242 23.2897 31.3381 24.0039 31.3381C24.7377 31.3381 25.4631 31.3215 26.177 31.2898C25.476 32.2424 24.7682 33.1137 24.0636 33.8893ZM31.404 25.7589C31.8852 26.8556 32.2908 27.9167 32.6129 28.9257C31.5691 29.1639 30.4421 29.3557 29.2547 29.4982C29.6284 28.9059 29.9973 28.2949 30.3598 27.6663C30.7266 27.0304 31.0748 26.3935 31.404 25.7589ZM29.0277 26.898C28.4649 27.8737 27.8872 28.8052 27.3007 29.6844C26.2324 29.7608 25.1288 29.8002 24.0039 29.8002C22.8836 29.8002 21.7939 29.7654 20.7445 29.6973C20.1343 28.8065 19.544 27.8723 18.9849 26.9064H18.985C18.4273 25.9432 17.914 24.9718 17.449 24.0058C17.9139 23.0377 18.4258 22.0652 18.9803 21.1037L18.9802 21.1039C19.5362 20.1398 20.1213 19.2101 20.7258 18.3249C21.7964 18.244 22.8943 18.2018 24.0038 18.2018H24.0039C25.1184 18.2018 26.2177 18.2443 27.288 18.326C27.8833 19.2047 28.4645 20.1313 29.0226 21.0955C29.5871 22.0706 30.1056 23.0366 30.5746 23.984C30.107 24.9477 29.5897 25.9234 29.0277 26.898ZM32.2002 9.72432C33.4057 10.4195 33.8745 13.2233 33.1171 16.8998C33.0688 17.1344 33.0144 17.3734 32.9553 17.6155C31.4617 17.2709 29.8399 17.0145 28.1418 16.8551C27.1526 15.4465 26.1276 14.1659 25.0986 13.0572C25.3753 12.791 25.6515 12.5373 25.9266 12.2978C28.5844 9.98486 31.0684 9.07167 32.2002 9.72432ZM24.0039 20.7543C25.7793 20.7543 27.2186 22.1935 27.2186 23.9689C27.2186 25.7443 25.7793 27.1836 24.0039 27.1836C22.2285 27.1836 20.7892 25.7443 20.7892 23.9689C20.7892 22.1935 22.2285 20.7543 24.0039 20.7543Z" fill="white" />
                </svg>
              </span>
            </div>
            <p>Experience with the latest version of React Native
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ph-expertise-box">
            <div class="ph-dash-box">
              <span>
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M36.3918 11.3183L37.9571 9.75266C37.9893 9.71963 38.0077 9.6752 38.0077 9.62873C38.0077 9.58254 37.9893 9.53812 37.9571 9.50567L35.7345 7.28299C35.702 7.25084 35.6576 7.23242 35.6114 7.23242C35.5649 7.23242 35.5205 7.25084 35.4875 7.28299L33.9219 8.84829C34.8292 9.58343 35.6567 10.411 36.3919 11.3183L36.3918 11.3183Z" fill="white" />
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M27.8592 3.58593V4.98256C27.8592 5.02903 27.8408 5.07346 27.8077 5.10562C27.7753 5.13894 27.7309 5.15735 27.6847 5.15735H19.3037C19.2572 5.15735 19.2128 5.13894 19.1806 5.10562C19.1473 5.07346 19.1289 5.02903 19.1289 4.98256V3.58593C19.1289 3.53945 19.1473 3.49503 19.1806 3.46287C19.2128 3.42955 19.2572 3.41113 19.3037 3.41113H27.6847C27.7309 3.41113 27.7753 3.42955 27.8077 3.46287C27.8408 3.49502 27.8592 3.53945 27.8592 3.58593V3.58593Z" fill="white" />
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M13.934 10.3965C16.5172 8.21734 19.853 6.9043 23.4936 6.9043C31.6852 6.9043 38.3346 13.5539 38.3346 21.7453C38.3346 29.9368 31.685 36.5871 23.4936 36.5871C19.853 36.5871 16.5172 35.2741 13.934 33.095H9.5252C9.04319 33.095 8.65208 32.7039 8.65208 32.2219C8.65208 31.7401 9.04319 31.349 9.5252 31.349H12.1808C11.7148 30.7998 11.2869 30.2157 10.9028 29.6028H6.03303C5.55131 29.6028 5.16021 29.2117 5.16021 28.73C5.16021 28.248 5.55132 27.8569 6.03303 27.8569H9.96685C9.71108 27.293 9.49039 26.7099 9.30507 26.1109H4.28704C3.80503 26.1109 3.41392 25.7198 3.41392 25.2378C3.41392 24.7558 3.80503 24.3647 4.28704 24.3647H8.88265C8.78122 23.7938 8.71136 23.2107 8.67745 22.6188H2.54109C2.05908 22.6188 1.66797 22.2277 1.66797 21.7456C1.66797 21.2639 2.05908 20.8728 2.54109 20.8728H8.67745C8.71136 20.2809 8.78122 19.6987 8.88265 19.1266H4.28704C3.80503 19.1266 3.41392 18.7355 3.41392 18.2538C3.41392 17.7718 3.80503 17.3807 4.28704 17.3807H9.30507C9.49039 16.7817 9.71108 16.1986 9.96685 15.6347H6.03303C5.55131 15.6347 5.16021 15.2436 5.16021 14.7616C5.16021 14.2796 5.55132 13.8885 6.03303 13.8885H10.9028C11.2869 13.2749 11.7149 12.6918 12.1808 12.1426H9.5252C9.04319 12.1426 8.65208 11.7514 8.65208 11.2694C8.65208 10.7877 9.04319 10.3966 9.5252 10.3966L13.934 10.3965ZM23.4936 8.65023C16.2657 8.65023 10.3983 14.518 10.3983 21.7455C10.3983 28.9733 16.2657 34.8408 23.4936 34.8408C30.7211 34.8408 36.5888 28.9733 36.5888 21.7455C36.5888 14.518 30.7211 8.65023 23.4936 8.65023V8.65023ZM4.28695 33.095H6.03288C6.51489 33.095 6.906 32.7039 6.906 32.2219C6.906 31.7401 6.51489 31.349 6.03288 31.349H4.28695C3.80494 31.349 3.41383 31.7401 3.41383 32.2219C3.41383 32.7039 3.80494 33.095 4.28695 33.095ZM24.3661 10.4297C25.7995 10.5387 27.16 10.9152 28.3953 11.5089L27.1024 13.7489C26.8613 14.1663 27.0045 14.7006 27.4219 14.9415C27.839 15.1827 28.3734 15.0394 28.6142 14.622L29.9066 12.3835C31.0615 13.1763 32.0629 14.1777 32.8556 15.3326L30.6171 16.6249C30.1997 16.8658 30.0565 17.4001 30.2977 17.8173C30.5385 18.2347 31.0728 18.3779 31.4903 18.1367L33.7303 16.8439C34.3239 18.0792 34.7004 19.4396 34.8095 20.8731H32.2234C31.7417 20.8731 31.3506 21.2642 31.3506 21.7459C31.3506 22.2279 31.7417 22.619 32.2234 22.619H34.8095C34.7004 24.0524 34.3239 25.4125 33.7303 26.6478L31.4903 25.355C31.0729 25.1141 30.5385 25.2574 30.2977 25.6745C30.0565 26.0919 30.1997 26.6263 30.6171 26.8671L32.8556 28.1591C32.0629 29.3144 31.0614 30.3154 29.9066 31.1082L28.6142 28.87C28.3734 28.4526 27.8391 28.3094 27.4219 28.5503C27.0045 28.7914 26.8613 29.3257 27.1024 29.7429L28.3953 31.9832C27.16 32.5768 25.7995 32.953 24.3661 33.0624V30.4763C24.3661 29.9943 23.975 29.6032 23.4933 29.6032C23.0113 29.6032 22.6202 29.9943 22.6202 30.4763V33.0624C21.1867 32.953 19.8266 32.5768 18.5913 31.9832L19.8842 29.7429C20.125 29.3258 19.9818 28.7914 19.5647 28.5503C19.1473 28.3094 18.6129 28.4526 18.372 28.87L17.08 31.1082C15.9248 30.3154 14.9237 29.3143 14.131 28.1591L16.3691 26.8671C16.7865 26.6263 16.9298 26.092 16.6889 25.6745C16.4477 25.2574 15.9134 25.1141 15.4963 25.355L13.256 26.6478C12.6623 25.4125 12.2861 24.0524 12.1768 22.619H14.7629C15.2449 22.619 15.636 22.2279 15.636 21.7459C15.636 21.2642 15.2449 20.8731 14.7629 20.8731H12.1768C12.2861 19.4396 12.6623 18.0792 13.256 16.8439L15.4963 18.1367C15.9134 18.3779 16.4477 18.2347 16.6889 17.8173C16.9298 17.4001 16.7865 16.8658 16.3691 16.6249L14.131 15.3326C14.9237 14.1777 15.9249 13.1763 17.08 12.3835L18.372 14.622C18.6129 15.0394 19.1472 15.1827 19.5647 14.9415C19.9818 14.7006 20.125 14.1663 19.8842 13.7489L18.5913 11.5089C19.8266 10.9152 21.1867 10.5387 22.6202 10.4297V13.0157C22.6202 13.4975 23.0113 13.8886 23.4933 13.8886C23.975 13.8886 24.3661 13.4975 24.3661 13.0157V10.4297ZM22.6202 19.2761C21.6032 19.6359 20.8742 20.6067 20.8742 21.7458C20.8742 23.1915 22.0476 24.3648 23.4933 24.3648C24.6324 24.3648 25.6031 23.6358 25.963 22.6189H28.7314C29.2131 22.6189 29.6042 22.2278 29.6042 21.7458C29.6042 21.2641 29.2131 20.873 28.7314 20.873H25.963C25.6993 20.1291 25.1101 19.5389 24.3661 19.2761V16.5077C24.3661 16.026 23.975 15.6349 23.4933 15.6349C23.0113 15.6349 22.6202 16.026 22.6202 16.5077V19.2761ZM23.4933 20.873C23.975 20.873 24.3661 21.2641 24.3661 21.7458C24.3661 22.2278 23.975 22.6189 23.4933 22.6189C23.0113 22.6189 22.6202 22.2278 22.6202 21.7458C22.6202 21.2641 23.0113 20.873 23.4933 20.873ZM4.28665 12.1426H6.03258C6.51459 12.1426 6.9057 11.7514 6.9057 11.2694C6.9057 10.7877 6.51459 10.3966 6.03258 10.3966H4.28665C3.80464 10.3966 3.41353 10.7877 3.41353 11.2694C3.41353 11.7514 3.80464 12.1426 4.28665 12.1426Z" fill="white" />
                </svg>
              </span>
            </div>
            <p>Flexible in all time zone
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ph-expertise-box">
            <div class="ph-dash-box">
              <span>
                <svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20.0039 0C8.98391 0 0.00390625 8.98 0.00390625 20C0.00390625 31.02 8.98391 40 20.0039 40C31.0239 40 40.0039 31.02 40.0039 20C40.0039 8.98 31.0239 0 20.0039 0ZM29.5639 15.4L18.2239 26.74C17.9439 27.02 17.5639 27.18 17.1639 27.18C16.7639 27.18 16.3839 27.02 16.1039 26.74L10.4439 21.08C9.86391 20.5 9.86391 19.54 10.4439 18.96C11.0239 18.38 11.9839 18.38 12.5639 18.96L17.1639 23.56L27.4439 13.28C28.0239 12.7 28.9839 12.7 29.5639 13.28C30.1439 13.86 30.1439 14.8 29.5639 15.4Z" fill="white" />
                </svg>
              </span>
            </div>
            <p>Compliance with the industry's finest practices
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Hire Dedicated end -->

  <!-- Get quete form -->
  <section class="ph-get-qoute-sec ph-bg-color">
    <div class="container">
      <div class="col-xxl-10 col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto ph-get-qoute-s">
        <div class="row">
          <div class="col-lg-6 ph-contact-bg">
            <div class="ph-contact-details">
              <h4>Hire React Native Developers From Protonshub in 4 Easy Steps</h4>
              <p>Never let your project requirements get compromised. Hire the right developer and get the best output for your project. With Protonshub React Native mobile app development company gets the best industry-experienced developers and makes avail world-class results. </p>
              <ul>
                <li>Share your Requirements
                </li>
                <li>Shortlist The Perfect-Fit Talent
                </li>
                <li>Interview The Talent
                </li>
                <li>Onboard & Start The Project
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="ph-contact-form">
              <div class="ph-heading-title">
                <h4>Do You Have A Project In Mind?</h4>
                <p>Guaranteed Response within one Business Day!</p>
              </div>
              <%= bootstrap_form_for Project.new, url: projects_path, html: {class: 'ph-protons-form'}, remote: true do |f| %>
                  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                  <div class="row">
                    <ul>
                      <li>
                        <%= f.text_field :full_name, placeholder: 'Full Name', hide_label: true, wrapper: {class: ''} %>
                        <span class="inline-error project-error-full_name" style=""></span>
                      </li>
                      <li>
                        <%= f.email_field :email, placeholder: 'Email', hide_label: true, wrapper: {class: ''} %>
                        <span class="inline-error project-error-email" style=""></span>
                      </li>
                      <li>
                        <%= f.phone_field :contact_number, placeholder: 'Contact Number', hide_label: true, wrapper: {class: ''} %>
                        <span class="inline-error project-error-contact_number" style=""></span>
                      </li>
                      <li>
                        <%= f.collection_select :service_id, Service.activated, :id, :name, {include_blank: ("Select a Service"), hide_label: true, wrapper: {class: ''}} %>
                        <span class="inline-error project-error-service" style=""></span>
                      </li>
                    </ul>
                  </div>

                  <div class="ph-contact-msg">
                    <%= f.text_area :description, placeholder: 'Project Description', hide_label: true, wrapper: {class: ''} %>
                    <span class="inline-error project-error-description" style=""></span>
                  </div>

                  <div class="col-md-12">
                    <%= f.file_field :file, wrapper: {class: ''}, class: 'ph-attach-file' %>
                    <span class="inline-error project-error-file" style=""></span>
                  </div>
                  <div class="col-md-12 mt-3 text-center d-block">
                    <%= f.submit "Contact Now", class: "ph-btn ph-contact-btn" %>
                  </div>
                <% end %>
            </div>
          </div>
        </div>
        <div class="ph-shadow-back">
          <%= image_tag "ph-qoute-shadow.svg" %>
        </div>
      </div>
    </div>
  </section>
  <!-- Get quete form -->

  <!-- Accordion start -->
  <section class="ph-accordion-sec ">
    <div class="container">
      <div class="row">
        <div class="col-xxl-6 col-xl-10 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Frequently Asked Questions</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-10 col-xl-12 col-lg-12 col-md-12 mx-auto">
          <div class="ph-accordion-box">
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    What is the major advantage of React Native?
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    React Native serves many advantages and one of the top ones includes a simplified development process, support for multiple browsers, and so on.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Why should I hire a React Native developer from Protonshub?
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    Protonshub is central India’s leading Custom Software Development Company, providing the best offshore React Native Development Services across the globe. It has an experienced team of developers giving their best in every project by involving their expertise, innovation, and technological advancements.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Is it possible to hire a React Native Developer on an hourly basis?
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    Yes, with Protonshub you can get part-time developers to work on your project. You can easily choose the best developer that fits your requirements.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    How will I monitor my project status with the hired developer?
                  </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    With Protonshub you get a separate system to manage your communication, tasks, and project monitoring without any security issues. Get all updates and communicate easily with the developers.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
                    Is it cost-effective to hire React Native developers from Protonshub?
                  </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    If you are looking for a cost-effective way to hire the best-in-class developer, then yes, Protonshub is the right choice for you. Even if you are looking to <span><a href="javascript:;">hire React Native developers in India</a></span> then it can be achieved in the most simplified process.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingSix">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                    Will you provide me with the services to complete my incomplete project?
                  </button>
                </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    We will, indeed. Many times, our clients who had previously worked with other service providers had their work unfinished as a result of technical difficulties and other reasons. In addition to analyzing your project needs, Protonshub can create your project from the start if necessary, and provide the final results to you.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingSeven">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                    What are the payment methods in Protonshub?
                  </button>
                </h2>
                <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    We accept payments from Cards, UPI, Wallet, Net Banking and PayPal. Get benefits while paying us as we offer flexible payment options to our customers.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Accordion end -->

  <!-- Get Connect sec -->
  <section class="ph-getconnect-sec">
    <div class="container">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 mx-auto">
        <div class="row align-items-center">
          <div class="col-md-8 col-sm-6">
            <div class="ph-getconnect-content">
              <h5>Make a call From</h5>
              <h1>Achieve Your Set Target With Us!
              </h1>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="ph-getconnect-btn">
             <a data-bs-toggle="modal" href="#ph-have-a-project" class="ph-btn  ph-btn-white">Get In Touch <i class="fa-solid fa-arrow-right ms-2"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Get Connect sec -->
  <!-- Middle Content End -->

  <!-- footer Sec start -->
  <%= render partial: 'footer' %>
  <!-- footer sec end -->
</div>

<!-- Modal -->
<%= render partial: 'hire_developer' %>
<%= render partial: 'have_a_project' %>