<div class="ph-main-wrapper">
  <!-- Header start -->
  <%= render partial: 'header' %>
  <!-- Header end -->

  <!-- Middle Content Start -->
  <section class="ph-thankyou-sec">
    <div class="container">
      <div class="row">
        <div class="ph-thankyou text-center">
          <%= image_tag "thankyou-icon.svg" %>
          <div class="ph-four-page">
            <h3>Your form has submitted successfully.</h3>
              <div class="ph-banner-btn text-center mb-4">
                <%= link_to root_url, class: 'ph-btn' do %>
                  Go Back to Home<i class="fa-solid fa-arrow-right ms-2"></i>
                <% end %>
              </div>
            <p>If you have any issues <span><a href="#">contact us</a></span></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Middle Content End -->

  <!-- footer Sec start -->
  <%= render partial: 'footer' %>
  <!-- footer sec end -->
</div>

<!-- Modal -->
<%= render partial: 'hire_developer' %>