<title>Protonshub | UI UX</title>
<div class="ph-main-wrapper">
  <!-- Header start -->
  <%= render partial: 'header' %>
  <!-- Header end -->

  <!-- Middle Content Start -->
  <!-- Dedicated Development  start -->
  <section class="ph-app-develop-sec ph-uiux-sec">
    <div class="container">
      <div class="ph-OurTeam-content">
        <div class="row align-items-center">
          <div class="col-xxl-6 col-xl-8 col-lg-12 col-md-12 col-sm-12">
            <div class="ph-heading-title">
              <!-- <h6 class="ph-banner-tiltle">#Hire The Top Dedicated Developer </h6> -->
              <h1>Creative UI/UX Design And Development Services</h1>
              <p>Developing high-performing user interfaces that make every digital interaction a
                pleasurable and everlasting user experience. Our <span>UX/UI design services</span>
                and its team
                have a track record of producing captivating designs that convey brand
              individuality.</p>
              <div class="ph-banner-btn mt-4">
                <a href="javascript:;" class="ph-btn">Consult Us <i
                  class="fa-solid fa-arrow-right ms-2"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Dedicated Development End -->

  <!-- client slider start-->
  <section class="ph-our-client-sec">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xxl-8 col-xl-9 col-lg-12 col-md-12 col-sm-12 mx-auto">
          <div class="ph-boxlogo-shadow">
            <div class="ph-ourClient-logo ph-ourClient-dedicated mt-0">
              <div class="swiper ph-mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <%= image_tag "colgate.svg" %>
                  </div>
                  <div class="swiper-slide">
                    <%= image_tag "g2-org.svg" %>
                  </div>
                  <div class="swiper-slide">
                    <%= image_tag "henkel-org.svg" %>
                  </div>
                  <div class="swiper-slide">
                    <%= image_tag "stage.svg" %>
                  </div>
                  <div class="swiper-slide">
                    <%= image_tag "mahindra-org.svg" %>
                  </div>
                  <div class="swiper-slide">
                    <%= image_tag "manyvaar.svg" %>
                  </div>
                  <div class="swiper-slide">
                    <%= image_tag "honey.svg" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="ph-client-shadow">
              <%= image_tag "ph-qoute-shadow.svg" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- client slider end -->

  <!-- experience start -->
  <section class="ph-uiux-company ph-bg-color">
    <div class="container">
      <div class="row">
        <div class="col-xxl-10 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Leading UI/UX Design Company</h1>
            <p>A classic user interface helps you build a strong brand identity and inspires confidence
              in your audience. A visually appealing website may make a difference, and we are here to
              do everything in our power to make it appear worthwhile and visually appealing. Our goal
              is to close the gaps between a stakeholder and a user and to give a new look and feel to
              your web application.
            </p>
            <p>Protonshub, a leading <span><a href="javascript:;">UI/UX design company in the USA</a></span> prioritizes your needs
              and works tirelessly to make your idea a huge success in the current cutthroat
              marketplace. We comprehend your product and consider, from the perspective of the
              customer, what will persuade him to believe in it and how the product will appeal to the
              specific customer. To improve the user experience, our committed team works on your
              UI/UX and provides a timeless, understated, and appealing design.
            </p>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="ph-uiux-box">
            <div class="ph-uiux-icon">
              <span>
                <%= image_tag "research.svg" %>
              </span>
            </div>
            <h5>STEP1</h5>
            <h4>Research & Analysis</h4>
            <p>We initialize the design process by understanding your business needs, target, and
              competitors. After complete analysis, we mark the necessary deviations occurring, and
              then we try to fill the gap in your design by making it the best as per your
            requirements. </p>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="ph-uiux-box">
            <div class="ph-uiux-icon">
              <span>
                <%= image_tag "wireframes.svg" %>
              </span>
            </div>
            <h5>STEP2</h5>
            <h4>Wireframes & Designs</h4>
            <p>The creation of a blueprint and layout for any design is one of the crucial steps before
              it is finalized. Implementing a wireframe happens after determining the business's
              needs. One of the most affordable ways to create an engaging UI UX for your application
              is through this method.
            </p>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="ph-uiux-box">
            <div class="ph-uiux-icon">
              <span>
                <%= image_tag "code-development.svg" %>
              </span>
            </div>
            <h5>STEP3</h5>
            <h4>Code Development</h4>
            <p>We ensure that your website or app is user-friendly with the help of our best experts. In
              order to offer your brand a realistic appearance, we do our best to sync it with the UI
              UX. We support you in developing the proper your brand's identity and image with the
              help of our approach.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- experience end -->

  <!-- ui ux wireframe start  -->
  <section class="uiux-wireframe-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-6 col-xl-8 col-lg-10 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Best-in-Class UI Wireframe Design Services</h1>
            <p>Each design is derived from a drawing, and talented designers provide you with the
              greatest designs.
              Here is how Protonshub <span><a href="javascript:;">UI UX design services</a></span> can help you avail the right
              design:
            </p>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="ph-wirframe-box">
              <div class="ph-wireframe-inner">
                <h6>Wireframe Development Services</h6>
                <p>At Protonshub, our team builds wireframes and prototypes utilizing methods and
                  tools. Collaboration with end users and our clients is how we choose to go about
                this.</p>
              </div>
              <div class="ph-wireframe-inner">
                <h6>Prototyping and Heat-Map Analyze</h6>
                <p>Get a needed review and gather insights about how website users scroll, click
                  move and scroll the page. Improve your design seamlessly and boost results and
                engagement in a single go. </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="ph-wireframe-img">
              <%= image_tag "uiux-wirframe.png" %>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="ph-wirframe-box">
              <div class="ph-wireframe-inner">
                <h6>Wireframe to Design Services</h6>
                <p>We have the personnel, the experience, and the results from concept to delivery.
                  We provide practically everything, starting with user story mapping, user flows,
                iterative testing, conceptual wireframing, and high-fidelity wireframing.</p>
              </div>
              <div class="ph-wireframe-inner">
                <h6>Analyze Existing Wireframes
                </h6>
                <p>It's essential to conduct a thorough analysis of the current wireframe in order
                  to create an effective new one. You don't need to worry about it because
                  Protonshub is here to support you throughout the wireframe process.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ui ux wireframe end -->

  <!-- with us start -->
  <section class="ph-plan-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-10 col-xl-10 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1 class="ph-heading-title mb-3">Accelerating UI/UX Design Services For Mobile and Web
            Platforms</h1>
            <p class="mb-5">
              Your investment in the right expertise, experience, knowledge, and creativity decides
              your return.
              Don’t know how to get the right UX/UI service? You can trust us for this
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 mx-auto">
          <div class="row">
            <div class="col-md-4">
              <div class="ph-plan-box">
                <div class="ph-plan-content">
                  <h5>Mobile UI/UX Design Company</h5>
                  <p>Looking for a powerful user interface for your mobile application, we are
                    here to provide you with a user-friendly and engaging mobile UI.
                  </p>
                  <div class="ph-process-btn ph-plan-btn">
                    <a href="javascript:;" class="ph-btn">Get Started</a>
                  </div>
                </div>
                <div class="ph-circle-top"></div>
                <div class="ph-circle-bottom"></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="ph-plan-box ph-plan-box-white">
                <div class="ph-plan-content">
                  <h5>UI/UX Design Web Solutions</h5>
                  <p>We give your website the exact interface you want. From its sketching to its
                    final design, we give the finest results.
                  </p>
                  <div class="ph-process-btn ph-plan-btn">
                    <a href="javascript:;" class="ph-btn">Get Started</a>
                  </div>
                </div>
                <div class="ph-circle-top"></div>
                <div class="ph-circle-bottom"></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="ph-plan-box">
                <div class="ph-plan-content">
                  <h5>UX Design Optimization</h5>
                  <p>Struggling to find a UI UX Company that can help you in developing the right
                    user experience? We are here for you.
                  </p>
                  <div class="ph-process-btn ph-plan-btn">
                    <a href="javascript:;" class="ph-btn">Get Started</a>
                  </div>
                </div>
                <div class="ph-circle-top"></div>
                <div class="ph-circle-bottom"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- with us end -->

  <!-- Hire Dedicated start-->
  <section class="ph-dedicated-dp-sec">
    <div class="container">
      <div class="row">
        <div class="col-xxl-10 col-xl-12 col-lg-12 col-md-12 mx-auto col-sm-12">
          <div class="ph-heading-title ph-hire-title mb-0">
            <h1>If you are interested in our UIUX Design Services</h1>
            <p>
              Want to learn more about how we can provide you with the best UI/UX Design Services?
            </p>
            <div class="mt-4">
              <a href="javascript:;" class="ph-btn ph-btn-white">Contact Us <i
                class="fa-solid fa-arrow-right ms-2"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Hire Dedicated end -->

  <!-- industries start -->
  <section class="ph-spacer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xxl-8 col-xl-10 col-lg-12 col-md-12 mx-auto">
          <div class="ph-heading-title">
            <h1>Top Industries We Serve</h1>
            <p>We turn the process of digital transformation into one that is simple. Protonshub being
              one of the <span><a href="javascript:">best UI UX design companies in the USA</a></span> assists you to acquire
              one of the best designs ever created by maintaining your design in accordance with the
              most recent standards.
            </p>
          </div>
        </div>
        <div class="col-xxl-10 col-xl-10 col-md-12 mx-auto">
          <div class="row justify-content-center">
            <div class="col-xl-3">
              <div class="ph-Industries-box">
                <%= image_tag "video-icon.svg" %>
                <p>Video On Demand (VOD)</p>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="ph-Industries-box">
                <%= image_tag "ott-icon.svg" %>
                <p>OTT</p>

              </div>
            </div>
            <div class="col-xl-3">
              <div class="ph-Industries-box">
                <%= image_tag "like-icon.svg" %>
                <p>Social Media with Video / Live Streaming</p>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="ph-Industries-box">
                <%= image_tag "e-c-icon.svg" %>
                <p>E-commerce with Live Shopping</p>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="ph-Industries-box">
                <%= image_tag "fitness-icon.svg" %>
                <p>Fitness / GYM</p>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="ph-Industries-box">
                <%= image_tag "logistic-icon.svg" %>
                <p>Logistic</p>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="ph-Industries-box">
                <%= image_tag "healthcare-icon.svg" %>
                <p>Healthcare</p>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="ph-Industries-box">
                <%= image_tag "travel-icon.svg" %>
                <p>Travel</p>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="ph-Industries-box">
                <%= image_tag "restaurant-icon.svg" %>
                <p>Restaurant</p>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="ph-Industries-box">
                <%= image_tag "education-icon.svg" %>
                <p>E-Learning</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- industries end -->

  <!--  Start ph-testimonials -->
  <section class="ph-testimonials slider-thumbs">
    <div class="container">
      <div class="ph-swiper-slide">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="ph-heading-title">
              <h6>Our testimonials</h6>
              <h1>Our Client’s </h1>
            </div>
          </div>
          <div class="col-xxl-8 col-xl-9 col-lg-9 col-md-12 col-sm-12">
            <div class="ph-tesmonial-slider">
              <div class="swiper-container gallery-thumbs">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="img">
                      <div class="circle">
                        <%= image_tag "amine-belkhiria.png" %>
                      </div>
                      <span class="gr-purple-red-bg"></span>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="img">
                      <div class="circle">
                        <%= image_tag "lex-lightning.png" %>
                      </div>
                      <span class="gr-purple-red-bg"></span>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="img">
                      <div class="circle">
                        <%= image_tag "mate-andrasi.png" %>
                      </div>
                      <span class="gr-purple-red-bg"></span>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="img">
                      <div class="circle">
                        <%= image_tag "aleksandar-mishachkovski.png" %>
                      </div>
                      <span class="gr-purple-red-bg"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-container gallery-top">
                <div class="swiper-wrapper text-center">
                  <div class="swiper-slide">
                    <div class="item">
                      <div>
                        <p>Professional Web Development services!
                          We have been working with Protonshub for many years now. They
                          provided reliable solutions
                          for complex web development problems! We love their services and
                          we will continue
                          our cooperation for further product development projects
                        </p>
                      </div>
                      <div class="ph-client-detail">
                        <h4>Amine Belkhiria</h4>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="item">
                      <div>
                        <p>Protonshub built me a great app, as promised, on time and on
                          budget. The team
                          was very responsive to my needs, able to communicate the
                          technical details of the
                          job easily so that a rookie like me could easily understand the
                          process, and they
                          contributed good ideas and creativity to the final product.
                        </p>
                      </div>
                      <div class="ph-client-detail">
                        <h4>Lex Lightning</h4>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="item">
                      <div>
                        <p>I have been working on various different projects with
                          professionals from Protonshub. They are
                          not only very reliable, intelligent and get the job done, but
                          for Agile professionals like me they
                          are a Godsend: I hardly need to open them up or bridge cultural
                          gaps - there aren't any! The
                          moment I stated I encourage people to speak up.
                        </p>
                      </div>
                      <div class="ph-client-detail">
                        <h4>Máté Andrási</h4>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="item">
                      <div>
                        <p>We have used Protonshub on few small project in the past related
                          to SW services for mobile development.
                          I'm happy to say that i was quite satisfied with the quick
                          responses from their side
                          on any and all Question we had related to scope, timeframe and
                          quality of the code.
                        </p>
                      </div>
                      <div class="ph-client-detail">
                        <h4>Aleksandar Mishachkovski</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="controls-rf">
              <!-- Add Arrows -->
              <div class="swiper-button-next ctrl-circle">
                <span class="icon pe-7s-angle-right"></span>
              </div>
              <div class="swiper-button-prev ctrl-circle">
                <span class="icon pe-7s-angle-left"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End ph-testimonials -->

  <!-- Accordion start -->
  <section class="ph-accordion-sec ">
    <div class="container">
      <div class="row">
        <div class="col-xxl-6 col-xl-8 col-md-8 mx-auto">
          <div class="ph-heading-title">
            <h1>Frequently Asked Questions</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-10 col-xl-12 col-lg-12 col-md-12 mx-auto">
          <div class="ph-accordion-box">
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    What is UI/UX Design?
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">User Interface(UI) and User Experience Design (UX)
                    is the process of making the experience of a user count to be best while
                    interacting with a product. In the end, customer satisfaction is a result of
                    UI UX design. Giving your application a timeless and competitive appearance
                    aids in boosting customer engagement.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    What is the major difference between UI and UX design?
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">When using a website, app, or another electronic device, you interact with screens, buttons, icons, and other visual elements, which are referred to as user interfaces (UI). The user experience (UX)describes how you feel while you use a product.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Do mobile apps need UI UX designs?
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">One of the most important aspects of any mobile
                    application is its UI UX. In the end, the success of your app is dependent
                    upon how well you presented your application in front of your users. Making
                    the app interactive and engaging, requires the implementation of UI UX.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    Do you believe that UX/UI design is an investment that is worth making?
                  </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body"><p>The key components of UI UX design include creativity, tools, innovative thinking, and experience. The investment is based on the <span>UI UX design service company</span> you have confidence in. One of the most important things in the modern day is having a good interface.</p>
                    <p>Making interesting applications is crucial for battling competition and focusing on client experience. Therefore, if done after thorough research and analysis, investing in UI UX is completely worth the cost.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    What are the benefits of UI UX design?
                  </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Having a good UI UX design can add many benefits to your web and mobile application. The core advantages include more productivity, higher client intake, more satisfied users, increases SEO, improves branding, and a lot more. 

                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingSix">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                    Is there coding involved in UI UX?
                  </button>
                </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">When it comes to designing, coding is not an element that gets involved. But if you are a designer, having knowledge about coding, then it can help you in assessing the work of software development, which will ultimately improve your productivity and workflow. 
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingSeven">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                    What are wireframe designs?
                  </button>
                </h2>
                <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">A wireframe is a layout or a blueprint of your page that demonstrates the whole space allocation and where all the sections like functionalities, and the content will be added. It is one of the most effective steps that helps in making the designing process more effective. 
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingEight">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                    What is the impact of UI UX on a website?
                  </button>
                </h2>
                <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">One of the major impacts of UI UX design is that it increases customer experience and satisfaction. It helps you in achieving not just short-term but long-term goals as well. It adds a great benefit in increasing your conversion rates organically. 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Accordion end -->

  <!-- Get Connect sec -->
  <section class="ph-getconnect-sec">
    <div class="container">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 mx-auto">
        <div class="row align-items-center">
          <div class="col-md-8 col-sm-6">
            <div class="ph-getconnect-content">
              <h5>Make a call From</h5>
              <h1>Take a step and join us TODAY</h1>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="ph-getconnect-btn">
              <a href="javascript:;" class="ph-btn ph-btn-white">Connect Now <i
                class="fa-solid fa-arrow-right ms-2"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Get Connect sec -->
  <!-- Middle Content End -->

  <!-- footer Sec start -->
  <%= render partial: 'footer' %>
  <!-- footer sec end -->
</div>

<!-- Modal -->
<%= render partial: 'hire_developer' %>