<div class="ph-main-wrapper">
  <!-- Header start -->
  <%= render partial: 'home/header' %>
  <!-- Header end -->

  <!-- Middle Content Start -->
  <section class="ph-unprocessable_entity-sec">
    <div class="container">
      <div class="row align-items-center">
        <div class="ph-unprocessable_entity text-center">
          <%= image_tag "422.png" %>
          <div class="ph-four-page">
            <h3>Oops! unprocessible entity.</h3>
            <p>We're sorry, but the change you wanted was rejected.</p>
              <div class="ph-banner-btn text-center mb-4">
                <%= link_to root_url, class: 'ph-btn' do %>
                  Go Back to Home<i class="fa-solid fa-arrow-right ms-2"></i>
                <% end %>
              </div>
            <p>If you have any issues <span><a href="#">contact us</a></span></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Middle Content End -->

  <!-- footer Sec start -->
  <%= render partial: 'home/footer' %>
  <!-- footer sec end -->
</div>

<!-- Modal -->
<%= render partial: 'home/hire_developer' %>