<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Protonshub" />
    <meta name="keywords" content="software development company">
    <link rel="shortcut icon" href="assets/favicon.svg" type="image/x-icon">
  </head>

  <body>
    <title>Protonshub | Home</title>
    <%= yield %>
  </body>
</html>
